﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<script src="https://code.jquery.com/jquery-1.8.1.min.js"></script>*@
    <script src="~/Resources/Script/jquery-1.10.2.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/2020/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/Css/jquery_ui.css" />
    <!-- Swiper JS -->
    <script src="/resources/Script/2020/swiper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="~/Resources/Script/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Resources/Script/jquery.form.min.js"></script>
    <link rel="stylesheet" href="/Resources/Css/2020/asmodal.css" />
    <link rel="stylesheet" href="/resources/css/2020/swiper.css">
    <link rel="stylesheet" href="/resources/css/2020/style.css">
    <link rel="stylesheet" href="/resources/css/2020/sub.css">
    @RenderSection("CSS", required: false)
    <title>전남교육청 진로진학포털</title>
    <style type="text/css" media="print">
        .no-print {
            display: none;
        }
    </style>
</head>
<body>
    <header class="m_head no-print">
        <h1 class="logo">
            <a href="https://jdream.jne.go.kr/"><img src="/resources/images/2020/logo.png" alt="로고" width="100"></a>
        </h1>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <a href="javascript:void(0)" class="closebtn_v2">&times;</a>
            <ul class="m_head_top">
                <li class="home"><a href="./index.html"><img src="/resources/images/2020/home_blue.png" alt="홈으로" width="12"></a></li>
                @if (string.IsNullOrEmpty(Dream.Web.AfterSchool.Controllers.AppIdentity.Email))
                {
                    <li><a href="https://jdream.jne.go.kr/UAccount/Login">로그인</a></li>
                    <li><a href="https://jdream.jne.go.kr/Member/Registration">회원가입</a></li>
                }
                else
                {
                    <li><a href="https://jdream.jne.go.kr/UAccount/Logout">로그아웃</a></li>
                    <li><a href="https://jdream.jne.go.kr/UAccount/login?redirect=https://jdream.jne.go.kr/UAccount/AccountMngUser">정보수정</a></li>
                }
            </ul>
            <div class="accordion-box">
                <ul class="list">
                    <li>
                        <a class="title_v2" href="https://jdream.jne.go.kr/Center/Index">
                            권역별진학지원센터
                        </a>
                    </li>
                    <li>
                        <p class="title_v2">
                            <span class="fl">1:1진로진학상담</span>
                            <img src="/resources/images/2020/acc_arrow.png" alt="화살표">
                        </p>
                        <div class="con_v2">
                            <div class="nav_v2">
                                <a href="#" class="link arrow" name="consult">상담신청</a>
                                <a href="https://consult.theschools.co.kr/MyPage/Index" class="link" name=" consultlist">나의상담</a>
                                @if ("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType))
                                {
                                    <a href="#" class="link arrow" name="message">메시지관리</a>
                                }
                                <a href="#" class="link arrow" name="consultenv">설정</a>
                            </div>
                            <div class="nav_v3" name="consult" style="display:none;">
                                <a href="https://consult.theschools.co.kr/Offline/Index?OP1=0" class="link" name="interview">대면상담</a>
                                <a href="https://consult.theschools.co.kr/Parent/Index?OP1=4" class="link" name="call">대입지원관상담</a>
                                <a href="https://consult.theschools.co.kr/Video/Index?OP1=3" class="link" name="video">화상상담</a>
                                <a href="https://consult.theschools.co.kr/Teleline/Index?OP1=2" class="link" name="call">전화상담</a>
                                <a href="https://consult.theschools.co.kr/Online/Index?OP1=1" class="link" name="online">온라인상담</a>
                            </div>
                            @if ("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType))
                            {
                                <div class="nav_v3" name="message" style="display:none;">
                                    <a href="https://consult.theschools.co.kr/MyPage/SMS" class="link" name="smssend">SMS발송</a>
                                    <a href="https://consult.theschools.co.kr/MyPage/SMSList" class="link" name="smslist">SMS발송내역</a>
                                </div>
                            }

                            @if (!"".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.Email))
                            {
                                <div class="nav_v3" name="consultenv" style="display:none;">
                                    @if ("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType))
                                    {
                                        <a href="https://consult.theschools.co.kr/Account/infoT" class="link" name="defaultinfo">상담정보설정</a>
                                    }
                                    else
                                    {
                                        <a href="https://consult.theschools.co.kr/Account/infoH" class="link" name="defaultinfo">상담정보설정</a>
                                    }
                                    @if ("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "future@jne.go.kr".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.Email))
                                    {
                                        <a href="https://consult.theschools.co.kr/Config/Setting" class="link" name="env">환경설정</a>
                                        <a href="https://consult.theschools.co.kr/Camp/CampList" class="link" name="camplist">박람회관리</a>
                                    }
                                </div>
                            }
                        </div>
                    </li>
                    <li>
                        <p class="title_v2">
                            <span class="fl">드림플러스</span>
                            <img src="/resources/images/2020/acc_arrow.png" alt="화살표">
                        </p>
                        <div class="con_v2">
                            <div class="nav_v2">
                                <a href="https://jdream.jne.go.kr/Program/ContentsTemp" class="link" name="dreamplusinfo">프로그램 안내</a>
                                <a href="http://cspatch.futureplan.co.kr/CsSetupFile/DreamPlus3Setup.exe" class="link">프로그램 다운로드</a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <a class="title_v2" href="https://jdream.jne.go.kr/Home/AfterSchool">
                            더드림학교
                        </a>
                    </li>
                    <li>
                        <p class="title_v2">
                            <span class="fl">학교연합교육과정</span>
                            <img src="/resources/images/2020/acc_arrow.png" alt="화살표">
                        </p>
                        <div class="con_v2">
                            @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                            {
                                <div class="nav_v2">
                                    <a href="#" class="link arrow" name="lecture">강의 정보</a>
                                </div>
                                <div class="nav_v3" name="lecture" style="display:none;">
                                    <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link" name="0">개방형강의</a>
                                    <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link" name="1">학교연합형강의</a>
                                    <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link" name="my">나의 수강신청</a>
                                </div>
                            }
                            else
                            {
                                <div class="nav_v2">
                                    <a href="#" class="link arrow" name="lecture">강의 정보</a>
                                    <a href="#" class="link" name="lectureteacher">교사관리</a>
                                </div>
                                <div class="nav_v3" name="lecture" style="display:none;">
                                    <a href="/LectureManageMent/List?type=0" class="link" name="0">개방형강의</a>
                                    <a href="/LectureManageMent/List?type=1" class="link" name="1">학교연합형강의</a>
                                </div>
                            }
                        </div>
                    </li>
                    <li>
                        <p class="title_v2">
                            <span class="fl">진로학습검사</span>
                            <img src="/resources/images/2020/acc_arrow.png" alt="화살표">
                        </p>
                        <div class="con_v2">
                            <div class="nav_v2">
                                <a href="#" class="link arrow" name="consultinspection">진로학습검사</a>
                            </div>
                            <div class="nav_v3" name="consultinspection" style="display:none;">
                                <a href="https://jdream.jne.go.kr/CommonPopup/FPHow" class="link" name="consultinspection">검사안내</a>
                                <a target="_blank" href="https://www.career.go.kr/cnet/front/examen/inspctMain.do" class="link">커리어넷검사</a>
                                <a target="_blank" href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/jobPsyExamList.do?thisMenuId=M201200127" class="link">워크넷검사</a>
                                <a target="_blank" href="http://psy.futureplan.co.kr/smart.html" class="link">스마트검사</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="title_v2">
                            <span class="fl">공지사항</span>
                            <img src="/resources/images/2020/acc_arrow.png" alt="화살표">
                        </p>
                        <div class="con_v2">
                            <div class="nav_v2">
                                <a href="https://jdream.jne.go.kr/Board/BoardList" class="link" name="jnenotice">공지사항</a>
                                <a href="https://jdream.jne.go.kr/Board/ConsultList" class="link" name="jneconsult">진로진학 참고자료</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            $("p.title_v2").on('click', function () {
                if ($(this).hasClass("active")) {
                    let next = $(this).next(".con_v2");
                    next.slideToggle(100);
                    next.css("display", "flex");
                }
                else {
                    let openMenuTag = $("p.title_v2.active");

                    if (openMenuTag.length > 0) {
                        openMenuTag.removeClass("active");
                        openMenuTag.next(".con_v2").slideToggle(100);
                    }
                    let next = $(this).next(".con_v2");
                    next.slideToggle(100);
                    next.css("display", "flex");
                }
            });

            $("div.nav_v2").find("a").on('click', function () {
                $("div.nav_v2 > a.link").removeClass("active");
                $(this).addClass("active");

                if ($(this).hasClass("arrow")) {
                    $("div.nav_v3").css("display", "none");
                    $(this).parent().parent().find("div[name=" + $(this)[0].name + "]").slideToggle(100);
                }
            });

            $(function () {
                let midnav = "@ViewBag.MidNavigation";
                let nav = "@ViewBag.Navigation";

                $("div.nav_v2").find("a").each(function (index, item) {
                    if (item.name != "" && item.name == midnav.toLowerCase()) {
                        let parent = $(item).parent().parent().parent().find("p.title_v2");
                        parent.addClass("active");
                        let next = parent.next(".con_v2");
                        next.slideToggle(0);
                        next.css("display", "flex");

                        $(item).addClass("active");
                    }
                });

                $("div.nav_v3").find("a").each(function (index, item) {
                    if (item.name != "" && item.name == nav.toLowerCase()) {
                        $(item).addClass("active");
                        $(item).parent().slideToggle(0);
                    }
                });
            });


        </script>

        <script>
            var acc = document.getElementsByClassName("title_v2");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");

                });
            }
        </script>

        <a href="#0" class="opennav">&#9776;</a>

        <script>
            $(function () {
                $('.opennav').click(function () {
                    $('.nav_bg').show();
                    $('html,body').css({
                        'overflow': "hidden"
                    });
                    $('.closebtn').css({
                        'right': "310px"
                    });
                    $('.sidenav').css({
                        'overflow-x': "initial"
                    });
                    $('.sidenav').css({
                        'overflow-x': "initial"
                    });
                    $('.sidenav').css({
                        'right': "0"
                    });
                });
            });
            $(function () {
                $('.closebtn').click(function () {
                    $('.nav_bg').hide();

                    $('html,body').css({
                        'overflow': ""
                    });
                    $('.closebtn').css({
                        'right': "-30px"
                    });
                    $('.sidenav').css({
                        'overflow-x': "hidden"
                    });
                    $('.sidenav').css({
                        'right': "-300px"
                    });
                });
            });
            $(function () {
                $('.closebtn_v2').click(function () {
                    $('.nav_bg').hide();

                    $('html,body').css({
                        'overflow': ""
                    });
                    $('.closebtn').css({
                        'right': "-30px"
                    });
                    $('.sidenav').css({
                        'overflow-x': "hidden"
                    });
                    $('.sidenav').css({
                        'right': "-300px"
                    });
                });
            });
        </script>

        <div class="nav_bg"></div>
    </header>

    <header class="head no-print">
        <div class="head_top">
            <ul>
                <li class="home"><a href="https://jdream.jne.go.kr/"><img src="/resources/images/2020/home.png" alt="홈으로" width="12"></a></li>
                @if (string.IsNullOrEmpty(Dream.Web.AfterSchool.Controllers.AppIdentity.Email))
                {
                    <li><a href="https://jdream.jne.go.kr/UAccount/Login">로그인</a></li>
                    <li><a href="https://jdream.jne.go.kr/Member/Registration">회원가입</a></li>
                }
                else
                {
                    <li><a href="https://jdream.jne.go.kr/UAccount/Logout">로그아웃</a></li>
                    <li><a href="https://jdream.jne.go.kr/UAccount/login?redirect=https://jdream.jne.go.kr/UAccount/AccountMngUser">정보수정</a></li>
                }
            </ul>
        </div>
        <div class="logo_header">
            <h1 class="logo">
                <a href="https://jdream.jne.go.kr/"><img src="/resources/images/2020/logo.png" alt="로고"></a>
            </h1>
            <div class="dropdown">
                <a href="https://jdream.jne.go.kr/Center/Index" class="dropdown_box">
                    권역별진학지원센터
                </a>
                <div class="dropdown_box" onclick="goUrl('https://consult.theschools.co.kr/Online/Index?OP1=1')">
                    1:1진로진학상담
                    <div class="dropdown_menu">
                        <div class="inner">
                            <div class="first_depth">
                                <span>1:1진로진학상담</span>
                            </div>
                            <div class="second_depth">
                                <a href="https://consult.theschools.co.kr/Online/Index?OP1=1">상담신청</a>
                                <ul class="third_depth">
                                    <li>
                                        <a href="https://consult.theschools.co.kr/Offline/Index?OP1=0">대면상담</a>
                                        <a href="https://consult.theschools.co.kr/Parent/Index?OP1=4">대입지원관상담</a>
                                        <a href="https://consult.theschools.co.kr/Video/Index?OP1=3">화상상담</a>
                                        <a href="https://consult.theschools.co.kr/Teleline/Index?OP1=2">전화상담</a>
                                        <a href="https://consult.theschools.co.kr/Online/Index?OP1=1">온라인상담</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="second_depth">
                                <a href="https://consult.theschools.co.kr/MyPage/Index">나의상담</a>
                            </div>
                            @if ("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType))
                            {
                                <div class="second_depth">
                                    <a href="https://consult.theschools.co.kr/MyPage/SMS">메시지관리</a>
                                    <ul class="third_depth">
                                        <li>
                                            <a href="https://consult.theschools.co.kr/MyPage/SMS">SMS발송</a>
                                            <a href="https://consult.theschools.co.kr/MyPage/SMSList">SMS발송내역</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @if (!"".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.Email))
                            {
                                <div class="second_depth">
                                    <a href="@("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) ? "/Account/infoT" : "/Account/infoh")">설정</a>
                                    <ul class="third_depth">
                                        <li>
                                            @if ("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "T1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType))
                                            {
                                                <a href="https://consult.theschools.co.kr/Account/infoT">상담정보설정</a>
                                            }
                                            else
                                            {
                                                <a href="https://consult.theschools.co.kr/Account/infoH">상담정보설정</a>
                                            }
                                            @if ("A".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.MemberType) || "future@jne.go.kr".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.Email))
                                            {
                                                <a href="https://consult.theschools.co.kr/Config/Setting">환경설정</a>
                                                <a href="https://consult.theschools.co.kr/Camp/CampList">박람회관리</a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="dropdown_box" onclick="goUrl('https://jdream.jne.go.kr/Program/ContentsTemp')">
                    드림플러스
                    <div class="dropdown_menu">
                        <div class="inner">
                            <div class="first_depth">
                                <span>드림플러스</span>
                            </div>
                            <div class="second_depth">
                                <a href="https://jdream.jne.go.kr/Program/ContentsTemp">프로그램 안내</a>
                            </div>
                            <div class="second_depth">
                                <a href="http://cspatch.futureplan.co.kr/CsSetupFile/DreamPlus3Setup.exe">프로그램 다운로드</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://jdream.jne.go.kr/Home/AfterSchool" class="dropdown_box">
                    더드림학교
                </a>
                <div class="dropdown_box" onclick="goUrl('@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")')">
                    학교연합교육과정
                    <div class="dropdown_menu">
                        <div class="inner">
                            <div class="first_depth">
                                <span>학교연합교육과정</span>
                            </div>
                            @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                            {
                                <div class="second_depth">
                                    <a href="/LectureRequest/LectureList?page=1&lectureType=0">강의 신청</a>
                                    <ul class="third_depth">
                                        <li>
                                            <a href="/LectureRequest/LectureList?page=1&lectureType=0">개방형강의</a>
                                            <a href="/LectureRequest/LectureList?page=1&lectureType=1">학교연합형강의</a>
                                            <a href="/LectureRequest/LectureMyList?page=1&lectureType=1">나의 수강신청</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="second_depth">
                                    <a></a>
                                </div>
                            }
                            else
                            {
                                <div class="second_depth">
                                    <a href="/LectureManageMent/List?type=0">강의 정보</a>
                                    <ul class="third_depth">
                                        <li>
                                            <a href="/LectureManageMent/List?type=0">개방형강의</a>
                                            <a href="/LectureManageMent/List?type=1">학교연합형강의</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="second_depth">
                                    <a href="/TeacherManageMent/List">교사관리</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="dropdown_box" onclick="goUrl('https://jdream.jne.go.kr/CommonPopup/FPHow')">
                    진로학습검사
                    <div class="dropdown_menu">
                        <div class="inner">
                            <div class="first_depth">
                                <span>진로학습검사</span>
                            </div>
                            <div class="second_depth">
                                <a href="https://jdream.jne.go.kr/CommonPopup/FPHow">진로학습검사</a>
                                <ul class="third_depth">
                                    <li>
                                        <a target="/CommonPopup/FPHow" href="#">검사안내</a>
                                        <a target="_blank" href="https://www.career.go.kr/cnet/front/examen/inspctMain.do">커리어넷검사</a>
                                        <a target="_blank" href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/jobPsyExamList.do?thisMenuId=M201200127">워크넷</a>
                                        <a target="_blank" href="http://psy.futureplan.co.kr/smart.html">스마트검사</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="second_depth">
                                <a></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown_box" onclick="goUrl('https://jdream.jne.go.kr/Board/BoardList')">
                    공지사항
                    <div class="dropdown_menu">
                        <div class="inner">
                            <div class="first_depth">
                                <span>공지사항</span>
                            </div>
                            <div class="second_depth">
                                <a href="https://jdream.jne.go.kr/Board/BoardList">공지사항</a>
                            </div>
                            <div class="second_depth">
                                <a href="https://jdream.jne.go.kr/Board/ConsultList">진로진학 참고자료</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var goUrl = function (url, newTab) {
                if (newTab) {
                    window.open(url);
                }
                else {
                    document.location.href = url;
                }
            }
        </script>
    </header>


    @RenderBody()

    <script>
        $("li.sub_title_v3").find("p.title_v2").on('click', function () {
            this.classList.toggle("active");
            $(this).next(".con_v2").slideToggle(100);
        });
    </script>
    @RenderSection("Javascript", required: false)
    <footer class="no-print">
        <div class="inner">
            <ul>
                @*<li><a href="#">이용안내</a></li>*@
                <li><a target="_blank" href="https://www.jne.go.kr/main/cm/cntnts/cntntsView.do?mi=253&cntntsId=51" style="color:red;">개인정보처리방침</a></li>
                @*<li><a href="#">저작권청책</a></li>
                    <li><a href="#">찾아오시는길</a></li>*@
            </ul>
            <div class="f_box">
                <h1 class="logo">
                    <a href="https://jdream.jne.go.kr/"><img src="/resources/images/2020/logo.png" alt="로고" width="140"></a>
                </h1>
                <ul>
                    <li class="address">
                        전라남도 무안군 삼향읍 어진누리길 10(남악리 1457번지)<br class="m_font" />
                        <span>대표전화 : 061-260-0133</span>
                    </li>
                    <li class="fax">팩스 : 061-260-0540</li>
                </ul>
                <ul>

                    <li class="copy">Copyright © 2015 Jellanamdo office of education All Right Reserved.</li>
                </ul>
            </div>
        </div>
    </footer>
    <a href="#" class="top"></a>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('.top').fadeIn();
            } else {
                $('.top').fadeOut();
            }
        });
        $('.top').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 400);
            return false;
        });
        $(document).ready(function () {
            $(".dropdown>.dropdown_box").mouseover(function () {
                $(this).children(".dropdown_menu").stop().slideDown(200);
            });
            $(".dropdown>.dropdown_box").mouseleave(function () {
                $(this).children(".dropdown_menu").stop().slideUp(200);
            });
        });
    </script>
</body>
</html>
