﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<script src="https://code.jquery.com/jquery-1.8.1.min.js"></script>*@
    <script src="~/Resources/Script/jquery-1.10.2.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/2020/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/Css/jquery_ui.css" />
    <!-- Swiper JS -->
    <script src="/resources/Script/2020/swiper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="~/Resources/Script/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Resources/Script/jquery.form.min.js"></script>
    <link rel="stylesheet" href="/Resources/Css/2020/asmodal.css" />
    <link rel="stylesheet" href="/resources/css/2020/swiper.css">
    <link rel="stylesheet" href="/resources/css/2020/style.css">
    <link rel="stylesheet" href="/resources/css/2020/sub.css">
    @RenderSection("CSS", required: false)
    <title>전남교육청 진로진학포털</title>
    <style type="text/css" media="print">
        .no-print {
            display: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            controlSelectBox();
        });
        function controlSelectBox() {
            var select = $('select');
            for (var i = 0; i < select.length; i++) {
                var idxData = select.eq(i).children('option:selected').text();
                select.eq(i).siblings('label').text(idxData);
            }
            select.change(function () {
                var select_name = $(this).children("option:selected").text();
                $(this).siblings("label").text(select_name);
            });
        }

    </script>
    <style>
        .middle-btn {
            width: 100px;
            height: 40px;
        }

        .small-btn {
            width: 50px;
            height: 25px;
        }

        .white {
            background-color: #ffffff;
            border: 1px solid #ba3741;
            border-image: none;
            color: #ba3741;
        }

        .red {
            background: #ba3741;
            border: 1px solid #ba3741;
            border-image: none;
            color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
