﻿@using Dream.Web.AfterSchool.Core.Entities;
@using Dream.Web.AfterSchool.Models;
@{
    Pager pager = ViewBag.Pager;
}
@functions
{
    IHtmlString GetLink(int page, string linkText = "", bool isNowPage = false)
    {
        linkText = string.IsNullOrEmpty(linkText) ? page.ToString() : linkText;
        string nowPage = isNowPage ? "<span class='sr-only'>(current)</span>" : "";
        string link = string.Format("<a class='page-link' href='javascript:Pager({0})'>{1} {2}</a>", page, linkText, nowPage);
        return Html.Raw(link);
    }
}
<script type="text/javascript">
    var Pager = function (page) {
        $("#PG").val(page);
        $("#frmListSearch").submit();
    }
</script>
<div>
    <div class="align-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item navbutton">@GetLink(pager.FirstPage, "처음")</li>
                @if (pager.Prev > 0)
                {
                    <li class="page-item navbutton">@GetLink(pager.Prev, "이전")</li>
                }

                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    bool isNowpage = i == pager.NowPage;
                    string active = isNowpage ? "active" : "";
                    <li class="page-item @active">
                        @GetLink(i, i.ToString(), isNowpage)
                    </li>
                }

                @if (pager.Next <= pager.LastPage)
                {
                    <li class="page-item navbutton">@GetLink(pager.Next, "다음")</li>
                }
                <li class="page-item navbutton">@GetLink(pager.LastPage, "마지막")</li>
            </ul>
        </nav>
    </div>
</div>
