﻿@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.MobileWeb.Models

@model LectureRequestModel


@if (ViewBag.ErrorMsg == null)
{
    <script type="text/javascript">
        var selectInit = function () {
            // 학년
            for (var i = 1; i < 4; i++) {
                $("#stgrade").append("<option value=" + i + ">" + i + "학년" + "</option>");
                if (@Model.user.grade == i.toString()) {
                    $("#stgrade").val(i.toString());
                }
            }
            // 반
            for (var i = 1; i < 16; i++) {
                $("#stclass").append("<option value=" + i + ">" + i + "반" + "</option>");
                if (@Model.user.mclass == i) {
                    $("#stclass").val(i.toString());
                }
            }
            // 번호
            for (var i = 1; i < 51; i++) {
                $("#stno").append("<option value=" + i + ">" + i + "번" + "</option>");
                if (@Model.user.no == i.toString()) {
                     $("#stno").val(i.toString());
                }
            }

            // 성별
            $("#stgender").append("<option value='1'>남자</option>");
            $("#stgender").append("<option value='2'>여자</option>");
            $("#stgender").val(@(Model.user.Gender?.ToString()));
        }

        // 취소하기
        $("#btnCancel").click(function () {
            $("#fpModal").modal('hide');
        });


        // 신청하기
        $("#btnConfirm").click(function () {
            $.ajax({
                url: '@Url.Action("LectureRequestInsert", "LectureRequest")',
                data: {
                    request: {
                        LectureSeq: "@Model.lecture.LectureSeq",
                        SchCode: "@Model.lecture.CreateSchCode",
                        Motive: $("#motive").val(),
                        State: 0
                    },
                },
                dataType: 'json',
                type: 'POST',
                beforeSend: function () {
                    $.isLoading({
                        text: "신청 중..",
                        position: "overlay"
                    });
                }
            })
            .done(function (json) {
                $.isLoading("hide");

                if (json.ok) {
                    alert(json.message);

                    var url = '@Url.Action("LectureList", "LectureRequest")' + "?lectureType=" + "@Model.lecture.LectureType.ToString()";
                    window.location.href = url;
                } else {
                    alert(json.message);
                }
            })
            .fail(function (httpObj, textStatus) {
                window.location.reload();
            });
        });

        // 뒤로가기
        $("#menu_back").click(function () {
            $("#fpModal").modal('hide');
        });

        //selectInit();

    </script>
}


    @if (ViewBag.ErrorMsg != null)
    {
        <script type="text/javascript">
            alert("@ViewBag.ErrorMsg");
            $("#fpModal").modal('hide');
        </script>
    }
    else
    {
        <!--Ajax 호출시 모달 닫기 헤더 추가-->
        <div class="modal-header">
            @if (Request.IsAjaxRequest())
            {
                <div class="nav_menu" style="/*position:fixed;*/ top:0px;left:0px;right:0px;text-align:center;margin-bottom:0px;">
                    <div class="nav toggle" style="position:fixed; left:-10px;" data-dismiss="modal">
                        <a id="menu_back"><i class="fa fa-chevron-left"></i></a>
                    </div>
                    <h2 style="margin-top:20px; margin-bottom:15px; font-weight:bold; color:#dde0e0;">수강신청</h2>
                </div>
            }
        </div>

        <div class="modal-body">
            <div class="row" style="margin:0px;">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@Model.lecture.CssName : @Model.lecture.LectureName</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p>개설학교 : @Model.lecture.sch_name / @Model.lecture.TeacherName 선생님</p>
                            <p>수업시간 : @Model.lecture.LectureTime</p>
                            <p>신청인원 : @(Model.lecture.CurrentSignUp)명 / @(Model.lecture.MaxSignUp)명</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0px;">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">학교명</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    @{
                                        var schoolInfo = Model.school.Where(x => x.schoolCode == Model.user.sch_code).FirstOrDefault();
                                    }

                                    <input type="text" class="form-control" value="@(schoolInfo != null ? schoolInfo.schoolName : "")" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">학  반</label>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-right:0px;">
                                    <input type="text" class="form-control" value="@(Model.user.grade)학년" readonly="readonly" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding:0px 5px;">
                                    <input type="text" class="form-control" value="@(Model.user.mclass)반" readonly="readonly" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">
                                    <input type="text" class="form-control" value="@(Model.user.no)번" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">이  름</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input type="text" class="form-control" value="@Model.user.uname" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">연락처</label>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-right:0px;">
                                    <input type="text" class="form-control" value="@Model.user.telcom" readonly="readonly" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding:0px 5px;">
                                    <input type="text" class="form-control" value="@Model.user.phone1" readonly="readonly" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">
                                    <input type="text" class="form-control" value="@Model.user.phone2" readonly="readonly" />
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">성별</label>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-right:0px;">
                                    <input type="text" class="form-control" value="@(Model.user.Gender == 1 ? "남자" : "여자")" readonly="readonly" />
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">지원동기</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <textarea class="form-control" style="height:200px;ime-mode:active;" id="motive"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">취소하기</button>
                                    <button type="button" class="btn btn-success" id="btnConfirm">신청하기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }