﻿@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.MobileWeb.Models

@model SearchLectureManageModel



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Javascript{
    <script type="text/javascript">
        var cancelLecture = function (rseq) {
            event.stopPropagation();
            if (!confirm("강의 신청을 취소하겠습니까?")) {
                return false;
            }

            AppCommon.Ajax('@Url.Action("LectureRequestCancel", "LectureRequest")', { requestSeq: rseq }, function (data) {
                if (data.ok) {
                    alert(data.message);
                    $("#searchForm").submit();
                } else {
                    alert(data.message);
                }
            });
        }

        var requestLecture = function (idx) {
            event.stopPropagation();
            AppCommon.AjaxModal(null, "@Url.Action("LectureRequest", "LectureRequest")?lectureseq=" + "" + idx, function (msg) {
                alert("오류가 발생 하였습니다.\r\n" + msg);
            });
        }

        var fileDownload = function (url, name) {
            event.stopPropagation();

            AppCommon.AjaxMobileDown(name, window.location.origin + "/Uploads/" + url);
        }

        function uploadFile() {
            var form = $('#FILE_FORM')[0];
            var formData = new FormData(form);

            $.each($("#FILE_TAG")[0].files, function (idx, item) {
                formData.append("file" + idx, item);
            });

            //formData.append("fileObj", $("#FILE_TAG")[0].files[0]);

            $.ajax({
                url: "@Url.Action("UploadPost", "FileUpload")",
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                success: function (result) {
                    alert("업로드 성공!!");
                }
            });
        }

    </script>
}


<!-- 강좌 목록 -->
@using (Html.BeginForm("LectureList", "LectureRequest", new { lectureType = ViewBag.LectureType }, FormMethod.Post, new { @id = "searchForm" }))
{
    @Html.Hidden("search.lectureType", Model.search.lectureType);

    <input type="file" value="테스트" id="FILE_TAG" multiple />
    <input type="button" value="전송" onclick="uploadFile()" />

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 contents">
            <!-- 검색 영역 -->
            <div class="x_content common_list">
                <div class="searchBox">
                    @{
                        string selectYear = string.Format("{0}|{1}", DateTime.Now.Year, DateTime.Now.Month < 7 ? 1 : 2);
                        var yearList = (new SelectList(Model.search.period, "year_semester", "yearString", selectYear)).ToList();
                        yearList.Insert(0, new SelectListItem { Value = "0|0", Text = "전체항목" });
                    }
                    @Html.DropDownListFor(x => x.search.selectYear, yearList, new { @class = "select wd1", @style = "min-width:110px;" })

                    @{
                        var lectureProcList = (new SelectList(Model.search.searchField, "fieldValue", "fieldName")).ToList();
                    }

                    @Html.DropDownListFor(x => x.search.selectField, lectureProcList, new { @class = "select wd1", @style = "min-width:65px;" })
                    <button type="submit" class="btn btn-primary" id="btnSearch" style="position:absolute;right:5px;background-color:#585858; border-color:#585858; height:38px;">검색</button>

                    <span style="float:none; overflow:hidden; display:block; padding-left:5px; padding-right:56px;">
                        @Html.TextBoxFor(x => x.search.searchText, new { @class = "text wd1", @placeholder = "", @style = "ime-mode:active;" })
                    </span>
                </div>
            </div>
            <!-- 검색 영역 끝 -->
            <!-- 리스트 -->
            <div class="x_content">
                @if (Model.entity.List != null && Model.entity.List.Count > 0)
                {
                    foreach (var tc in Model.entity.List)
                    {
                        <div class="panel">
                            <div class="x_panel">
                                <a class="" role="tab" id="lt@(tc.LectureSeq)" data-toggle="collapse" data-parent="#accordion" href="#ltinfo@(tc.LectureSeq)" aria-expanded="true" aria-controls="ltinfo@(tc.LectureSeq)">
                                    <div class="x_title">
                                        @if (tc.Semester == 0)
                                        {
                                            <p class="month" style="font-weight:bold;">@(tc.Year)년 1,2학기</p>
                                        }
                                        else
                                        {
                                            <p class="month" style="font-weight:bold;">@(tc.Year)년 @(tc.Semester)학기</p>
                                        }
                                        <div class="form-group row" style="margin-bottom:0px;">
                                            <p class="control-label col-md-3 col-sm-3 col-xs-3" style="font-size:17px;">@(tc.RowNum). @tc.NssName</p>
                                            <p class="control-label col-md-9 col-sm-9 col-xs-9" style="font-size:17px;">@tc.LectureName</p>
                                        </div>
                                    </div>
                                    <div class="x_content">
                                        <div class="media event" style="margin-left:-10px; margin-right:-10px;">
                                            <div class="col-md-3 col-sm-3 col-xs-3" style="top:50%; position:relative; transform: translate(0px, 50%)">
                                                <div class="pull-left date lecturestate@(tc.State.ToString())" @*style="padding:20px 0px;"*@>
                                                    <p class="month">@Model.search.stateField[(int)tc.State]</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="vertical-align:middle; padding-left:10px; padding-right:10px; width:50%;">
                                                <p style="padding:2px 0px;">@tc.sch_name</p>
                                                <p style="padding:2px 0px;">신청자 : @(tc.CurrentSignUp) / @(tc.MaxSignUp)명</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3" style="top:50%; position:relative; transform: translate(0px, 50%)">
                                                @if (tc.ReqState == 0)
                                                {
                                                    <div class="pull-left" style="color:white; background-color:red; float:right !important;">
                                                        <p class="month" style="margin:5px;white-space:nowrap;">대기 중</p>
                                                    </div>
                                                }
                                                else if (tc.ReqState > 0)
                                                {
                                                    <div class="pull-left" style="color:white; background-color:blue; float:right !important;">
                                                        <p class="month" style="margin:5px;white-space:nowrap;">수강 중</p>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_content" style="padding:0px;">
                                        <div id="ltinfo@(tc.LectureSeq)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lt@(tc.LectureSeq)" aria-expanded="false" style="height:0px;padding:16px 5px 6px 5px; border-top:2px solid rgb(186, 55, 65);">
                                            <div class="form-group row">
                                                <p class=" col-md-3 col-sm-3 col-xs-3">선생님</p>
                                                <p class=" col-md-9 col-sm-9 col-xs-9">@tc.TeacherName</p>
                                            </div>
                                            @if (ViewBag.LectureType == 1)
                                            {
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">신청가능학교</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">@tc.TargetSchCodes</p>
                                                </div>
                                            }
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">수업기간</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                    @(tc.OperationStartDate?.ToString("yyyy-MM-dd")) ~ @(tc.OperationEndDate?.ToString("yyyy-MM-dd"))
                                                    <br />
                                                    @(tc.LectureTime)
                                                </p>
                                            </div>
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">대상</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                    @{
                                                        string gradeStr = string.Empty;
                                                        for (int i = 0; i < tc.TargetGrade.Length; i++)
                                                        {
                                                            gradeStr = string.Concat(gradeStr, tc.TargetGrade[i] == '1' ? string.Format(",{0}", i + 1) : "");
                                                        }

                                                        if (!string.IsNullOrEmpty(gradeStr))
                                                        {
                                                            gradeStr = gradeStr.Substring(1);
                                                        }
                                                    }
                                                    @(gradeStr)학년
                                                </p>
                                            </div>
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">단위수</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">@tc.MaxTime</p>
                                            </div>
                                            @*<div class="form-group row">
                                                <p class="control-label col-md-4 col-sm-4 col-xs-4">성별</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">@(tc.TargetGender == 0 ? "전체" : tc.TargetGender == 1 ? "남자" : "여자")</p>
                                            </div>*@
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">접수기간</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                    @(tc.Reception?.ToString("yyyy-MM-dd hh:mm:ss")) ~<br />@(tc.ReceptionClosed?.ToString("yyyy-MM-dd hh:mm:ss"))
                                                </p>
                                            </div>
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">강의계획서</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                    @foreach (var file in tc.AfterSchoolLectureFiles)
                                                    {
                                                        if (file.FileType == "L")
                                                        {
                                                            <span style="display:block;text-decoration:underline;cursor:pointer;" onclick="fileDownload('@(file.FileID)', '@(file.FileName)')">@(file.FileName)</span>
                                                        }
                                                    }

                                                </p>
                                            </div>
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">평가계획서</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                    @foreach (var file in tc.AfterSchoolLectureFiles)
                                                    {
                                                        if (file.FileType == "E")
                                                        {
                                                            <span style="display:block;text-decoration:underline;cursor:pointer;" onclick="fileDownload('@(file.FileID)', '@(file.FileName)')">@(file.FileName)</span>
                                                        }
                                                    }

                                                </p>
                                            </div>
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">공지사항</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                    @foreach (var file in tc.AfterSchoolLectureFiles)
                                                    {
                                                        if (file.FileType == "I")
                                                        {
                                                            <span style="display:block;text-decoration:underline;cursor:pointer;" onclick="fileDownload('@(file.FileID)', '@(file.FileName)')">@(file.FileName)</span>
                                                        }
                                                    }

                                                </p>
                                            </div>
                                            <div class="form-group row">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3">알림란</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                    @(tc.InfoMessage)

                                                </p>
                                            </div>

                                            @*<p style="padding:2px 0px;">선택군 : @(tc.LectureTime)</p>*@
                                            @*<hr style="margin:6px 0px; border-color:#585858;" />*@
                                            @*<p style="padding:2px 0px;">선생님 : @(tc.TeacherName)</p>*@
                                            @*<hr style="margin:6px 0px; border-color:#585858;"/>*@
                                        </div>
                                        <div class="form-group row">
                                            @if (tc.RequestSeq == 0)
                                            {
                                                @*<i class="glyphicon glyphicon-plus-sign" style="font-size:48px; color:#1CBE4A;" onclick="requestLecture(@tc.LectureSeq)"></i>
            <span>신청</span>*@
                                                <div class="btn btn-success col-md-12 col-sm-12 col-xs-12" onclick="requestLecture(@tc.LectureSeq)" style="background-color:#169F85; border-color:#1e7e34;">수강신청</div>
                                            }
                                            else if (tc.RequestSeq > 0)
                                            {
                                                @*<i class="glyphicon glyphicon-remove-sign" style="font-size:48px; color:#FD2228;" onclick="return cancelLecture('@tc.RequestSeq')"></i>
            <span>취소</span>*@
                                                <div class="btn btn-danger col-md-12 col-sm-12 col-xs-12" onclick="return cancelLecture('@tc.RequestSeq')">신청취소</div>
                                            }
                                        </div>
                                    </div>
                                </a>
                            </div>

                            
                        </div>
                        @*<div class="x_panel">
                            
                            <div class="x_content">
                                
                                
                                    
                                    
                            </div>
                        </div>*@
                    }

                    <!-- 페이징 -->
                    @Html.PagedListPager((IPagedList)Model.pageList, page => Url.Action("LectureList", "LectureRequest", new SearchCondition() { selectYear = Model.search.selectYear, selectField = Model.search.selectField, searchText = Model.search.searchText, lectureType = ViewBag.LectureType, page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }
                else
                {
                    <h3 style="text-align:center;">신청 가능한 강의가 없습니다.</h3>
                }
            </div>
            <!-- 리스트 끝 -->
        </div>
    </div>




    
}
