﻿@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.MobileWeb.Models

@model SearchLectureRequstModel



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript{
    <script type="text/javascript">
    $(document).ready(function () {
    });

        var cancelLecture = function (rseq) {
            event.stopPropagation();
        if (!confirm("강의 신청을 취소하겠습니까?")) {
            return false;
        }

        AppCommon.Ajax('@Url.Action("LectureRequestCancel", "LectureRequest")', { requestSeq: rseq }, function (data) {
            if (data.ok) {
                alert(data.message);
                $("#searchForm").submit();
            } else {
                alert(data.message);
            }
        });
        }

        var fileDownload = function (url, name) {
            event.stopPropagation();
            AppCommon.AjaxMobileDown(name, window.location.origin + "/Uploads/" + url);
        }

    </script>
}


<!-- 강좌 목록 -->
@using (Html.BeginForm("LectureRequestList", "LectureRequest", FormMethod.Post, new { @id = "searchForm" }))
{
    @Html.Hidden("search.lectureType", Model.search.lectureType);
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- 검색 영역 -->
            <div class="x_content common_list">
                <div class="searchBox">
                    @{
                        string selectYear = string.Format("{0}|{1}", DateTime.Now.Year, DateTime.Now.Month < 7 ? 1 : 2);
                        var yearList = (new SelectList(Model.search.period, "year_semester", "yearString", selectYear)).ToList();
                        yearList.Insert(0, new SelectListItem { Value = "0|0", Text = "전체항목" });
                    }
                    @Html.DropDownListFor(x => x.search.selectYear, yearList, new { @class = "select wd1", @style = "min-width:110px;" })

                    @{
                        var lectureProcList = (new SelectList(Model.search.searchField, "fieldValue", "fieldName")).ToList();
                    }

                    @Html.DropDownListFor(x => x.search.selectField, lectureProcList, new { @class = "select wd1", @style = "min-width:65px;" })
                    <button type="submit" class="btn btn-primary" id="btnSearch" style="position:absolute;right:5px;background-color:#585858; border-color:#585858; height:38px;">검색</button>

                    <span style="float:none; overflow:hidden; display:block; padding-left:5px; padding-right:56px;">
                        @Html.TextBoxFor(x => x.search.searchText, new { @class = "text wd1", @placeholder = "", @style = "ime-mode:active;" })
                    </span>
                </div>
                <!-- 검색 영역 끝 -->
                <!-- 리스트 -->
                <div class="x_content">
                    @if (Model.entity.List != null && Model.entity.List.Count > 0)
                    {
                        foreach (var tc in Model.entity.List)
                        {
                            <div class="panel">
                                <div class="x_panel">
                                    <a class="" role="tab" id="lt@(tc.LectureSeq)" data-toggle="collapse" data-parent="#accordion" href="#ltinfo@(tc.LectureSeq)" aria-expanded="true" aria-controls="ltinfo@(tc.LectureSeq)">
                                        <div class="x_title">
                                            @if (tc.Semester == 0)
                                            {
                                                <p class="month" style="font-weight:bold;">@(tc.Year)년 1,2학기</p>
                                            }
                                            else
                                            {
                                                <p class="month" style="font-weight:bold;">@(tc.Year)년 @(tc.Semester)학기</p>
                                            }
                                            <div class="form-group row" style="margin-bottom:0px;">
                                                <p class="control-label col-md-3 col-sm-3 col-xs-3" style="font-size:17px;">@(tc.RowNum). @tc.NssName</p>
                                                <p class="control-label col-md-9 col-sm-9 col-xs-9" style="font-size:17px;">@tc.LectureName</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content" style="margin-bottom:4px;">
                                            <div class="media event" style="margin-left:-10px; margin-right:-10px;">
                                                <div class="media-left" style="vertical-align:middle; padding-left:10px; padding-right:10px; width:25%;">
                                                    @if (tc.State == 0)
                                                    {
                                                        <div class="pull-left" style="color:white; background-color:red;">
                                                            <p class="month" style="margin:5px;white-space:nowrap;">대기 중</p>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="pull-left" style="color:white; background-color:blue;">
                                                            <p class="month" style="margin:5px;white-space:nowrap;">수강 중</p>
                                                        </div>
                                                    }
                                                </div>    
                                                <div class="media-body" style="vertical-align:middle; padding-left:10px; padding-right:10px;">
                                                    <p style="padding:2px 0px;">@(tc.OperationStartDate?.ToString("yyyy.MM.dd(ddd)")) ~ @(tc.OperationEndDate?.ToString("MM.dd(ddd)"))</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x_content" style="padding:0px;">
                                            <div id="ltinfo@(tc.LectureSeq)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lt@(tc.LectureSeq)" aria-expanded="false" style="height:0px;padding:16px 5px 6px 5px; border-top:2px solid rgb(186, 55, 65);">
                                                <div class="form-group row" style="margin-top:10px;">
                                                    <p class=" col-md-3 col-sm-3 col-xs-3">학교명</p>
                                                    <p class=" col-md-9 col-sm-9 col-xs-9">@tc.sch_name</p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class=" col-md-3 col-sm-3 col-xs-3">선생님</p>
                                                    <p class=" col-md-9 col-sm-9 col-xs-9">@tc.TeacherName</p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">수업기간</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9" style="white-space:pre-line;">@(tc.OperationStartDate?.ToString("yyyy-MM-dd")) ~ @(tc.OperationEndDate?.ToString("yyyy-MM-dd"))
                                                        @(tc.LectureTime.Replace(", ", Environment.NewLine))
                                                    </p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">대상</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                        @{
                                                            string gradeStr = string.Empty;
                                                            for (int i = 0; i < tc.TargetGrade.Length; i++)
                                                            {
                                                                gradeStr = string.Concat(gradeStr, tc.TargetGrade[i] == '1' ? string.Format(",{0}", i + 1) : "");
                                                            }

                                                            if (!string.IsNullOrEmpty(gradeStr))
                                                            {
                                                                gradeStr = gradeStr.Substring(1);
                                                            }
                                                        }
                                                        @(gradeStr)학년
                                                    </p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">단위수</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">@tc.MaxTime</p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">신청/정원</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">@(tc.CurrentSignUp) / @(tc.MaxSignUp)명</p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">강의계획서</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                        @foreach (var file in tc.AfterSchoolLectureFiles)
                                                        {
                                                            <span style="display:block;text-decoration:underline;cursor:pointer;" onclick="fileDownload('@(file.FileID)', '@(file.FileName)')">@(file.FileName)</span>
                                                        }

                                                    </p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">평가계획서</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                        @foreach (var file in tc.AfterSchoolLectureFiles)
                                                        {
                                                            if (file.FileType == "E")
                                                            {
                                                                <span style="display:block;text-decoration:underline;cursor:pointer;" onclick="fileDownload('@(file.FileID)', '@(file.FileName)')">@(file.FileName)</span>
                                                            }
                                                        }

                                                    </p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">공지사항</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                        @foreach (var file in tc.AfterSchoolLectureFiles)
                                                        {
                                                            if (file.FileType == "I")
                                                            {
                                                                <span style="display:block;text-decoration:underline;cursor:pointer;" onclick="fileDownload('@(file.FileID)', '@(file.FileName)')">@(file.FileName)</span>
                                                            }
                                                        }

                                                    </p>
                                                </div>
                                                <div class="form-group row">
                                                    <p class="control-label col-md-3 col-sm-3 col-xs-3">알림란</p>
                                                    <p class="control-label col-md-9 col-sm-9 col-xs-9">
                                                        @(tc.InfoMessage)

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div type="button" class="btn btn-danger col-md-12 col-sm-12 col-xs-12" onclick="return cancelLecture('@tc.RequestSeq')">신청취소</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        }

                        <!-- 페이징 -->
                        @Html.PagedListPager((IPagedList)Model.pageList, page => Url.Action("LectureList", "LectureManage", new SearchCondition() { selectYear = Model.search.selectYear, selectField = Model.search.selectField, searchText = Model.search.searchText, lectureType = ViewBag.LectureType, page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    }
                    else
                    {
                        <h3 style="text-align:center;">수강 강의가 없습니다.</h3>
                    }
                </div>
                <!-- 리스트 끝 -->
            </div>
        </div>
    </div>
}
