﻿<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Resources/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Resources/css/nprogress.css" rel="stylesheet" />
    <link href="~/Resources/css/custom.css" rel="stylesheet" />
    <link href="~/Resources/css/jquery.isloading.min.css" rel="stylesheet" />
</head>

    @using Dream.Web.AfterSchool.MobileWeb.Models
    @model LoginViewModel
    @{
        ViewBag.Title = "학교연합교육과정 수강신청";
        Layout = null;
    }
<body class="nav-sm">
    <div class="container body">
        <div class="main_container">
            <div class="right_col" role="main">
                <div style="text-align:center;">
                    <img src="~/Resources/images/school_img.png" />
                    <h2 style="color:black;">@ViewBag.Title</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "아이디 또는 토큰을 입력해 주세요." })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "비밀번호를 입력해 주세요." })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="submit" value="로그인" class="btn btn-success col-md-12 col-sm-12 col-xs-12" />
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>

            <footer id="footer" style="position:absolute; bottom:50px; padding:0px; left:10px; right:10px; text-align:center; margin-left:0px;">
                
        <img src="~/Resources/images/logo_education.png" alt="전라남도교육청"/><br>
        
            </footer>
        </div>
    </div>
    <script src="~/Resources/js/jquery-2.1.3.js"></script>
    <script src="~/Resources/js/bootstrap.js"></script>
    <script src="~/Resources/js/fastclick.js"></script>
    <script src="~/Resources/js/nprogress.min.js"></script>
    <script src="~/Resources/js/custom.js"></script>
    <script src="~/Resources/js/jquery.isloading.min.js"></script>
</body>
</html>