﻿<div class="modal fade modal-fullscreen" id="fpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modalcontent" style="background-color:#fff;">
        </div>
    </div>
</div>
