﻿@model Dream.Web.AfterSchool.MobileWeb.Models.BaseModel

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Resources/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Resources/css/nprogress.css" rel="stylesheet" />
    <link href="~/Resources/css/custom.css" rel="stylesheet" />
    <link href="~/Resources/css/jquery.isloading.min.css" rel="stylesheet" />
    <link href="~/Resources/css/jquery_ui.css" rel="stylesheet" />
    <link href="~/Resources/css/reset.css" rel="stylesheet" />
    <link href="~/Resources/css/common.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Resources/Datetimepicker/jquery.datetimepicker.css" />
    @RenderSection("StyleSheet", required: false)



</head>

<body class="default nav-sm">
    <div class="container body">
        <div class="main_container">

            @Html.Partial("_LayoutLeftPartial");
            <!-- top navigation -->
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <div class="overlay">
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <div class="">
                <div class="sidebar-footer" style="width:100%;">
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="" style="background-color:white; width:33%;" href="@Url.Action("LectureList", "LectureRequest", new { lectureType = 0 })">
                        <span class="fa fa-home" aria-hidden="true" style="display:inline-block; color:#333;"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="" style="background-color:white; width:34%;" onclick="history.back();">
                        <span class="fa fa-chevron-left" aria-hidden="true" style="display:inline-block; color:#333;"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="" style="background-color:white; width:33%;" onclick="history.forward();">
                        <span class="fa fa-chevron-right" aria-hidden="true" style="display:inline-block; color:#333;"></span>
                    </a>
                    @*<a data-toggle="tooltip" data-placement="top" title="" data-original-title="" style="background-color:white; width:20%;">
                            <span class="fa fa-calendar" aria-hidden="true" style="display:inline-block"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="" style="background-color:white; width:20%;">
                            <span class="fa fa-cog" aria-hidden="true" style="display:inline-block"></span>
                        </a>*@
                </div>
            </div>
            <!-- /footer content -->
        </div>
    </div>

    @Html.Partial("_LayoutPopup");

    <script src="~/Resources/js/jquery-2.1.3.js"></script>
    <script src="~/Resources/js/bootstrap.js"></script>
    <script src="~/Resources/js/fastclick.js"></script>
    <script src="~/Resources/js/nprogress.min.js"></script>
    <script src="~/Resources/js/custom.js"></script>
    <script src="~/Resources/js/jquery.isloading.min.js"></script>
    <script src="~/Resources/js/jquery-ui.js"></script>
    <script src="~/Resources/Datetimepicker/build/jquery.datetimepicker.full.js"></script>
    <script src="~/Resources/js/app.common.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.s_datetimepicker').datetimepicker({
                showMinute: false,
                dateFormat: 'yy-mm-dd',
                timeFormat: 'hh:mm:ss',
                //minDateTime: min_date,
                //maxDateTime: max_date,
                //onSelect: function (dateText, inst) {
                //}
            });

            $('.e_datetimepicker').datetimepicker({
                showMinute: false,
                dateFormat: 'yy-mm-dd',
                timeFormat: 'hh:mm:ss',
                //minDateTime: min_date,
                //maxDateTime: max_date,
                //onSelect: function (dateText, inst) {
                //}
            });
            controlSelectBox();
        });
        function controlSelectBox() {
            var select = $('select');
            for (var i = 0; i < select.length; i++) {
                var idxData = select.eq(i).children('option:selected').text();
                select.eq(i).siblings('label').text(idxData);
            }
            select.change(function () {
                var select_name = $(this).children("option:selected").text();
                $(this).siblings("label").text(select_name);
            });
        }

    </script>

    @RenderSection("Javascript", required: false)
</body>



</html>
