﻿<div class="nav_menu" style="position:fixed; top:0px; left:0px; right:0px; text-align:center; z-index:97;">
    <div class="nav toggle" style="position:fixed; left:-10px;">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    <h2 style="margin-top:20px; margin-bottom:15px; font-weight:bold; color:#dde0e0;">@(Model == null ? "메인" : Model.Title)</h2>
</div>
<div id="leftmenu" class="col-md-3 left_col menu_fixed" style="z-index:99;">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0; height:0px; min-height:0px;">
            <a class="site_title" style="display:none;"><span style="margin-left:20px;">@Model.schoolName</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/Resources/images/photo.jpg" alt="없음" class="img-circle profile_img">
            </div>
            <div class="profile_info" style="padding-top:0px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_content">
                        <div class="form-group row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <span>@Model.userName</span>
                                <h2>@Model.schoolName</h2>
                                <div class="col-md-6 col-sm-6 col-xs-6" style="padding:5px;">
                                    <a href="@Url.Action("UserInformation", "Common", new { Area = "" })" class="btn btn-success col-md-12 col-sm-12 col-xs-12" style="background-color:white; color:black; padding:0px; border-color:white; margin-top:5px;">정보수정</a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6" style="padding:5px;">
                                    <a href="@Url.Action("LogOff", "Account", new { Area = "" })" class="btn btn-success col-md-12 col-sm-12 col-xs-12" style="background-color:white; color:black; padding:0px; border-color:white; margin-top:5px;">로그아웃</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="#" class="btn btn-success col-md-12 col-sm-12 col-xs-12" style="background-color:white; color:black; padding-left:7px; border-color:white;">정보수정</a>
                            </div>*@
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- /menu profile quick info -->
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li>
                    <a> 강의신청 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("LectureList", "LectureRequest", new { lectureType = 0 })">개방형 강의</a></li>
                        <li><a href="@Url.Action("LectureList", "LectureRequest", new { lectureType = 1 })">밴드형 강의</a></li>
                        <li><a href="@Url.Action("LectureRequestList", "LectureRequest")">나의 수강신청</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
    </div>
    <!-- /menu footer buttons -->
    <footer id="footer" style="position:absolute; bottom:50px; padding:0px; left:10px; ">
        <!--
        <img src="~/Resources/images/common/logo_education.png" alt="전라남도교육청" /><br>
        -->
        Copyrightⓒ @DateTime.Now.ToString("yyyy") FUTUREPLAN.<br>All Rights Reserved.
    </footer>
</div>

