﻿@{
    ViewBag.Title = "강좌관리";
}


@using PagedList
@using PagedList.Mvc
@using LectureManage.Models

@model SearchLectureManageModel



@{
    ViewBag.Title = "강좌 관리";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheet{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<style type="text/css">
    table.type08 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        border-left: 1px solid #ccc;
        margin: 20px 10px;
    }

        table.type08 thead th {
            padding: 10px;
            font-weight: bold;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 2px solid #c00;
            background: #dcdcd1;
            text-align:center;
            vertical-align:middle;
        }

        table.type08 tbody th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            background: #ececec;
            text-align: center;
        }

        table.type08 td {
            width: 350px;
            padding: 10px;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }

    .pagination-container {
        text-align: center;
    }

    a.underline {
        text-decoration:underline;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // 개방형 버튼 클릭
        $("#BtnOpened").click(function () {
            var url = '@Url.Action("LectureList", "LectureManage")' + "?page=1&lectureType=0";

            location.href = url;
        });


        // 밴드형 버튼 클릭
        $("#BtnClosed").click(function () {
            var url = '@Url.Action("LectureList", "LectureManage")' + "?page=1&lectureType=1";

            location.href = url;
        });

    });

    var cancelLecture = function (rseq) {
        if (!confirm("강좌 신청을 취소하겠습니까?")) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("LectureRequestCancel", "LectureManage")',
            data: {
                requestSeq: rseq
            },
            dataType: 'json',
            type: 'POST',
            beforeSend: function () {

                $.isLoading({
                    text: "취소 중..",
                    position: "overlay"
                });
            }
        })
        .done(function (json) {
            $.isLoading("hide");

            if (json.ok) {
                alert(json.message);

                $("#searchForm").submit();
                //location.reload();

            } else {
                alert(json.message);
            }
        })
    }

</script>



<!-- 강좌 목록 -->
@using (Html.BeginForm("LectureList", "LectureManage", FormMethod.Post, new { @id = "searchForm" }))
{
    @Html.Hidden("search.lectureType", Model.search.lectureType);
    <div style="text-align:center;padding:30px 0px 30px 0px;">
        <input type="button" value="개방형" class="btn" style="width:150px; height:50px; color:white; background-color:red;" id="BtnOpened" />
        <input type="button" value="밴드형" class="btn" style="width:150px; height:50px; color:white; background-color:#72BFC5;" id="BtnClosed"/>
    </div>
    <div><span>수강신청/조회 및 자세한 내용을 보실려면 강좌명을 클릭하세요.</span></div>
    <div class="searchBox">
        @{
            var yearList = (new SelectList(Model.search.period, "year_semester", "yearString")).ToList();
            yearList.Insert(0, new SelectListItem { Value = "0|0", Text = "연도 선택" });
        }
        @Html.DropDownListFor(x => x.search.selectYear, yearList, new { @class = "select Ty3", @style = "width:100px" })

        @{
            var lectureProcList = (new SelectList(Model.search.searchField, "fieldValue", "fieldName")).ToList();
        }

        @Html.DropDownListFor(x => x.search.selectField, lectureProcList, new { @class = "select Ty3", @style = "width:80px" })

        @Html.TextBoxFor(x => x.search.searchText, new { @class = "text Ty2", @placeholder = "강좌명", @style = "width:25%" })

        <button type="submit" class="btn Ty5" id="btnSearch">검색</button>
        
        <div style="display:inline; float:right; margin-right:15px;">
            <input type="button" value="강좌리스트" class="btn" style="color:black; background-color:#CECEEF;" />
            <input type="button" value="나의 수강신청" class="btn" style="color:white; background-color:#92D050;" />
        </div>
    </div>

    <div class="table mt1 txC">
        <table class="type08">
            <colgroup>
                <col width="6%">
                <col width="6%">
                <col width="6%">
                <col width="8%">
                <col width="6%">
                <col width="6%">
                <col width="10%">
                <col width="9%">
                <col width="*">
                <col width="9%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>강좌명</th>
                    <th>학교명</th>
                    <th>신청가능학교</th>
                    <th>수업기간</th>
                    <th>대상</th>
                    <th>단위수</th>
                    <th>성별</th>
                    <th>신청/정원</th>
                    <th>접수기간</th>
                    <th>신청</th>
                    <th>수강신청</th>
                </tr>
            </thead>
            <tbody id="lectureTable">

                @if (Model.entity.List != null && Model.entity.List.Count > 0)
                {
                    foreach (var tc in Model.entity.List)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("LectureDetail", "LectureManage", new { lectureSeq = tc.LectureSeq })" class="underline" >@(tc.LectureName)</a>
                            </td>
                            <td>@tc.sch_name</td>
                            <td>@tc.TargetSchCodes</td>
                            <td>@(tc.OperationStartDate?.ToString("yyyy-mm-dd"))<br /> ~  <br />@(tc.OperationEndDate?.ToString("yyyy-mm-dd"))</td>
                            <td>@(tc.TargetGrade)학년</td>
                            <td>@tc.MaxTime</td>
                            <td>@(tc.TargetGender == 0 ? "전체" : tc.TargetGender == 1 ? "남자" : "여자")</td>
                            <td class="txL">
                                @(tc.CurrentSignUp)명 / @(tc.MaxSignUp)명
                            </td>
                            <td>@(tc.Reception?.ToString("yyyy-mm-dd"))<br /> ~  <br />@(tc.ReceptionClosed?.ToString("yyyy-mm-dd"))</td>
                            <td>
                                @{ 
                                    var stateList = (new SelectList(Model.search.stateField, "stateCode", "stateName", tc.State?.ToString())).ToList();
                                }

                                @Html.DropDownListFor(x => tc.State, stateList, new { @class = "select Ty3", @style = "width:100px", @disabled = "disabled" })
                            </td>
                            <td>
                                <div class="icoBar">
                                    @if (tc.RequestSeq == 0)
                                    {
                                        <a href="@Url.Action("LectureRequest", "LectureManage", new { lectureSeq = tc.LectureSeq })" class="underline">신청</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="underline" onclick="return cancelLecture('@tc.RequestSeq')" >신청취소</a>
                                    }
                                </div>
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="11">
                            데이터가 없습니다.
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- 페이징 -->
    @Html.PagedListPager((IPagedList)Model.pageList, page => Url.Action("LectureList", "LectureManage", new SearchCondition() { selectYear = Model.search.selectYear, selectField = Model.search.selectField, searchText = Model.search.searchText, lectureType = ViewBag.LectureType, page = page }))
}
