.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}


#content.member .content-wrap {
    padding: 80px 8px;
    max-width: 520px
}

.content-wrap .panel {
    margin: 0;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    background: #fff
}

#content.member .member-panel .panel-footer {
    position: relative;
    padding: 14px 0;
    text-align: center;
    background: #e0e0e0;
    z-index: 10
}

#content.member .member-panel .panel-footer p {
    font-size: 1.4em;
    color: #757575;
    font-weight: 400;
}

#content.member .member-panel .panel-footer .btn-link {
    margin-left: 10px;
    font-size: 1em
}

#content.member .member-panel .panel-body {
    padding: 25px 45px 25px 25px;
    background: #fff
}

#content.member .member-panel .member-title {
    margin: 0 0 32px 0;
    font-size: 1.8em;
    color: #424242;
    font-weight: bold
}

.content-wrap .form-group {
    position: relative;
    margin-bottom: 20px
}

    .content-wrap .form-group .row {
        position: relative;
        margin-left: -5px;
        margin-right: -5px
    }

.content-wrap .valid-msg {
    margin-left: 12px;
    font-weight: normal
}

.content-wrap .has-success .valid-msg {
    color: #19c265 !important
}

.content-wrap .has-error .valid-msg {
    color: #f4596c !important
}

.content-wrap .form-group .row .col {
    padding-left: 5px;
    padding-right: 5px
}

.form-control {
    padding: 9px 12px;
    height: 48px;
    font-size: 1.4em;
    color: #757575;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s border-radius: 2px;
    border-color: #bdbdbd;
    background: #f5f5f5;
    width:100%;
}

.content-wrap .form-group .valid-icon {
    position: absolute;
    right: -26px;
    top: 50%;
    margin-top: -9px
}

.content-wrap .form-group .valid-icon .icon {
    display: none
}

#content.member .member-panel .sub-title {
    padding-left: 8px;
    font-size: 1.4em;
    color: #424242;
    font-weight: bold;
    padding-bottom: 8px;
}

#content.member .member-panel .desc {
    margin-top: 5px;
    padding-left: 8px;
    color: #bdbdbd;
    font-weight: 400;
}

.btn-link {
    font-size: 1.1em;
    color: #03a9f4;
    font-weight: bold;
    text-decoration: underline
}

.btn-normal {
    display: inline-block;
    width: 250px;
    padding: 12px 0;
    text-align: center;
    font-size: 1.2em;
    color: #fff !important;
    text-decoration: none !important;
    border: 0;
    border-radius: 2px;
    background: #03a9f4;
    *display: inline;
    zoom: 1
}

.btn-normal.cancel {
    background: #bdbdbd
}

#content.member .member-panel .btn-normal {
    padding: 13px 0;
    width: 100%
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

#content.member .member-panel .required {
    margin-left: 2px;
    color: #03a9f4
}

select.form-control {
    background: #f5f5f5 url("//d276fqercnuq4h.cloudfront.net/assets/roma/icon/select_arrow-dab12c5335dd83badcaa10851a2854917ccf232fad47947fdf23d467159c8bf9.png") no-repeat right center
}

.content-wrap .toggle-group .radio {
    position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: -1
}

.content-wrap .toggle-group .col {
    margin-top: 8px
}

.content-wrap .toggle-group .row {
    margin-top: -8px
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table
}

.table-box {
    display: table;
    width: 100%
}

.table-box .table-cell {
    display: table-cell;
    vertical-align: middle
}


.content-wrap .toggle-group.type-b label.form-control {
    height: 50px
}

.content-wrap .toggle-group label.form-control {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
    height: auto;
    text-align: center;
    color: #757575 !important;
    border-color: #bdbdbd !important
}

.content-wrap .terms-box {
    margin-bottom: 5px;
    padding: 15px;
    height: 130px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    background: #f5f5f5;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.content-wrap .terms-box p {
    font-size: 1.2em;
    color: #757575;
    font-weight:300;
}

.checkbox label {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 1.4em;
    color: #424242;
    font-weight:300
}

.checkbox label .check,.checkbox label .radio {
    position: absolute;
    left: 0;
    top: 4px;
    margin: 1px;
    z-index: 20
}

#content.member .setting-panel .content-wrap {
    max-width: 530px;
    min-height: 732px
}

.panel-tab .tab-box {
    border-bottom: 1px solid #bdbdbd
}

.panel-tab .tab-box .tab-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #bdbdbd
}

.panel-tab .tab-box .tab-table.tab-02 {
    width: 70%
}

.panel-tab .tab-box .tab {
    display: table-cell;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    color: #757575;
    text-decoration: none;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    background: #f5f5f5
}

.panel-tab .tab-box .tab:hover,.panel-tab .tab-box .tab.active {
    background: #fff url("//d276fqercnuq4h.cloudfront.net/assets/roma/icon/tab_border-5c1b04ab3714a3fc8c50d446b91a1c93d820e96b4b650c90974e740c665fcea8.gif") repeat-x left top
}

.panel-body .form-content, .panel-box .form-content {
    padding: 28px 16px
}

#content.member .setting-panel .profile-img {
    position: relative;
    height: 126px;
    text-align: center
}

#content.member .setting-panel .profile-img .img {
    width: 100px;
    border: 4px solid #aee6ff;
    border-radius: 54px
}

#guide-profile-uploader {
    top: 35px
}

.guide-picture-add,.btn-picture-add {
    cursor: pointer
}

.guide-picture-add input[type=file],.btn-picture-add input[type=file] {
    position: absolute;
    width: 100%;
    height: 45px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 100;
    cursor: pointer
}

#content.member .setting-panel .profile-img .icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: 10px;
    z-index: 20
}

.profile-img.user input[type=file] {
    width: 45px;
    height: 45px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    z-index: 500;
    left: 52%;
    top: 61px
}

.panel-box .panel-content {
    padding: 13px;
    border: 1px solid #bdbdbd;
    border-top: 0;
    background: #fff
}

.content-wrap .sub-title {
    margin-bottom: 8px;
    font-size: 1.4em;
    color: #424242;
    font-weight: bold
}

a {
    cursor: pointer
}

a {
    color: #337ab7;
    text-decoration: none
}

.content-wrap p {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    color: #757575
}

#content.member .setting-panel .panel-btn {
    padding: 25px 60px 0 60px
}

.panel-btn.btn-02 .btn-normal:first-child {
    float: left
}

.panel-btn.btn-02 .btn-normal {
    float: right;
    padding: 15px 0;
    width: 49.2%
}

.content-wrap .toggle-group label.form-control.active, .content-wrap .toggle-group label.form-control:hover, .content-wrap .toggle-group.has-success label.form-control.active {
    color: #4db1de !important;
    border-color: #4db1de !important
}
