@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareR';
    src: url('../../fonts/NanumSquareR.eot');
    src: url('../../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'), url('../../fonts/NanumSquareR.woff') format('woff'), url('../../fonts/NanumSquareR.ttf') format('truetype');
}


* {
    font-family: NanumSquareR, 'Noto Sans KR', sans-serif;
}

html, body {
    height: auto;
}

.pc_font {
    display: block;
}

.m_font, .m_font_v2 {
    display: none;
}

.sidenav a.closebtn_v2 {
    display: none;
}

body {
    color: #333;
}

a.top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    display: none;
    background: url('../../images/2020/top.png') no-repeat center;
    background-size: cover;
    z-index: 1
}

.inner {
    width: 1300px;
    margin: 0 auto
}

.head {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.head>.head_top {
    background: #fbfbfb;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
}

.head>.head_top>ul {
    width: 1300px;
    margin: 0 auto;
    text-align: right;
}

.head .head_top ul li {
    color: #fff;
    display: inline-block;
    position: relative;
    font-size: 12px;
    margin: 0 8px;
    line-height: 40px
}

.head .head_top ul li>a {
    color: #4f4f4f;
}

.head .head_top ul .home img {
    vertical-align: 0;
    color: #f00;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.head .head_top ul li:last-child {
    margin-right: 0;
}

.head .head_top ul li:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #4f4f4f;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -10px;
}

.head .head_top ul li:last-child:after {
    display: none;
}

.head .logo_header {
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
    height: 100px;
}

.head .logo_header .logo {
    float: left;
    display: table;
    height: 100px;
}

.head .logo_header .logo a {
    display: table-cell;
    vertical-align: middle;
}

.head .logo_header .logo>img {
    vertical-align: middle;
}

.head .logo_header .dropdown {
    float: right;
}

.head .logo_header .dropdown>.dropdown_box {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    line-height: 100px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.head .logo_header .dropdown>.dropdown_box:first-child {
    margin-left: 0;
}

.head .logo_header .dropdown>.dropdown_box:last-child {
    margin-right: 0;
}

.head .logo_header .dropdown>.dropdown_box:hover {
    color: #0c4a96
}

.dropdown_menu {
    position: absolute;
    top: 141px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    border-bottom: 1px solid #0c4a97;
    cursor: default;
    background: #fff;
    z-index: 999
}

.dropdown_menu>.inner {
    display: table;
    border-right: 1px solid #ccc;
}

.dropdown_menu>.inner .first_depth {
    width: 295px;
    min-height: 102px;
    background: #2963aa;
    color: #fff;
    display: table-cell;
    vertical-align: top;
    background-image: url('../../images/2020/second_depth.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.dropdown_menu>.inner .first_depth>span {
    display: block;
    line-height: normal;
    margin-top: 30px;
    margin-left: 25px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    white-space: nowrap;
    padding-bottom: 15px;
    font-size: 20px;
    width: 15px;
}

.dropdown_menu>.inner .second_depth {
    overflow: hidden;
    position: relative;
    background: #fff;
}

.dropdown_menu>.inner .second_depth:before {
    position: absolute;
    content: '';
    width: calc(100% - 160px);
    height: 1px;
    background: #ccc;
    bottom: 0;
    right: 0;
}

.dropdown_menu>.inner .second_depth:last-child:before {
    display: none
}

.dropdown_menu>.inner .second_depth>a {
    background: #437fc9;
    width: 160px;
    min-height: 50px;
    float: left;
    line-height: 50px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    font-weight: 500;
    font-size: 18px;
}

.dropdown_menu>.inner .second_depth:nth-child(2)>a {
    border-top: none;
}

.dropdown_menu>.inner .second_depth>.third_depth {
    float: left;
    line-height: 1;
}

.dropdown_menu>.inner .second_depth>.third_depth li {
    display: inline-block;
    line-height: 50px
}

.dropdown_menu>.inner .second_depth>.third_depth>li>a {
    margin-right: 30px;
    position: relative;
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

.dropdown_menu>.inner .second_depth>.third_depth>li>a:last-child {
    margin-right: 0px;
}

.dropdown_menu>.inner .second_depth>.third_depth>li>a:first-child {
    margin-left: 27px;
}

.dropdown_menu>.inner .second_depth>.third_depth>li>a:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: #333;
    margin: auto;
    top: -3px;
    bottom: 0;
    left: -7px;
}

.dropdown_menu>.inner .second_depth>.third_depth>li>a:hover, .dropdown_menu>.inner .second_depth>.third_depth>li>a:hover:before {
    color: #2963aa
}

.m_account {
    display: none;
}

.m_head {
    display: none;
    height: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 9;
    width: 100%;
    background: #fff;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
}

.m_head .logo {
    float: left
}

.m_head .logo>a {
    height: 50px;
    display: block;
}

.m_head .logo>a>img {
    vertical-align: middle;
}

.m_head .opennav {
    float: right;
    line-height: 45px;
    font-size: 23px;
    height: 50px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    width: 300px;
    right: -300px;
    overflow: auto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: fixed;
    top: 0;
    font-size: 50px;
    color: #fff;
    padding: 0;
    right: -30px;
    transition: all .5s
}

.nav_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7) repeat;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
}

.accordion-box {
    padding: 0 15px
}

p.title_v2 {
    text-align: right;
}

p.title_v2>img {
    vertical-align: middle;
}

p.title_v2.active>img {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.accordion-box li .title_v2 {
    line-height: 45px;
    color: #333;
    font-weight: 600;
    border-top: solid 1px #ccc;
    font-size: 14px;
    padding: 0;
}

.accordion-box li:last-child .title_v2 {
    border-bottom: 1px solid #ccc
}

.con_v2 {
    display: none;
    border-top: 1px solid #ccc;
}

.con_v2 .nav_v2 {
    float: left;
    width: 50%;
    background-color:#fff;
}

.con_v2 .nav_v3 {
    float: left;
    width: 50%;
    background: #f6f6f6
}

.con_v2 .link {
    font-size: 14px;
    color: #666;
    padding: 0;
    margin: 15px 0;
    margin-left: 15px;
    margin-top: 30px;
}

.con_v2 .link:first-child {
    margin-top: 15px;
}

.con_v2 .link.active {
    position: relative;
}

.con_v2 .link.active::before {
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #7299c9;
    border-radius: 100%;
    margin: auto;
    top: 3px;
    right: 12px;
}

.con_v2 .link.arrow {
    position: relative;
}

.con_v2 .link.arrow::after, .con_v2 .link.arrow::before {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 9px;
    background: #666;
    right: 18px;
}

.con_v2 .link.arrow::after {
    top: 7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.con_v2 .link.arrow::before {
    top: 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.con_v2 .link.arrow.active::after, .con_v2 .link.arrow.active::before {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 9px;
    background: #7299c9;
    right: 18px;
}



.con_v2 .nav_v2 .link {
    margin-left: 0
}

.m_head_top {
    padding: 0 15px
}

.m_head_top li {
    display: inline-block;
    position: relative;
    margin: 0 8px;
}

.m_head_top li:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #666;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -10px;
}

.m_head_top li img {
    vertical-align: middle;
}

.m_head_top li a {
    font-size: 11px;
    color: #666;
    line-height: 48px;
    padding: 0;
}

.fl {
    float: left
}

footer {
    background: #fff;
    border-top: 1px solid #ccc;
}

footer .inner {
    padding-top: 20px;
    padding-bottom: 30px;
}

footer .inner>ul {
    border-bottom: 1px solid #ccc;
    padding-bottom: 18px;
    line-height: 1;
    text-align:center;
}

footer .inner>ul li {
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

footer .inner>ul li:first-child {
    margin-left: 0
}

footer .inner>ul li:last-child {
    margin-right: 0
}

footer .inner>ul li:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 13px;
    background: #4f4f4f;
    margin: auto;
    top: -6px;
    bottom: 0;
    right: -27px;
}

footer .inner>ul li:last-child:after {
    display: none;
}

footer .inner>ul li a {
    color: #4f4f4f;
    font-size: 13px;
}

footer .inner>.f_box {
    overflow: hidden;
    padding-top: 30px;
}

footer .inner>.f_box>.logo {
    float: left;
}

footer .inner>.f_box>ul {
    line-height: 1;
    float: left;
    margin-left: 70px
}

footer .inner>.f_box>ul li {
    display: inline-block;
    margin: 0 25px;
    position: relative;
    color: #4f4f4f;
    font-size: 13px;
}

footer .inner>.f_box>ul li:first-child {
    margin-left: 0
}

footer .inner>.f_box>ul li:last-child {
    margin-right: 0
}

footer .inner>.f_box>ul li.copy {
    font-size: 11px;
    margin-top: 5px
}

footer .inner>.f_box>ul li:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 13px;
    background: #4f4f4f;
    margin: auto;
    top: -2px;
    bottom: 0;
    right: -27px;
}

footer .inner>.f_box>ul li:last-child:after {
    display: none;
}

footer .inner>.f_box>ul li a {
    color: #4f4f4f;
    font-size: 13px;
}

.banner {
    height: 300px;
    background-image: url('../../images/2020/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner p {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-shadow: 1px 1px 0 #333,
        -1px 1px 0 #333,
        1px -1px 0 #333,
        -1px -1px 0 #333,
        0px 1px 0 #333,
        0px -1px 0 #333,
        -1px 0px 0 #333,
        1px 0px 0 #333,
        2px 2px 0 #333,
        -2px 2px 0 #333,
        2px -2px 0 #333,
        -2px -2px 0 #333,
        0px 2px 0 #333,
        0px -2px 0 #333,
        -2px 0px 0 #333,
        2px 0px 0 #333,
        1px 2px 0 #333,
        -1px 2px 0 #333,
        1px -2px 0 #333,
        -1px -2px 0 #333,
        2px 1px 0 #333,
        -2px 1px 0 #333,
        2px -1px 0 #333,
        -2px -1px 0 #333;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    transform:translate(-12%, -50%);
    /*width: 100%;*/
    font-family: 'OTEnjoystoriesBA';
}

.banner p>span {
    font-size: 40px;
    font-family: 'OTEnjoystoriesBA';
}

.ct2 {
    background-image: url('../../images/2020/ct2_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ct2 .inner {
    overflow: hidden;
    padding: 80px 0
}

.ct2 .inner .notice {
    float: left;
    width: 455px;
    height: 310px;
}

.ct2 .inner .notice .notice_header {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}

.ct2 .inner .notice .notice_header>h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    float: left;
}

.ct2 .inner .notice .notice_header:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background: #0c4a96;
    bottom: 0;
    z-index: 1;
}

.ct2 .inner .notice .notice_header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ccc;
    left: 0;
    bottom: 1px;
}

.ct2 .inner .notice .notice_header>span {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    float: right;
}

.ct2 .inner .notice .notice_sub_header dl {
    overflow: hidden;
    margin: 28px 0;
    margin-bottom: 20px;
}

.ct2 .inner .notice .notice_sub_header dt {
    float: left;
}

.ct2 .inner .notice .notice_sub_header dd {
    float: right;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

.ct2 .inner .notice .notice_sub_header dd:nth-child(2) {
    font-weight: 600;
    font-size: 15px;
    margin-top: 9px;
}

.ct2 .inner .notice .notice_sub_header dd:last-child {
    font-size: 12px;
}

.ct2 .inner .notice .notice_contents ul li {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-left: 8px;
    overflow: hidden;
}

.ct2 .inner .notice .notice_contents ul li:before {
    position: absolute;
    left: 0;
    top: -3px;
    bottom: 0;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #333;
    display: block;
    content: '';
    margin: auto;
}

.ct2 .inner .notice .notice_contents ul li span {
    float: left;
    max-width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px
}

.ct2 .inner .notice .notice_contents ul li span.date {
    float: right;
    width: auto;
}

.ct2 .inner .right_menu {
    float: right;
    width: 785px;
}

.ct2 .inner .right_menu .left_article {
    float: left;
}

.ct2 .inner .right_menu .left_article .article_box {
    display: block;
    width: 490px;
    height: 310px;
    border-radius: 20px 0 0 20px;
    background-image: url('../../images/2020/menu_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: right top;
}

.ct2 .inner .right_menu .left_article .left_article_title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-top: 40px;
    margin-left: 40px;
    padding-top: 20px;
    display: inline-block;
    border-top: 3px solid #fff;
    width: 30px;
    white-space: nowrap;
}

.ct2 .inner .right_menu .left_article .right_article_title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 270px;
    height: 45px;
    border: solid 45px #f4781f;
    border-left: 45px solid transparent;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    line-height: 45px;
    padding-left: 20px;
}

.ct2 .inner .right_menu .left_article .arrow {
    position: absolute;
    right: 30px;
    bottom: 12px;
}

.ct2 .inner .right_menu .left_article .article_box:hover .arrow {
    transition: all 0.5s;
    transform: translateX(15px);
    zoom: 1.2
}

.ct2 .inner .right_menu .right_article {
    float: left;
    width: 295px;
    position: relative;
    background-image: url('../../images/2020/menu_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ct2 .inner .right_menu .right_article .article_box {
    width: 147px;
    height: 155px;
    display: block;
    float: left;
    color: #fff;
    position: relative;
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(2) {
    border-radius: 0 20px 0 0;
    color: #333;
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(3) {
    color: #333;
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(4) {
    border-radius: 0 0 20px 0
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(2) p, .ct2 .inner .right_menu .right_article .article_box:nth-child(3) p {
    border-color: #333;
    color: #333
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(1)::before {
    content: '';
    display: block;
    background: #e8fcfc;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    right: 20px;
    bottom: 15px;
    position: absolute;
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(2)::before {
    content: '';
    display: block;
    background: #84acda;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    right: 20px;
    bottom: 15px;
    position: absolute;
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(3)::before {
    content: '';
    display: block;
    background: #c1cfdf;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    right: 20px;
    bottom: 15px;
    position: absolute;
}

.ct2 .inner .right_menu .right_article .article_box:nth-child(4)::before {
    content: '';
    display: block;
    background: #f2f8ff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    right: 20px;
    bottom: 15px;
    position: absolute;
}

.ct2 .inner .right_menu .right_article .article_box:hover::before {
    transition: all 0.42s;
    transform: translateX(15px);
    zoom: 1.2;
}

.ct2 .inner .right_menu .right_article .article_box p {
    font-weight: 700;
    line-height: 24px;
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 2px solid #fff;
    width: 20px;
    white-space: nowrap;
    font-size: 26px;
}

.ct2 .inner .right_menu .right_article .article_box p>span {
    font-weight: 700;
    font-size: 14px;
}

.ct2 .inner .right_menu .right_article .article_box .arrow {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.ct2 .inner .right_menu .right_article .article_box:hover .arrow {
    transition: all 0.5s;
    transform: translateX(15px);
    zoom: 1.2;
}

.ct3 {
    background: #ebf2f9
}

.ct3 .inner {
    padding: 40px 0;
}

.ct3 .inner .bookmark {
    overflow: hidden;
}

.ct3 .inner .bookmark>li {
    height: 160px;
    width: 160px;
    background: #ccc;
    float: left;
    margin: 0 16px;
    border-radius: 20px;
    text-align: center;
}

.ct3 .inner .bookmark>li>a {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    position: relative;
    display: block;
    white-space:nowrap;
}

.ct3 .inner .bookmark>li>a p {
    padding-top: 30px;
}

.ct3 .inner .bookmark>li>a span {
    position: absolute;
    top: 105px;
    width: 100%;
    left: 0;
    right: 0;
    font-family: 'yg-jalnan';
}

.ct3 .inner .bookmark>li>a span.arrow {
    top: 130px;
    opacity: 0;
    left: -15px
}

.ct3 .inner .bookmark>li:hover>a span.arrow {
    transition: all 0.5s;
    transform: translateX(15px) translateY(-10px);
    opacity: 1
}

.ct3 .inner .bookmark>li:hover>a>span {
    transition: all 0.5s;
    transform: translateY(-10px);
}

.ct3 .inner .bookmark>li:first-child {
    margin-left: 0
}

.ct3 .inner .bookmark>li:last-child {
    margin-right: 0
}

.ct3 .inner .bookmark>li:nth-child(1) {
    background: #5c41b4
}

.ct3 .inner .bookmark>li:nth-child(2) {
    background: #5154bb
}

.ct3 .inner .bookmark>li:nth-child(3) {
    background: #6180c3
}

.ct3 .inner .bookmark>li:nth-child(4) {
    background: #72a6cd
}

.ct3 .inner .bookmark>li:nth-child(5) {
    background: #86c8d4
}

.ct3 .inner .bookmark>li:nth-child(6) {
    background: #8ed2c9
}

.ct3 .inner .bookmark>li:nth-child(7) {
    background: #99dec4
}

.m_ct3 {
    display: none
}

.ct4 {
    position: relative;
    background: url('../../images/2020/ct4_bg.png') no-repeat center;
    background-size: cover;
    margin-top: 80px
}

.ct4 .inner {
    overflow: hidden;
    position: relative;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background: url('../../images/2020/of_right.png') no-repeat center;
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: auto;
    bottom: -50px;
    left: 45px;
    right: auto;
    z-index: 0;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background: url('../../images/2020/of_left.png') no-repeat center;
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: auto;
    bottom: -50px;
    left: 0;
    z-index: 0;
}

.ct4 .swiper-container2 {
    padding: 80px 0;
    padding-top: 65px;
}

.ct4 .swiper-slide {
    text-align: center;
}

.ct4 .swiper-slide .wrap {
    box-shadow: 1px 2px 8px #ccc;
    display: inline-block;
}

.ct4 .swiper-pagination {
    top: 0;
    bottom: auto;
    width: 100%;
    display: flex;
    background: #ccc;
    border-radius: 10px;
    background: #ccc;
    z-index: 0
}

.ct4_right {
    width: 1050px;
    float: right;
}

.ct4_left {
    width: 250px;
    float: left;
    padding: 80px 0;
}

.ct4_left h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 35px
}

.ct4_left h4>span {
    background: url('../../images/2020/text_bg.png') no-repeat center;
    background-size: contain;
}

.ct4_left h4>span>span {
    color: #009e5c
}

.ct4_left p {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px
}

.ct5_left {
    width: 180px;
    float: left;
    padding: 0;
}

.ct5_left h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 35px;
    padding-bottom:8px;
}

.ct5_left p>span {
    color: #59BA87
}

.ct5_left p {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: #ccc;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    height: 3px;
}

.swiper-pagination-bullet-active {
    background: #009e5c !important
}

/* 모바일 */
@media all and (max-width:1299px) {
    * {
        font-family: 'Noto Sans KR', sans-serif;
    }
    .container {
        padding-top: 50px;
    }

    a.top {
        width: 35px;
        height: 35px;
    }

    .m_font {
        display: block;
    }

    .pc_font {
        display: none;
    }

    .m_head {
        display: block;
    }

    .m_account {
        display: block;
    }

    .m_table_colgroup {
        display: none;
    }

    .banner {
        background-position: right center;
    }

    .banner p {
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .inner {
        width: 100%;
        padding: 50px 15px !important;
    }

    .head {
        display: none;
    }

    .account {
        display: none;
    }

    footer .inner>ul {
        text-align: center;
    }

    footer .inner>ul li {
        margin: 0 10px;
    }

    footer .inner>ul li a {
        font-size: 11px;
    }

    footer .inner>ul li:after {
        right: -13px;
        height: 10px;
    }

    footer .inner>.f_box>.logo {
        float: none;
        text-align: center;
    }

    footer .inner>.f_box>.logo img {
        width: 100px
    }

    footer .inner {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    footer .inner>ul {
        padding-bottom: 13px;
    }

    footer .inner>.f_box>ul {
        float: none;
        margin: 0;
        text-align: center;
    }

    footer .inner>.f_box>ul li {
        font-size: 11px;
        color: #4f4f4f;
        line-height: 20px;
        display: block;
    }

    footer .inner>.f_box>ul li.copy {
        font-size: 10px;
    }

    footer .inner>.f_box>ul li.fax, footer .inner>.f_box>ul li.fax_2 {
        display: inline-block;
    }

    footer .inner>.f_box>ul li:after {
        height: 10px;
        background: #4f4f4f
    }

    footer .inner>.f_box>ul li.address:after {
        display: none;
    }

    footer .inner>.f_box>ul li:first-child {
        margin-right: 0
    }

    .banner {
        height: 375px;
    }

    .ct2 {
        background-position-y: bottom;
        background-position-x: right;
        background-size: auto;
    }

    .ct2 .inner .notice {
        width: 100%;
        float: none;
        height: auto;
    }

    .ct2 .inner .notice .notice_sub_header dd {
        width: calc(100% - 93px)
    }

    .ct2 .inner .notice .notice_contents ul li span {
        max-width: calc(100% - 100px)
    }

    .ct2 .inner .right_menu {
        float: none;
        margin: 0 auto;
        margin-top: 50px;
        overflow: hidden;
        width: 100%;
    }

    .ct2 .inner .right_menu .left_article {}

    .ct2 .inner .right_menu .left_article .left_article_title {
        padding-top: 20px;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 18px;
    }

    .ct2 .inner .right_menu .left_article .article_box {
        width: 458px;
        height: 350px;
        border-radius: 20px 0 0 20px;
        max-height: 350px;
    }

    .ct2 .inner .right_menu .left_article .right_article_title {
        font-size: 13px;
        width: 210px;
        padding-left: 10px;
    }

    .ct2 .inner .right_menu .left_article .arrow {
        width: 30px;
        right: 15px;
        width: 30px;
        bottom: 10px
    }

    .ct2 .inner .right_menu .left_article .article_box:hover .arrow {
        zoom: 1;
        transform: translateX(7px);
    }

    .ct2 .inner .right_menu .right_article {
        float: left;
        overflow: hidden;
        width: calc(100% - 458px);
        position: relative;
        background-image: url('../../images/2020/m_menu_bg.png');
        background-position: center;
        border-radius: 0 20px 20px 0;
    }

    .ct2 .inner .right_menu .right_article::before {
        content: '';
        display: block;
        position: absolute;
        width: 294px;
        height: 310px;
        background-image: url('../../images/2020/menu_bg.png');
        background-repeat: no-repeat;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
    }

    .ct2 .inner .right_menu .right_article .article_box {
        width: calc(100% / 2);
        height: 175px;
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(1) {
        z-index: 1;
        position: relative;
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(2) {
        z-index: 1
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(3) {
        z-index: 1
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(4) {
        z-index: 1
    }

    .ct2 .inner .right_menu .right_article .article_box p {
        font-size: 15px;
    }

    .ct2 .inner .right_menu .right_article .article_box p>span {
        font-size: 13px;
    }

    .ct3 {
        display: none;
    }

    .m_ct3 {
        display: block;
        position: relative;
        background: url(../../images/2020/ct4_bg.png) no-repeat center;
        background-size: cover;
    }

    .ct4_right {
        width: 100%;
    }

    .m_ct3 .ct4_right .swiper-container {
        padding-bottom: 60px;
        width: 345px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination1 {
        position: absolute;
        bottom: 23px;
        height: 6px;
        text-align: center;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination1 .swiper-pagination-bullet {
        margin: 0 10px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #8aaad2;
        opacity: 1;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination1 .swiper-pagination-bullet-active {
        background: #0c4a96 !important;
        position: relative;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination1 .swiper-pagination-bullet-active::before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 17px;
        border: 1px solid #0c4a96;
        border-radius: 100%;
    }

    .m_ct3 .inner {
        overflow: hidden;
        background: linear-gradient(120deg, rgba(244, 120, 31, 0.15)0%, rgba(142, 183, 233, 0.15) 48%, rgba(27, 169, 109, 0.15));
        padding-bottom: 25px !important;
        padding-top: 40px !important;
    }

    .ct3 .inner .bookmark>li {
        margin: 0;
    }

    .ct3 .inner .bookmark>li:nth-child(odd) {
        float: left;
    }

    .ct3 .inner .bookmark>li:nth-child(even) {
        float: right;
    }

    .ct3 .inner .bookmark>li:nth-child(3) {
        margin-top: 35px;
    }

    .ct3 .inner .bookmark>li:nth-child(4) {
        margin-top: 35px;
    }

    .ct4 {
        margin-top: 50px;
    }

    .ct4_left {
        padding: 0;
    }

    .ct4 .swiper-container2 {
        overflow: inherit;
        padding-top: 55px;
        padding-bottom: 0;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        bottom: auto;
        top: 52px;
        left: auto;
        right: 60px;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        bottom: auto;
        top: 52px;
        left: auto;
        right: 15px;
    }

    .ct4 .swiper-pagination {
        left: 0;
        right: 0;
        width: calc(100% - 30px);
    }
}

@media all and (max-width:369px) {
    .ct3 .inner .bookmark>li {
        width: 47%;
    }

    .m_ct3 .ct4_right .swiper-container {
        width: 100%;
    }

    .banner p {
        font-size: 25px;
        line-height: 35px;
    }
}

@media all and (max-width:350px) {
    footer .inner>.f_box>ul li:after {
        display: none;
    }
}

@media all and (max-width:345px) {
    .sidenav {
        width: 280px;
        right: -280px;
    }

    .sidenav .closebtn {
        display: none !important
    }

    .sidenav .closebtn_v2 {
        display: block !important;
        position: absolute;
        right: 15px;
        padding: 0;
        top: 10px;
    }

    footer .inner>ul li {
        margin: 0 5px;
    }

    footer .inner>ul li:after {
        right: -8px;
    }
}

@media all and (max-width:850px) {
    .banner p {
        font-size: 40px;
        line-height: 40px;
    }

    .banner p>span {
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
        padding-top: 25px;
    }
}

@media all and (max-width:782px) {
    .ct2 .inner .right_menu .left_article .article_box {
        width: 385px;
    }

    .ct2 .inner .right_menu .right_article {
        width: calc(100% - 385px);
    }
}

@media all and (max-width:709px) {
    .ct2 .inner .right_menu .left_article .article_box {
        width: 310px;
    }

    .ct2 .inner .right_menu .right_article {
        width: calc(100% - 310px);
    }
}

@media all and (max-width:635px) {
    .ct2 .inner .right_menu {
        float: none;
        width: 100%;
    }

    .ct2 .inner .right_menu .left_article {
        float: none;
    }

    .ct2 .inner .right_menu .left_article .left_article_title {
        padding-top: 20px;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 18px;
    }

    .ct2 .inner .right_menu .left_article .article_box {
        width: 100%;
        height: 72vw;
        border-radius: 20px 20px 0 0;
        max-height: 350px;
    }

    .ct2 .inner .right_menu .left_article .right_article_title {
        font-size: 13px;
        width: 210px;
        padding-left: 10px;
    }

    .ct2 .inner .right_menu .left_article .arrow {
        width: 30px;
        right: 15px;
        width: 30px;
        bottom: 10px
    }

    .ct2 .inner .right_menu .left_article .article_box:hover .arrow {
        zoom: 1;
        transform: translateX(7px);
    }

    .ct2 .inner .right_menu .right_article {
        float: none;
        overflow: hidden;
        width: 100%;
        position: relative;
        background-image: url('../../images/2020/m_menu_bg.png');
        background-position: center;
        border-radius: 0 0 20px 20px;
    }

    .ct2 .inner .right_menu .right_article::before {
        content: '';
        display: block;
        position: absolute;
        width: 294px;
        height: 310px;
        background-image: url('../../images/2020/menu_bg.png');
        background-repeat: no-repeat;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
    }

    .ct2 .inner .right_menu .right_article .article_box {
        width: calc(100% / 2);
        height: 41.4vw;
        max-height: 200px;
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(1) {
        z-index: 1;
        position: relative;
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(2) {
        z-index: 1
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(3) {
        z-index: 1
    }

    .ct2 .inner .right_menu .right_article .article_box:nth-child(4) {
        z-index: 1
    }

    .ct2 .inner .right_menu .right_article .article_box p {
        font-size: 15px;
    }

    .ct2 .inner .right_menu .right_article .article_box p>span {
        font-size: 13px;
    }
}

@media all and (max-width:600px) {
    .m_font_v2 {
        display: block;
    }
}
@media all and (max-width:400px) {
    .ct2 .inner .right_menu .left_article .article_box{
        background-size: 410px;
    }
}
