﻿@{
    ViewBag.Title = "강좌관리";
}


@using PagedList
@using PagedList.Mvc
@using LectureManage.Models

@model LectureRequestModel



@{
    ViewBag.Title = "강좌 관리";
    Layout = "~/Views/_Layout.cshtml";
}



<style type="text/css">
    table.type08 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        border-left: 1px solid #ccc;
        margin: 20px 10px;
    }

        table.type08 thead th {
            padding: 10px;
            font-weight: bold;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 2px solid #c00;
            background: #dcdcd1;
            text-align:center;
            vertical-align:middle;
        }

        table.type08 tbody th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            background: #ececec;
            text-align: left;
        }

        table.type08 td {
            width: 350px;
            padding: 10px;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }

    .pagination-container {
        text-align: center;
    }

    a.underline {
        text-decoration:underline;
    }

    .width30 {
        width:30%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // 취소하기
        $("#btnCancel").click(function () {
            window.history.back();
        });


        // 신청하기
        $("#btnConfirm").click(function () {
            @*$.ajax({
                    url: '@Url.Action("LectureRequestInsert", "LectureManage")',
                    data: {
                        request: {
                            LectureSeq: @Model.lecture.LectureSeq,
                            SchCode: @Model.lecture.CreateSchCode,
                            Motive: $("#motive").val(),
                            State: 0
                        },
                        user: {
                            uname: $("#stname").val(),
                            school: $("#stschool option:selected").text(),
                            sch_coe: $("#stschool").val(),
                            grade: $("#stgrade").val(),
                            mclass: $("#stclass").val(),
                            no: $("#stno").val(),
                            telcom: $("#sttelcom").val(),
                            phone1: $("#stphone1").val(),
                            phone2: $("#stphone2").val(),
                            Gender: $("#stgender").val()
                        }
                    },
                    dataType: 'json',
                    type: 'POST',
                    beforeSend: function () {
                        $.isLoading({
                            text: "신청 중..",
                            position: "overlay"
                        });
                    }
                })
                .done(function (json) {
                    $.isLoading("hide");

                    if (json.ok) {
                        alert(json.message);

                        var url = '@Url.Action("LectureList", "LectureRequest")' + "?page=1&lectureType=0";
                        location.href = url;
                    } else {
                        alert(json.message);
                    }
                })*@
        });

        selectInit();
    });

    var selectInit = function () {
        // 학년
        for (var i = 1; i < 4; i++) {
            $("#stgrade").append("<option value=" + i + ">" + i + "학년" + "</option>");
            @*if (@Model.user.grade == i.toString()) {
                $("#stgrade").val(i.toString());
            }*@
            if ("1" == i.toString()) {
                $("#stgrade").val(i.toString());
            }
        }
        // 반
        for (var i = 1; i < 16; i++) {
            $("#stclass").append("<option value=" + i + ">" + i + "반" + "</option>");
            @*if (@Model.user.mclass == i) {
                $("#stclass").val(i.toString());
            }*@
            if (1 == i) {
                $("#stclass").val(i.toString());
            }
        }
        // 번호
        for (var i = 1; i < 51; i++) {
            $("#stno").append("<option value=" + i + ">" + i + "번" + "</option>");
            @*if (@Model.user.no == i.toString()) {
                $("#stno").val(i.toString());
            }*@
            if (1 == i) {
                $("#stno").val(i.toString());
            }
        }
        // 성별
        $("#stgender").append("<option value='1'>남자</option>");
        $("#stgender").append("<option value='2'>여자</option>");
        @*$("#stgender").val(@(Model.user.Gender?.ToString()));*@
        $("#stgender").val("2");
    }

</script>


<h3>강좌 등록</h3>
<span>표시가 있는 항목은 반드시 입력해야 합니다.</span>
<!-- 강좌 목록 -->
<table class="type08" style="border-top: 1px solid #ccc;">
    <colgroup>
        <col width="16%">
        <col width="30%">
        <col width="8%">
        <col width="30%">
        <col width="8%">
        <col width="8%">
    </colgroup>
    <tr>
        <th>학년도</th>
        <td colspan="5">
            @*@(Model.lecture.Year)학년도 @(Model.lecture.Semester == 0 ? "" : Model.lecture.Semester + "학기")*@
        </td>
    </tr>
    <tr>
        <th>강좌명</th>
        <td colspan="5">
            @*@Model.lecture.LectureName (@(Model.lecture.MaxTime)시수)*@
        </td>
    </tr>
    <tr>
        <th>개설학교</th>
        <td colspan="5">
            @*@Model.lecture.sch_name*@
        </td>
    </tr>
    @*<tr @(string.IsNullOrEmpty(Model.lecture.TargetSchCodes) ? "style=display:none;" : "")>
        <th>신청가능학교</th>
        <td colspan="5">
            @Model.lecture.TargetSchCodes
        </td>
    </tr>*@
    <tr>
        <th>수업시간</th>
        <td colspan="5"></td>
    </tr>
    <tr>
        <th>신청학교</th>
        <td colspan="5">
            @{
//var schoollist = (new SelectList(Model.school, "schoolCode", "schoolName", Model.user.sch_code)).ToList();
            }

            @*@Html.DropDownListFor(x => x.user.sch_code, schoollist, new { @class = "select width30", @id = "stschool" })*@
            <select id="stgrade"></select>
            <select id="stclass"></select>
            <select id="stno"></select>
        </td>
    </tr>
    <tr>
        <th>이름</th>
        <td><input type="text" id="stname" value="@Model.user.uname" /></td>
        <th>연락처</th>
        <td>
            @Html.DropDownListFor(x => x.user.telcom, new SelectList(Model.telcom.Select(x => new { Value = x, Text = x }), "Value", "Text", Model.user.telcom), new { @class = "select width30", @id = "sttelcom" })

            <input class="width30" id="stphone1" type="tel" value="@Model.user.phone1" /> ~ <input class="width30" id="stphone2" type="tel" value="@Model.user.phone2" />
        </td>
        <th>성별</th>
        <td><select id="stgender"></select></td>
    </tr>
    <tr>
        <th>지원동기</th>
        <td colspan="5" style="height:300px;"><textarea id="motive" style="width:100%; height:100%; max-width:100%;"></textarea></td>
    </tr>
</table>

<div style="text-align:center;padding:30px 0px 30px 0px;">
    <input type="button" value="취소하기" class="btn" style="color:black; background-color:white; border:1px solid #ccc;" id="btnCancel" />
    <input type="button" value="신청하기" class="btn" style="color:white; background-color:black;" id="btnConfirm" />
</div>