﻿
@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.Core.Entities

@model ViewModel<AfterSchool_Lecture_Request>

@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = "나의 수강신청";
    ViewBag.Navigation = "MY";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}

@section Javascript { 
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[name=SearchText]").on("keyup", function (e) {
                $("input[name=SearchText]").val(e.target.value);
            });

            $("select[name=Search\\.YearSemester]").change(function (e) {
                $("select[name=Search\\.YearSemester]").val(e.target.value);
            });

            $("select[name=SearchField]").change(function (e) {
                $("select[name=SearchField]").val(e.target.value);
            });
        });
        var cancelLecture = function (rseq) {
            if (!confirm("강의 신청을 취소하겠습니까?")) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("LectureRequestCancel", "LectureRequest")',
                data: {
                    requestSeq: rseq
                },
                dataType: 'json',
                type: 'POST',
                beforeSend: function () {

                    //$.isLoading({
                    //    text: "취소 중..",
                    //    position: "overlay"
                    //});
                }
            })
            .done(function (json) {
                //$.isLoading("hide");

                if (json.ok) {
                    alert(json.message);

                    $("#searchForm").submit();
                    //location.reload();

                } else {
                    alert(json.message);
                }
            })
        }

    </script>
}

<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1">나의 수강신청</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의신청</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link">· 개방형 강의</a>
                                    <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link ">· 학교연합형 강의</a>
                                    <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link active">· 나의 수강신청</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>나의 수강신청</h4>
                </div>

                @using (Html.BeginForm("LectureMyList", "LectureRequest", new { lectureType = ViewBag.LectureType }, FormMethod.Post, new { @id = "searchForm" }))
                {
                    <h5 class="sub_content_title sub_content_title_v2" style="position:relative">
                        강의목록
                        <a href="@(Url.Action("LectureList", "LectureRequest"))" class="m_aply" style="width:90px;">
                            강의리스트
                        </a>
                        <div class="table_help">
                            @{
                                string selectYear = string.Format("{0}|{1}", DateTime.Now.Year, DateTime.Now.Month < 7 ? 1 : 2);
                                var years = new List<string>();
                                years.Add(selectYear);
                                years.Add(string.Format("{0}|{1}", DateTime.Now.Month < 7 ? DateTime.Now.Year : DateTime.Now.Year + 1, DateTime.Now.Month < 7 ? 2 : 1));
                                var yearList = (new SelectList(years.Select(x => new { Value = x, Text = string.Format("{0}년 {1}학기", x.Split('|')[0], x.Split('|')[1]) }), "Value", "Text", selectYear)).ToList();
                                yearList.Insert(0, new SelectListItem { Value = "0|0", Text = "전체" });
                            }
                            @Html.DropDownListFor(x => x.Search.YearSemester, yearList, new { @class = "searchoption", @style = "margin-right:8px;width:130px;" })
                            @{
                                List<string> searchField;

                                searchField = new List<string>(new string[] { "강의명|LectureName", "학교명|CreateSchCode" });
                                //else
                                //{
                                //    searchField = new List<string>(new string[] { "지역별|Region", "교과명|CssCode", "강의명|LectureName", "학교명|CreateSchCode", "신청 학교명|TargetSchCodes" });
                                //}

                                var searchFieldList = new SelectList(searchField.Select(x => new { Value = x.Split('|')[1], Text = x.Split('|')[0] }), "Value", "Text", Model.SearchField);
                            }
                            @Html.DropDownListFor(x => x.SearchField, searchFieldList, new { @class = "searchoption" })
                            @Html.TextBoxFor(x => x.SearchText, new { @placeholder = "검색어를 입력해주세요." })
                            <button onclick="fnSearch()">검색</button>
                        </div>
                    </h5>


                    <div class="table_div">
                        <table class="tg" style="table-layout:fixed">
                            <colgroup>
                                <col style="width:96px">
                                <col style="width:96px">
                                <col style="width:96px">
                                <col style="width:96px">
                                <col style="width:96px">
                                <col style="width:76px">
                                @*<col width="8%">*@
                                <col style="width:96px">
                                <col style="width:58px">
                                <col style="width:58px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>강의명</th>
                                    <th>학교명</th>
                                    <th>강의기간</th>
                                    <th>강의시간</th>
                                    <th>대상</th>
                                    <th>단위수</th>
                                    @*<th>성별</th>*@
                                    <th>신청/정원</th>
                                    <th>신청</th>
                                    <th>수강신청</th>
                                </tr>
                            </thead>
                            <tbody id="lectureTable">

                                @if (Model.List != null && Model.List.Count > 0)
                                {
                                    foreach (var tc in Model.List)
                                    {
                                    <tr>
                                        <td title="@tc.LectureName">
                                            <a href="@Url.Action("Detail", "LectureManageMent", new { type = tc.LectureType, seq = tc.LectureSeq })" style="font-weight:bold; text-decoration:underline;">@(tc.LectureName)</a>
                                        </td>
                                        <td title="@tc.sch_name">@tc.sch_name</td>
                                        <td title="@(tc.OperationStartDate?.ToString("yyyy-MM-dd") + " ~ " + tc.OperationEndDate?.ToString("yyyy-MM-dd"))">
                                            @(tc.OperationStartDate?.ToString("yyyy-MM-dd")) ~<br />@(tc.OperationEndDate?.ToString("yyyy-MM-dd"))
                                        </td>
                                        <td title="@tc.LectureTime">@(tc.LectureTime)</td>
                                        @{
                                            string gradeStr = string.Empty;
                                            for (int i = 0; i < tc.TargetGrade.Length; i++)
                                            {
                                                gradeStr = string.Concat(gradeStr, tc.TargetGrade[i] == '1' ? string.Format(",{0}", i + 1) : "");
                                            }

                                            if (!string.IsNullOrEmpty(gradeStr))
                                            {
                                                gradeStr = gradeStr.Substring(1);
                                            }
                                        }
                                        <td title="@(gradeStr)학년">
                                            @(gradeStr)학년
                                        </td>

                                        <td>@tc.MaxTime</td>
                                        @*<td>@(tc.TargetGender == 0 ? "전체" : tc.TargetGender == 1 ? "남자" : "여자")</td>*@
                                        <td class="txL">
                                            @(tc.CurrentSignUp)명 / @(tc.MaxSignUp)명
                                        </td>
                                        <td>
                                            @{
                                                var stateList = (new SelectList(new List<string>(new string[] { "대기", "수강" }).Select((x, idx) => new { Value = idx, Text = x }), "Value", "Text", tc.State)).ToList();
                                            }

                                            @Html.DropDownListFor(x => tc.State, stateList, new { @class = "select", @disabled = "disabled", @style = "border:1px solid #ccc;padding:4px;" })
                                        </td>
                                        <td>
                                            <div class="icoBar">
                                                @if (tc.RequestSeq == 0)
                                                {
                                                    <a href="@Url.Action("LectureWrite", "LectureRequest", new { lectureSeq = tc.LectureSeq })" style="font-weight:bold; text-decoration:underline;">신청</a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="underline" style="text-decoration:underline; font-weight:bold;" onclick="return cancelLecture('@tc.RequestSeq')">신청취소</a>
                                                }
                                            </div>
                                        </td>
                                    </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9">
                                            데이터가 없습니다.
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="bbs_text_type_paging">
                        <div id="pager">
                            <div class="totalCount" style="margin-left:10px;">전체 <span>@Model.TotalCount</span> 건</div>
                            @Html.PagedListPager(new StaticPagedList<AfterSchool_Lecture_Request>(Model.List, Model.PageIndex, Model.PageSize, Model.TotalCount), page => Url.Action("LectureList", "LectureRequest", new { SearchField = Model.SearchField, SearchText = Model.SearchText, selectYear = Model.Search.YearSemester, page = page }))
                            <!-- 페이지 네비게이션 끝 -->
                        </div>
                        <div class="table_help m_table_help">
                            @Html.DropDownListFor(x => x.Search.YearSemester, yearList, new { @class = "searchoption", @style = "margin-right:8px;width:130px;" })
                            @Html.DropDownListFor(x => x.SearchField, searchFieldList, new { @class = "searchoption" })
                            @Html.TextBoxFor(x => x.SearchText, new { @placeholder = "검색어를 입력해주세요." })
                            <button onclick="fnSearch()">검색</button>
                        </div>
                        <a href="@(Url.Action("LectureList", "LectureRequest"))" class="aply">
                            강의리스트
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
