﻿
@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.Core.Entities

@model ViewModel<AfterSchool_Lecture>

@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = ViewBag.LectureType == 0 ? "개방형 강의" : "학교연합형 강의";
    ViewBag.Navigation = ViewBag.LectureType == 0 ? "0" : "1";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}

@section CSS {
    <style type="text/css">
        .list_w .list_tbl td {
            line-height: 1.5;
            
        }

        .sub_section .right_content table.tg tbody tr td {
            line-height: 2;
            
        }
        
    </style>
}

@section Javascript {
    <script type="text/javascript">
        $(document).ready(function () {
            // 자율형 버튼 클릭
            $("#BtnOpened").click(function () {
                var url = '@Url.Action("LectureList", "LectureRequest")' + "?page=1&lectureType=0";

                location.href = url;
            });


            // 밴드형 버튼 클릭
            $("#BtnClosed").click(function () {
                var url = '@Url.Action("LectureList", "LectureRequest")' + "?page=1&lectureType=1";

                location.href = url;
            });

            $("input[name=SearchText]").on("keyup", function (e) {
                $("input[name=SearchText]").val(e.target.value);
            });

            $("select[name=Search\\.YearSemester]").change(function (e) {
                $("select[name=Search\\.YearSemester]").val(e.target.value);
            });

            $("select[name=SearchField]").change(function (e) {
                $("select[name=SearchField]").val(e.target.value);
            });
        });

        var cancelLecture = function (rseq) {
            if (!confirm("강의 신청을 취소하겠습니까?")) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("LectureRequestCancel", "LectureRequest")',
                data: {
                    requestSeq: rseq
                },
                dataType: 'json',
                type: 'POST',
                beforeSend: function () {

                    //$.isLoading({
                    //    text: "취소 중..",
                    //    position: "overlay"
                    //});
                }
            })
            .done(function (json) {
                //$.isLoading("hide");

                if (json.ok) {
                    alert(json.message);

                    $("#searchForm").submit();
                    //location.reload();

                } else {
                    alert(json.message);
                }
            })
        }
    </script>
}



<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=" : "/LectureManageMent/List?type=") + "@ViewBag.LectureType">@(ViewBag.LectureType == 0 ? " 개방형 강의신청" : "학교연합형 강의신청")</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의신청</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                                    {
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link ">· 나의 수강신청</a>
                                    }
                                    else
                                    {
                                        <a href="/LectureManageMent/List?type=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureManageMent/List?type=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if ("1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                        {
                            <li class="sub_title_v3">
                                <a href="TeacherManageMent/List" class="link_title">교사관리</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>@(ViewBag.LectureType == 0 ? "개방형 강의신청" : "학교연합형 강의신청")</h4>
                </div>

                @using (Html.BeginForm("LectureList", "LectureRequest", new { lectureType = ViewBag.LectureType }, FormMethod.Post, new { @id = "searchForm" }))
                {
                    <h5 class="sub_content_title sub_content_title_v2" style="position:relative">
                        강의목록
                        <a href="@(Url.Action("LectureMyList", "LectureRequest" ))" class="m_aply" style="width:90px;">
                            나의 수강신청
                        </a>
                        <div class="table_help">
                            @{
                                string selectYear = string.Format("{0}|{1}", DateTime.Now.Year, DateTime.Now.Month < 7 ? 1 : 2);
                                var years = new List<string>
                                    ();
                                years.Add(selectYear);
                                years.Add(string.Format("{0}|{1}", DateTime.Now.Month < 7 ? DateTime.Now.Year : DateTime.Now.Year + 1, DateTime.Now.Month < 7 ? 2 : 1));
                                var yearList = (new SelectList(years.Select(x => new { Value = x, Text = string.Format("{0}년 {1}학기", x.Split('|')[0], x.Split('|')[1]) }), "Value", "Text", selectYear)).ToList();
                                yearList.Insert(0, new SelectListItem { Value = "0|0", Text = "전체" });
                            }
                            @Html.DropDownListFor(x => x.Search.YearSemester, yearList, new { @class = "searchoption", @style = "margin-right:8px;width:130px;" })
                            @{
                                List<string>
                                    searchField;

                                if (Model.Search.LectureType == 0)
                                {
                                    searchField = new List<string>
                                        (new string[] { "강의명|LectureName", "학교명|CreateSchCode" });
                                }
                                else
                                {
                                    searchField = new List<string>
                                        (new string[] { "지역별|Region", "교과명|CssCode", "강의명|LectureName", "학교명|CreateSchCode", "신청 학교명|TargetSchCodes" });
                                }

                                var searchFieldList = new SelectList(searchField.Select(x => new { Value = x.Split('|')[1], Text = x.Split('|')[0] }), "Value", "Text", Model.SearchField);
                            }
                            @Html.DropDownListFor(x => x.SearchField, searchFieldList, new { @class = "searchoption" })

                            @Html.TextBoxFor(x => x.SearchText, new { @placeholder = "검색어를 입력해주세요." })
                            <button onclick="fnSearch()">검색</button>
                        </div>
                    </h5>


                    <div class="table_div">
                        <table class="tg" style="table-layout:fixed">
                            <colgroup>
                                <col style="width:30px">
                                <col style="width:50px">
                                <col style="width:*">
                                <col style="width:96px">
                                @if (ViewBag.LectureType == 1)
                                {
                                    <col style="width:100px">
                                }
                                <col style="width:86px">
                                <col style="width:90px">
                                <col style="width:80px">
                                <col style="width:36px">
                                @*
                        <col width="4%">*@
                                <col style="width:80px">
                                <col style="width:86px">
                                <col style="width:48px">
                                <col style="width:70px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>교과</th>
                                    <th>강의명</th>
                                    <th>개설학교</th>
                                    @if (ViewBag.LectureType == 1)
                                    {
                                        <th>신청가능학교</th>
                                    }
                                    <th>강의기간</th>
                                    <th>강의시간</th>
                                    <th>대상</th>
                                    <th>단위</th>
                                    @*
                            <th>성별</th>*@
                                    <th>신청/정원</th>
                                    <th>접수기간</th>
                                    <th>상태</th>
                                    <th>수강신청</th>
                                </tr>
                            </thead>
                            <tbody id="lectureTable">

                                @if (Model.List != null && Model.List.Count > 0)
                                {
                                    foreach (var tc in Model.List)
                                    {
                                <tr>
                                    <td title="@tc.RowNum">
                                        @tc.RowNum
                                    </td>
                                    <td title="@tc.CssName">
                                        @tc.CssName
                                    </td>
                                    <td title="@tc.LectureName">
                                        <a href="@Url.Action("Detail", "LectureManageMent" , new { type=tc.LectureType, seq=tc.LectureSeq })" style="font-weight:bold; text-decoration:underline;">@(tc.LectureName)</a>
                                    </td>
                                    <td title="@tc.sch_name">@tc.sch_name</td>
                                    @if (ViewBag.LectureType == 1)
                                    {
                                        <td style="white-space:nowrap; text-overflow:ellipsis; overflow:hidden;" title="@(tc.TargetSchCodes?.Replace(",", Environment.NewLine))">@(tc.TargetSchCodes?.Replace(",", Environment.NewLine))</td>
                                    }
                                    <td title="@(tc.OperationStartDate?.ToString("yyyy-MM-dd") + " ~ " + tc.OperationEndDate?.ToString("yyyy-MM-dd"))">
                                        @(tc.OperationStartDate?.ToString("yyyy-MM-dd")) ~<br />@(tc.OperationEndDate?.ToString("yyyy-MM-dd"))
                                    </td>
                                    <td title="@tc.LectureTime">
                                        @(tc.LectureTime)
                                        @*@(tc.LectureTime.Replace(", ", Environment.NewLine))*@
                                    </td>
                                    @{
                                        string gradeStr = string.Empty;
                                        for (int i = 0; i < tc.TargetGrade.Length; i++)
                                        {
                                            gradeStr = string.Concat(gradeStr, tc.TargetGrade[i] == '1' ? string.Format(",{0}", i + 1) : "");
                                        }

                                        if (!string.IsNullOrEmpty(gradeStr))
                                        {
                                            gradeStr = gradeStr.Substring(1);
                                        }
                                    }
                                    <td title="@(gradeStr)학년">

                                        @(gradeStr)학년
                                    </td>
                                    <td>@tc.MaxTime</td>
                                    <td class="txL">
                                        @(tc.CurrentSignUp)명 / @(tc.MaxSignUp)명
                                    </td>
                                    <td title="@(tc.Reception?.ToString("yyyy-MM-dd hh:mm:ss") + "~" + tc.ReceptionClosed?.ToString("yyyy-MM-dd hh:mm:ss"))">@(tc.Reception?.ToString("yyyy-MM-dd hh:mm:ss")) ~<br />@(tc.ReceptionClosed?.ToString("yyyy-MM-dd hh:mm:ss"))</td>
                                    <td>
                                        @*@{
            var stateList = new List<string>
                (new string[] { "종료", "운영", "", "접수", "마감", "대기" }).Select((x, idx) => new { Value = idx, Text = x }).Where(x => !string.IsNullOrEmpty(x.Text)).ToList();
                }

                @Html.DropDownListFor(x => tc.State, new SelectList(stateList, "Value", "Text", tc.State?.ToString()), new { @class = "select", @disabled = "disabled" })*@
                                        @if (@tc.State.ToString() == "0")
                                        {
                                            <span style="height:10px;width:30px; background-color:red; padding:5px; color:white;">마감</span>
                                        }
                                        else
                                        {
                                            <span style="height:10px;width:30px;background-color:blue; padding:5px; color:white;">접수</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="icoBar">
                                            @if (tc.RequestSeq == 0)
                                            {
                                                <a href="@Url.Action("LectureWrite", "LectureRequest" , new { lectureSeq=tc.LectureSeq })" style="font-weight:bold; text-decoration:underline;">신청</a>
                                            }
                                            else if (tc.RequestSeq > 0)
                                            {
                                                <a href="#" style="text-decoration:underline;" onclick="return cancelLecture('@tc.RequestSeq')">신청취소</a>
                                            }
                                        </div>
                                    </td>
                                </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="@(ViewBag.LectureType == 0 ? " 12" : "13" )">
                                            데이터가 없습니다.
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="bbs_text_type_paging">
                        <div id="pager">
                            <div class="totalCount" style="margin-left:10px;">전체 <span>@Model.TotalCount</span> 건</div>
                            @Html.PagedListPager(new StaticPagedList<AfterSchool_Lecture>
                                (Model.List, Model.PageIndex, Model.PageSize, Model.TotalCount), page => Url.Action("LectureList", "LectureRequest", new { SearchField = Model.SearchField, SearchText = Model.SearchText, selectYear = Model.Search.YearSemester, lectureType = ViewBag.LectureType, page = page }))
                            <!-- 페이지 네비게이션 끝 -->
                        </div>
                        <div class="table_help m_table_help">
                            @Html.DropDownListFor(x => x.Search.YearSemester, yearList, new { @class = "searchoption", @style = "margin-right:8px;width:130px;" })
                            @Html.DropDownListFor(x => x.SearchField, searchFieldList, new { @class = "searchoption" })
                            @Html.TextBoxFor(x => x.SearchText, new { @placeholder = "검색어를 입력해주세요." })
                            <button onclick="fnSearch()">검색</button>
                        </div>
                        <a href="@(Url.Action("LectureMyList", "LectureRequest" ))" class="aply">
                            나의 수강신청
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>






