﻿
@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.Core.Entities

@model Tuple<AfterSchool_Lecture, member>



@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = "수강신청";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}

<style type="text/css">
    th {
        font-weight: bold !important;
    }
</style>

@if (ViewBag.ErrorMsg == null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            // 취소하기
            $("#btnCancel").click(function () {
                window.history.back();
            });


            // 신청하기
            $("#btnConfirm").click(function () {
                $.ajax({
                url: '@Url.Action("LectureRequestInsert", "LectureRequest")',
                        data: {
                    request: {
                        LectureSeq: @Model.Item1.LectureSeq,
                                SchCode: '@Model.Item1.CreateSchCode',
                                Motive: $("#motive").val(),
                                State: 0
                            },
                            user: {
                        uname: $("#stname").val(),
                                school: $("#stschool option:selected").text(),
                                sch_coe: $("#stschool").val(),
                                grade: $("#stgrade").val(),
                                mclass: $("#stclass").val(),
                                no: $("#stno").val(),
                                telcom: $("#sttelcom").val(),
                                phone1: $("#stphone1").val(),
                                phone2: $("#stphone2").val(),
                                Gender: $("#stgender").val()
                            }
                    },
                        dataType: 'json',
                        type: 'POST',
                        beforeSend: function () {
                        //$.isLoading({
                        //    text: "신청 중..",
                        //    position: "overlay"
                        //});
                    }
                })
                    .done(function (json) {
                    //$.isLoading("hide");

                    if (json.ok) {
                        alert(json.message);

                        var url = '@Url.Action("LectureList", "LectureRequest")' + "?lectureType=" + "@Model.Item1.LectureType.ToString()";
                        location.href = url;
                    } else {
                        alert(json.message);
                    }
                })
            });

            selectInit();
        });

        var selectInit = function () {
            // 학년
            for (var i = 1; i < 4; i++) {
                $("#stgrade").append("<option value=" + i + ">" + i + "학년" + "</option>");
                if (@Model.Item2.grade == i.toString()) {
                    $("#stgrade").val(i.toString());
                }
            }
            // 반
            for (var i = 1; i < 16; i++) {
                $("#stclass").append("<option value=" + i + ">" + i + "반" + "</option>");
                if (@Model.Item2.mclass == i) {
                    $("#stclass").val(i.toString());
                }
            }
            // 번호
            for (var i = 1; i < 51; i++) {
                $("#stno").append("<option value=" + i + ">" + i + "번" + "</option>");
                if (@Model.Item2.no == i.toString()) {
                    $("#stno").val(i.toString());
                }
            }
            // 성별
            $("#stgender").append("<option value='1'>남자</option>");
            $("#stgender").append("<option value='2'>여자</option>");
            $("#stgender").val(@(Model.Item2.Gender?.ToString()));
        }

    </script>
}


<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=" : "/LectureManageMent/List?type=" + ViewBag.LectureType)">@(ViewBag.LectureType == 0 ? " 개방형 강의신청" : "학교연합형 강의신청")</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의정보</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                                    {
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link ">· 나의 수강신청</a>
                                    }
                                    else
                                    {
                                        <a href="/LectureManageMent/List?type=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureManageMent/List?type=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if ("1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                        {
                            <li class="sub_title_v3">
                                <a href="/TeacherManageMent/List" class="link_title">교사관리</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>강의 신청</h4>
                </div>
                @using (Html.BeginForm("LectureRequestInsert", "LectureRequest", FormMethod.Post, new { @id = "requestForm" }))
                {
                    <div class="sub_content">
                        <div>
                            <table style="table-layout:fixed;" class="tg tg_v2">
                                <colgroup>
                                    <col style="width: 250px">
                                    <col style="width: 710px">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>학년도</td>
                                        <td>@(Model.Item1.Year)학년도 @(Model.Item1.Semester == 0 ? "" : Model.Item1.Semester + "학기")</td>
                                    </tr>
                                    <tr>
                                        <td>강의명</td>
                                        <td>@Model.Item1.LectureName (@(Model.Item1.MaxTime)시수)</td>
                                    </tr>
                                    <tr>
                                        <td>개설학교</td>
                                        <td>@Model.Item1.sch_name</td>
                                    </tr>
                                    <tr @(string.IsNullOrEmpty(Model.Item1.TargetSchCodes) ? "style=display:none;" : "")>
                                        <td>신청가능학교</td>
                                        <td>@Model.Item1.TargetSchCodes</td>
                                    </tr>
                                    <tr>
                                        <td>수업시간</td>
                                        <td>
                                            @(Model.Item1.OperationStartDate?.ToString("yyyy-MM-dd")) ~ @(Model.Item1.OperationEndDate?.ToString("yyyy-MM-dd")) &nbsp;&nbsp;@(Model.Item1.LectureTime)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>신청학교</td>
                                        <td>
                                            @(Model.Item2.school) / @(Model.Item2.grade)학년 / @(Model.Item2.mclass)반 / @(Model.Item2.no)번
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>이름</td>
                                        <td>@(Model.Item2.uname)</td>

                                    </tr>
                                    <tr>
                                        <td>연락처</td>
                                        <td colspan="4">
                                            @(string.Format("{0}-{1}-{2}", Model.Item2.telcom, Model.Item2.phone1, Model.Item2.phone2))
                                        </td>
                                        @*<th>성별</th>
            <td>
                @(Model.Item2.Gender == 1 ? "남자" : "여자")
            </td>*@
                                    </tr>
                                    <tr>
                                        <td>지원동기</td>
                                        <td style="padding:8px;"><textarea id="motive" style="width:100%; height:100%; max-width:100%;ime-mode:active; border:1px solid #ccc; padding:4px;" rows="8"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn_box no-print">
                            <a class="left_btn" id="btnCancel">목록으로</a>
                            <a href="#" class="right_btn" id="btnConfirm" active="search">신청</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

