﻿@{
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
<link rel="stylesheet" href="../Resources/css/2020/reset.css">
<link rel="stylesheet" href="../Resources/css/2020/swiper.css">
<link rel="stylesheet" href="../Resources/css/2020/style.css">
<link rel="stylesheet" href="../Resources/css/2020/sub.css">
<link rel="stylesheet" href="../Resources/css/2020/loading.css" />

<script type="text/javascript">
    (function () {
        
    })();

    var goCampUrl = function (url) {
        event.stopPropagation();
        window.location.href = url;
    }
</script>

<style>
    ul.ullistimage > li {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAQCAYAAAArij59AAAAd0lEQVQoU73RsQnCYBAG0JdSIe4hDqBtLMV5zAy6jQRLSakTBNdIILaRg9gEfu1y7T2Oj+8yfyabD2xwQYEBNU5oIkMsH8gneTrsAtxwSIStAryxSIA+QI/lL1DhmADXuLDGE6sJarH9NhnojP2I7ijxmrHq5FM/ffoSqyvVtU0AAAAASUVORK5CYII=) no-repeat 0px 6px;
        padding-left: 16px;
    }

    .sctable tr td {
        border: 1px solid #000;
        padding: 1px;
        text-align: center;
    }

        .sctable tr td:first-child {
            border-left: 0px
        }

        .sctable tr td:last-child {
            border-right: 0px
        }

    .popuphelp {
        width: 650px !important;
        position: absolute;
    }

    .popupbtn {
        background-color: #fcd9e4;
        color: #EC6690;
        font-size: 24px;
        font-weight: 600;
        padding: 8px;
        transition: none;
        border-style: none;
        width: 90%;
        border: 1px solid #EC6690;
        border-radius: 4px;
        box-shadow: 4px 4px 16px 2px #fcd9e4;
        word-break:keep-all;
    }

    @@media(max-width: 1299px) {
        .popuphelp {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80% !important;
            min-width: 340px;
            max-width: 500px;
        }

        .popupbtn {
            font-size: 20px;
        }
    }
</style>

<div id="portalpopup" style="overflow:hidden; width:100%; height:80%; border:1px solid #000;margin-left:auto; margin-right:auto;">
    <div style="z-index: 10;height: 100%;background-image:url(http://localhost:6312/Resources/images/2021/jne_2021_05.jpg); background-repeat:no-repeat; background-color:#fff; background-size:100%; cursor:pointer;" id="layerPopup" onclick="window.location = 'https://consult.theschools.co.kr/Camp/Index?t=1'">

        <div style="padding: 90% 32px 12px; display:flex;">
            <div style="width:50%; text-align:center;">
                <button type="button" class="btn popupbtn" onclick="goCampUrl('https://consult.theschools.co.kr/Camp/UnivIntro')">대학별 입학전형 동영상보기</button>
            </div>
            <div style="width:50%; text-align:center;">
                <button type="button" class="btn popupbtn" onclick="goCampUrl('https://consult.theschools.co.kr/Camp/UnivPresentation')">입학전형 설명회 바로가기</button>
            </div>
        </div>
    </div>
</div>