﻿@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = "미승인";
    ViewBag.Navigation = "";
    ViewBag.MidNavigation = "";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("S".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType) || "P".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    @*<li class="third_menu">
                        <a href="/Online/Index?OP1=1">상담정보설정</a>
                    </li>*@
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4 style="color:red;">등록되지 않았거나 대기 상태인 아이디입니다. 학교 시스템 관리자에게 문의 하세요</h4>
                </div>
            </div>
        </div>
    </div>
</div>
