﻿@using Dream.Web.AfterSchool.Models
@model LoginViewModel
@{
    /**/

    /**/

    Layout = "~/Views/_Layout.cshtml";
}

@section CSS {
    <link rel="stylesheet" type="text/css" href="~/Resources/Css/login_common.css" />
    <style>
        .isloading-wrapper.isloading-right {
            margin-left: 10px;
        }

        .isloading-overlay {
            position: absolute !important;
            text-align: center;
        }

            .isloading-overlay .isloading-wrapper {
                background: #FFFFFF;
                -webkit-border-radius: 7px;
                -webkit-background-clip: padding-box;
                -moz-border-radius: 7px;
                -moz-background-clip: padding;
                border-radius: 7px;
                background-clip: padding-box;
                display: inline-block;
                margin: 0 auto;
                padding: 10px 20px;
                top: 10%;
                z-index: 99999;
            }

        .custom-combobox {
            background: #FFFFFF;
            border-radius: 15px 0 0 15px;
            border-top: 1px solid #9f9f9f;
            border-left: 1px solid #9f9f9f;
            border-bottom: 1px solid #9f9f9f;
            height: 45px;
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            background: #FFFFFF;
            border-radius: 0 15px 15px 0;
            border-top: 1px solid #9f9f9f;
            border-right: 1px solid #9f9f9f;
            border-bottom: 1px solid #9f9f9f;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            margin-top: -1px;
            padding: 0;
            height: 47px;
            width: 40px;
        }

        .custom-combobox-input {
            margin: 0px 0 0 10px;
            padding: 0px 10px;
            font-size: 14px;
            height: 45px;
            width: 150px;
        }

        /*.school {
                margin: 16px 0 0 0;
                display: inline-block;
            }*/

        .school {
            margin: 31px 0 0 0;
            display: inline-block;
            font-size: 18px;
        }

        .ui-state-hover,
        .ui-widget-content .ui-state-hover,
        .ui-widget-header .ui-state-hover,
        .ui-state-focus,
        .ui-widget-content .ui-state-focus,
        .ui-widget-header .ui-state-focus,
        .ui-button:hover,
        .ui-button:focus {
            font-weight: normal;
            color: #2b2b2b;
        }

        .ui-front {
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .error {
            color: red;
        }
    </style>
    }

@section Javascript {
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.Result' == 'F') {
                alert('계정정보를 확인하세요');
            }
        });

        var Login = function () {
            $("form")[0].submit();
        }
    </script>
    }

    <div class="login_wrapper">
        <!-- contents -->
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <fieldset>
                <legend class="screen_out">로그인</legend>
                <div class="login_w">
                    <div class="loginleft">
                        <div class="lefttop">
                            <h2>학교연합교육과정 수강신청 시스템</h2>
                            <h3>학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.</h3>
                        </div>
                        <div class="leftbottom"></div>
                    </div>
                    <div class="loginright">
                        <div class="loginwrap">
                            <div class="schoolwrap">
                                <div class="typetitle">
                                    <img alt="학교명" src="~/Resources/images/txt_login_label_school.png">
                                </div>
                                <div class="school" style="height:30px; line-height:30px;">
                                    학교연합교육과정

                                </div>
                            </div><!-- schoolwrap -->

                            <div class="type" style="display:none;">
                                <div class="title">
                                    유형선택
                                </div>
                                <div class="choice">
                                    <input name="login_type" id="teacher" type="radio" checked="checked" value="teacher">
                                    <label for="teacher" style="cursor:pointer">교사</label>
                                    <input name="login_type" id="student" type="radio" value="student">
                                    <label for="student" style="cursor:pointer">학생</label>

                                </div>
                            </div><!-- teacher -->

                            <div class="input_w teacher">
                                <div class="choice_a" style="display:none;">
                                    <div class="c_selectbox_normal">
                                        <label for="">학년</label>
                                        <select style="cursor:pointer" id="userGrade" name="userGrade">
                                            <option value="0" selected="">학년</option>
                                        </select>
                                    </div>
                                    <div class="c_selectbox_normal">
                                        <label for="">반</label>
                                        <select style="cursor:pointer" id="userClass" name="userClass">
                                            <option value="0" selected="">반</option>
                                        </select>
                                    </div>
                                    <div class="c_selectbox_normal">
                                        <label for="">번호</label>
                                        <select style="cursor:pointer" id="userNum" name="userNum">
                                            <option value="0" selected="">번호</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="input_a">
                                    <div class="row">
                                        <div class="input_box">
                                            @Html.TextBoxFor(m => m.Email, new { style = "width:150px;", placeholder = "아이디를 입력해주세요." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input_box">
                                            @Html.PasswordFor(m => m.Password, new { style = "width:150px;", placeholder = "비밀번호를 입력해주세요." })
                                        </div>
                                    </div>
                                </div>
                                <button class="btn_login" type="submit">로그인</button>
                            </div><!-- //teacher --> <!-- student -->
                            @*<div class="input_w student">
                    <div class="choice_a">
                        <div class="c_selectbox_normal">
                            <label for="">학년</label>
                            <select>
                                <OPTION selected="">학년</OPTION>
                                <OPTION>-</OPTION>
                                <OPTION>-</OPTION>
                            </select>
                        </div>
                        <div class="c_selectbox_normal">
                            <label for="">반</label>
                            <select>
                                <option selected="">반</option>
                                <option>-</option>
                                <option>-</option>
                            </select>
                        </div>
                        <div class="c_selectbox_normal">
                            <label for="">번호</label>
                            <select>
                                <option selected="">번호</option>
                                <option>-</option>
                                <option>-</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_a">
                        <div class="row">
                            <div class="input_box">
                                <input type="text" placeholder="이름을 입력해주세요." value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_box">
                                <input type="password" placeholder="비밀번호를 입력해주세요." value="">
                            </div>
                        </div>
                    </div>
                    <button class="btn_login" type="submit">로그인</button>
                </div>*@
                            <!-- //student -->
                            <div class="etc">
                                <div class="check">
                                    <input name="remember_id" id="remember_id" type="checkbox">
                                    @*<label for="remember_id">아이디 정보 기억하기</label>
                        <input name="login_ing" id="login_ing" type="checkbox">*@
                                </div>
                                <!--div class="link">
                    <a href="javascript:;">비밀번호찾기</a>
                    <a href="javascript:;">FAQ</a>
                </div-->
                            </div>
                        </div><!-- loginwrap -->
                    </div>
                    @*<button title="" class="btn_control" type="button"></button>*@
                </div>

            </fieldset>
        }
        <!-- //contents -->
    </div>
    <div class="loginbottom" style="display:none;">
        <div class="info">
            @if (Request.Url.Host == "jne")
            {
                <p>
                    <strong class="logo">
                        <a href="http://jdream.jne.go.kr/Home/AfterSchool" target="_blank">
                            <img alt="퓨처플랜" src="../images/logo.png">
                        </a>
                    </strong>
                </p>
            }
            <p class="copyright">
                <img alt="copyright(c) 2016 FUTUREPLAN. All Rights Reserved." src="~/images/txt_login_copyright02.gif">
            </p>
        </div>
        @*<p class="chrome">본 시스템은 크롬(Chrome)에 최적화 되었습니다.</p>*@
    </div>
