﻿@{
    Layout = null;
}

<script type="text/javascript">
    var goURL 
</script>

<style>
    ul.ullistimage > li {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAQCAYAAAArij59AAAAd0lEQVQoU73RsQnCYBAG0JdSIe4hDqBtLMV5zAy6jQRLSakTBNdIILaRg9gEfu1y7T2Oj+8yfyabD2xwQYEBNU5oIkMsH8gneTrsAtxwSIStAryxSIA+QI/lL1DhmADXuLDGE6sJarH9NhnojP2I7ijxmrHq5FM/ffoSqyvVtU0AAAAASUVORK5CYII=) no-repeat 0px 6px;
        padding-left: 16px;
    }

    .popuphelp {
        width: 700px !important;
    }

    @@media(max-width: 1299px) {
        .popuphelp {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80% !important;
            min-width: 340px;
            max-width: 500px;
        }
    }
    
</style>

<div style="overflow:hidden; width:100%; height:80%;" onclick="camp('1')">
    <div style="z-index: 10;height: 100%;background-image:url(../Resources/images/common/jne_2021_03.jpg); background-repeat:no-repeat; background-size:100%;" id="layerPopup">
        <p style="text-align: center;color: white; font-size:28px; padding-top:32px; font-weight:bold; line-height:42px; margin:0px;">
            대입지원관 및 전문가(입학사정관)와 함께 하는 권역별<br />
            (나주, 목포, 순천, 여수) 진학지원 센터 학부모 상담 신청<br />
        </p>
        <p style="text-align:center; font-size:22px; font-weight:bold; margin:8px 0px; line-height:30px;">
            <span style="color:orange;">대입 전문가(대입지원관, 입학사정관등)와<br/>함께 하는 우리 자녀 진학 상담!</span>
        </p>
        <hr>
        <div style="margin-left:6%; color:#000; margin-right:6%; margin-top:8px;">

            <ul style="margin-left:0px; line-height:28px;" class="ullistimage">
                <li>일시 : <span style="font-weight:bold;">1차) 2021.4.8.(목) ~ 5.31.(월), 10:00 ~ 16:00</span></li>
                <li>
                    장소 : <span style="font-weight:bold;">권역별 진학지원 센터</span>
                    <br /><span style="font-weight:bold; padding-left:43px;">(나주, 목포, 순천, 여수 지원청)</span>
</li>
                <li>내용 : <span style="font-weight:bold;">학부모 자녀 진로진학 상담 등</span></li>
                <li>대상 : <span style="font-weight:bold;">권역별 관내 중·고등학생 학부모</span></li>
                <li>
                    신청 : <span style="font-weight:bold;">전라남도교육청 진로진학지원 포털 또는</span><br />
                    <span style="font-weight:bold; padding-left:43px; margin-bottom:32px;">해당 지역청 홈페이지 참조</span><br/>
                    <a href="https://consult.theschools.co.kr/Parent/Form?OP1=4" style="font-weight:bold; color:#4b70fd; text-decoration:underline; padding-left:43px; display:none;">바로가기</a>
                </li>
                <li style="margin-top:32px;">
                    기타 :
                    <ul>
                        <li style="margin-bottom:8px;">
                            <div style="display:flex;">
                                <div style="padding:0px 6px;">-</div>
                                <div style="font-weight:bold;"> 상담 신청 시 학생의 기본사항을 사전에 시스템에 입력.</div>
                            </div>
                            <div style="display:flex;">
                                <div style="padding-right:4px;">※</div>
                                <div>학생의 학교생활기록부 및 모의고사 성적표를 지참하시면 좀 더 자세한 상담을 받을 수 있습니다. <span style="color:#FF0000;">(필수사항 아님)</span></div>
                            </div>
                        </li>
                        <li>
                            <div style="display:flex;">
                                <div style="padding:0px 6px;">-</div>
                                <div style="font-weight:bold;">상담은 대입지원관 및 대학 입학사정관(수도권 주요대 및 지역 거점대 등)이 40분 이내로 운영</div>
                            </div>
                            <div style="display:flex;">
                                <div style="padding-right:4px;">※</div>
                                <div>대학 입학사정관 참여는 대학 사정에 따라 일정이 유동적일 수 있음.</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="padding: 12px 32px; display:flex;">
            <div style="width:50%; text-align:center;">
                <button type="button" class="btn" style="background-color:#9a9a9a; border-color:#9a9a9a; color:#fff; font-size:24px; font-weight: 600; padding: 8px 20px; transition:none; border-style:none; width:90%;" onclick="alert('준비중입니다.')">⇨ 상담 신청 바로가기</button>
            </div>
            <div style="width:50%; text-align:center;">
                <button type="button" class="btn" style="background-color:#FC955F; border-color:#FC955F; color:#fff; font-size:24px; font-weight: 600; padding: 8px 8px; transition:none; border-style:none; width:90%;" onclick="goUrl('https://consult.theschools.co.kr/Profile')">⇨ 대입지원관 프로필 보기</button>
            </div>
        </div>
    </div>
</div>