﻿
@{
    ViewBag.Title = "List";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="wrapper">
    <div class="container" id="content">
        <!--컨텐츠부분 시작-->
        <div class="contents course_manage">
            <div class="cont_head">
                <h3 class="title">신청자관리</h3>
            </div>
            <div class="common_list">
                <div class="search_box">
                    <h2>2019학년도 1헉가 / 물리학시험</h2>
                    <div>
                        <ul>
                            <li>가</li>
                            <li>나</li>
                            <li>다</li>
                        </ul>
                    </div>
                </div>
                <div class="list_info">
                    <span class="cnt">전체 <em></em>건</span>
                    <div class="btns">
                        <a class="btn purple btn_file" href="">파일보내기</a>
                    </div>
                </div>
                <div class="list_w">
                    <table class="list_tbl">
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>강의명</th>
                                <th>학교명</th>
                                <th>신청가능학교</th>
                                <th>강의기간</th>
                                <th>대상</th>
                                <th>단위수</th>
                                <th>성별</th>
                                <th>신청/정원</th>
                                <th>접수기간</th>
                                <th>상태</th>
                                <th>수정/삭제</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="btns">
                                        <a class="btn modify" href="">
                                            <img alt="수정" src="~/images/btn_list_modify.gif">
                                        </a>
                                        <a class="btn delete" href="">
                                            <img alt="삭제" src="~/images/btn_list_delete.gif">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            @*<tr>
                                    <td colspan="7">
                                        데이터가 없습니다.
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
                <div class="list_footer">
                    <nav class="page_nate">
                    </nav>
                </div>
            </div>
        </div>
        <!--컨텐츠부분 종료-->
    </div>
    <!-- container -->
</div>
<!-- wrapper -->
