﻿@model Dream.Web.AfterSchool.Core.Entities.AfterSchool_Lecture
@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = "강의정보";
    ViewBag.Navigation = Dream.Web.AfterSchool.Controllers.AppIdentity.UserType == "STUDENT" ? "LECTUREREQUEST" : "LECTUREMANAGE";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    .common_form .form_tbl td {
        height: 30px;
    }

    th {
        font-weight: bold !important;
    }
</style>
<script>
    fn_down = function(){
        window.open("Download?seq=@Model.LectureSeq");
    }
</script>

<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=" : "/LectureManageMent/List?type=" + Model.LectureType)">@(Model.LectureType == 0 ? " 개방형 강의신청" : "학교연합형 강의신청")</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의정보</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                                    {
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link @(Model.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link @(Model.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link ">· 나의 수강신청</a>
                                    }
                                    else
                                    {
                                        <a href="/LectureManageMent/List?type=0" class="link @(Model.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureManageMent/List?type=1" class="link @(Model.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if ("1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                        {
                            <li class="sub_title_v3">
                                <a href="/TeacherManageMent/List" class="link_title">교사관리</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>강의 정보</h4>
                </div>
                
                <div class="sub_content">
                    <div>
                        <table style="undefined;table-layout: fixed;" class="tg tg_v2">
                            <colgroup>
                                <col style="width: 250px">
                                <col style="width: 710px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>학년 / 학기</td>
                                    <td>@Model.Year 년도 / @Model.Semester.ToString().Replace("0", "전체").Replace("1", "1학기").Replace("2", "2학기")</td>
                                </tr>
                                <tr>
                                    <td>구분</td>
                                    <td>
                                        @if (Model.LectureType == 1)
                                        {
                                            <span>학교연합형 강의</span>
                                        }
                                        else
                                        {
                                            <span>개방형 강의</span>
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td>강의명</td>
                                    <td>@Model.LectureName</td>
                                </tr>
                                <tr>
                                    <td>관련교과</td>
                                    <td>@Model.CssName ( @Model.NssName )</td>
                                </tr>


                                <tr>
                                    <td>개설학교</td>
                                    <td>@Model.CreateSchName</td>
                                </tr>
                                <tr>
                                    <td>강의장소</td>
                                    <td>@Model.Place</td>
                                </tr>
                                <tr>
                                    <td>단위수</td>
                                    <td>@Model.MaxTime</td>
                                </tr>
                                <tr>
                                    <td>신청정원</td>
                                    <td>@Model.MaxSignUp</td>
                                </tr>
                                <tr>
                                    <td>지도교사</td>
                                    <td colspan="3">@Model.TeacherName</td>
                                </tr>

                                @if (Model.LectureType == 1)
                                {
                                    <tr>
                                        <td>신청가능학교</td>
                                        <td colspan="3">
                                            @if (Model.AfterSchoolLectureSchool != null)
                                            {
                                                foreach (var item in Model.AfterSchoolLectureSchool)
                                                {
                                                    <span style="margin-right:10px;">
                                                        @item.SchoolName
                                                    </span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>강의기간</td>
                                    <td colspan="3">
                                        @Model.OperationStartDate.Value.ToString("yyyy-MM-dd") 일 ~ @Model.OperationEndDate.Value.ToString("yyyy-MM-dd") 일
                                    </td>
                                </tr>
                                <tr>
                                    <td>강의시간</td>
                                    <td colspan="3">
                                        @if (Model.AfterSchoolLectureTimes != null)
                                        {
                                            foreach (var item in Model.AfterSchoolLectureTimes)
                                            {
                                                <span style="margin-right:10px;"> @item.LectureTime</span>
                                            }
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td>대상학년</td>
                                    <td colspan="3">@Model.TargetGradeStr</td>
                                </tr>

                                <tr>
                                    <td>접수기간</td>
                                    <td colspan="3">@Model.Reception ~ @Model.ReceptionClosed</td>
                                </tr>

                                <tr>
                                    <td>강의계획서</td>
                                    <td colspan="3">
                                        @if (Model.AfterSchoolLectureFiles.Exists(x => x.FileType.ToString() == "L"))
                                        {
                                            var item = Model.AfterSchoolLectureFiles.Find(x => x.FileType == "L");
                                            <a href="#" style="text-decoration:underline;" onclick="fn_down();">@item.FileName</a>

                                        }
                                        else
                                        {
                                            <span>파일없음</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>평가계획서</td>
                                    <td colspan="3">
                                        @if (Model.AfterSchoolLectureFiles.Exists(x => x.FileType.ToString() == "E"))
                                        {
                                            var item = Model.AfterSchoolLectureFiles.Find(x => x.FileType == "E");
                                            <a href="#" style="text-decoration:underline;" onclick="fn_down();">@item.FileName</a>
                                        }
                                        else
                                        {
                                            <span>파일없음</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>공지사항</td>
                                    <td colspan="3">
                                        @if (Model.AfterSchoolLectureFiles.Exists(x => x.FileType.ToString() == "I"))
                                        {
                                            var item = Model.AfterSchoolLectureFiles.Find(x => x.FileType == "I");
                                            <a href="#" style="text-decoration:underline;" onclick="fn_down();">@item.FileName</a>
                                        }
                                        else
                                        {
                                            <span>파일없음</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>알림란</td>
                                    <td colspan="3">@Model.InfoMessage</td>
                                </tr>
                                <tr>
                                    <td>상태</td>
                                    <td colspan="3">@Model.StateName</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn_box no-print">
                        @if (Dream.Web.AfterSchool.Controllers.AppIdentity.UserType != "STUDENT")
                        {
                            <a href="List?type=@Model.LectureType" class="left_btn">목록으로</a>

                            if (Model.RegID == Dream.Web.AfterSchool.Controllers.AppIdentity.Email)
                            {
                                <a class="right_btn" href="Modify?seq=@Model.LectureSeq&type=@Model.LectureType">수정</a>
                            }
                        }
                        else
                        {
                            <a href="~/LectureRequest/LectureList?lectureType=@Model.LectureType" class="left_btn">목록으로</a>

                            if (Dream.Web.AfterSchool.Controllers.AppIdentity.UserType == "STUDENT")
                            {
                                <a class="right_btn" href="@Url.Action("LectureWrite", "LectureRequest", new { lectureSeq = Model.LectureSeq })">신청</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








