﻿
@{
    ViewBag.Title = "FileUpload";
}
<script src="../Resources/Script/jquery-1.10.2.js"></script>
<script src="../Resources/Script/FileUpload/jquery.iframe-transport.js"></script>
<script src="../Resources/Script/FileUpload/jquery.fileupload.js"></script>
<h2>FileUpload</h2>

<script>
        $j(document).ready(function () {
            $j('#MyFile').fileupload({
                url: 'UploadFile',
                dataType: 'json',
                //replaceFileInput: false,
                add: function (e, data) {
                    var uploadFile = data.files[0];
                    var isValid = true;
                    //if (!(/png|jpe?g|gif/i).test(uploadFile.name)) {
                    if (!(/xls|xlsx/i).test(uploadFile.name)) {
                        alert('png, jpg, gif 만 가능합니다');
                        isValid = false;
                    } else if (uploadFile.size > 5000000) { // 5mb
                        alert('파일 용량은 5메가를 초과할 수 없습니다.');
                        isValid = false;
                    }
                    if (isValid) {
                        data.submit();
                    }
                }, progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $j('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                }, done: function (e, data) {
                    //var code = data.result.code;
                    //var msg = data.result.msg;
                    //if (code == '1') {
                    //    alert(msg);
                    //} else {
                    //    alert(code + ' : ' + msg);
                    //}
                    //alert(data.jqXHR.responseJSON.savedFileName);
                    send(data.jqXHR.responseJSON.savedFileName);
                }, fail: function (e, data) {
                    // data.errorThrown
                    // data.textStatus;
                    // data.jqXHR;
                    alert('서버와 통신 중 문제가 발생했습니다');
                    foo = data;
                }
            });
        });
        function send(filename) {
            var result = '';
            $j.ajax({
                //async: false,
                url: '@Url.Action("ExcelUpload", "Manage")',
                data: {
                    examCode: '@ViewBag.ExamCode',
                    orgIdx: '@ViewBag.OrgIdx',
                    fileName: filename
                },
                beforeSend: function () {
                    isloading.start();
                    //alert('시작');
                    //var ele = document.createElement('div');
                    //ele.setAttribute('id', 'wfLoading');
                    //ele.classList.add('loading-layer');
                    //ele.innerHTML = '<span class="loading-wrap"><span class="loading-text"><span>.</span><span>.</span><span>.</span></span></span>';
                    //document.body.append(ele);
                    //ele.classList.add('active-loading');
                    //alert('test');
                },
                dataType: 'json',
                type: 'POST',
                success: function (json) {
                    result = json.result
                    var json = JSON.parse(result.replace(/&quot;/g, '"'));
                    var html = '';
                    var frameHtml = '<tr>'
                        +'<td>$IDX$</td>'
                        +'<td>$YEAR$</td>'
                        +'<td>$CLASS$</td>'
                        +'<td>$STUNUMBER$</td>'
                        +'<td>$NAME$</td>'
                        +'<td>$GENDER$</td>'
                        +'<td>$RESULT$</td>'
                        '</tr>'
                        $j.each(json, function (key, value) {
                            var body = '';
                            body=frameHtml.replace('$IDX$', key + 1)
                                .replace('$YEAR$',value.Year)
                                .replace('$CLASS$', value.Class)
                                .replace('$STUNUMBER$', value.StuNumber)
                                .replace('$NAME$', value.Name)
                                .replace('$GENDER$', value.Gender)
                                .replace('$RESULT$', value.Result)
                            html += body;
                    });

                    $j("#jsonResult").html(html);
                },
                error: function () {
                    alert('서버에 예기치 않은 에러가 발생했습니다 다시 시도하세요!');
                }
            }).done(function (json) {
                isloading.stop();

            });
    }
        <input type="file" name="MyFile" id="MyFile">
</script>