﻿
@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.Core.Entities;
@model ViewModel<AfterSchool_Lecture, AfterShoolLectureSearch>

@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = ViewBag.LectureType == 0 ? "개방형 강의" : "학교연합형 강의";
    ViewBag.Navigation = ViewBag.LectureType == 0 ? "0" : "1";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        var modal_excel = document.getElementById('excel-modal');
        $(".modal-content").draggable();

        if (@ViewBag.LectureType== '0') {
            $("#hidden_search_type").val("2");
        }
        else {
            $("#hidden_search_type").val("0");
        }

        var search_type = '@Model.Search.SearchType';
        if (search_type == '') {
            search_type = "@(ViewBag.LectureType == 0 ? "2" : "0")";
        }
        var close = document.getElementsByClassName("close")[0];
        $(".btn_file").click(function () {
            modal_excel.style.display = "block";
        });
        close.onclick = function () {
            modal_excel.style.display = "none";
        }

        $("button[name=btn_search]").click(function () {
            //alert('test');

            //$("#search_type option:selected").each(function () {
            //    $("#Search_SearchKey").attr("placeholder", $(this).text() + " 을입력하세요");
            //    $("#hidden_search_type").val($(this).val());
            //});
            $("#searchForm").submit();

        });

        $("select[name=search_type]").change(function (e) {
            $("select[name=searchoption]").val(e.target.value);
            $("#hidden_search_type").val(e.target.value);
        });

        $("#search_type").val(search_type).trigger("change");;

        $("#Search_SearchKey").keypress(function () {
            if (window.event.keyCode == 13) {
                $("#searchForm").submit();
            }
        });

        $(".delete").click(function () {
            var lecture_seq = $(this).attr("seq");
            fnDeleteLectrueService(lecture_seq);
        });

        $("button[name=btnInitSearch]").click(function () {
            $("#Search_SearchKey").val('');
            $("#searchForm").submit();
        });

        //$("#excelForm").submit();

    });

    function fnDeleteLectrueService(seq)
    {
        if (confirm('삭제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({ 'lectureSeq': seq }),
                url: 'DeleteAfterSchoolLecture',
                success: function (msg) {

                    if (msg.result == 'T') {
                        location.reload();
                    }
                },
                error: function (xhr, msg) { alert('예기치않은..'); },
                beforeSend: function () {

                }
            });
        }
        else {

        }
    }    
</script>

<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=" : "/LectureManageMent/List?type=" + ViewBag.LectureType)">@(ViewBag.LectureType == 0 ? " 개방형 강의신청" : "학교연합형 강의신청")</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의정보</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                                    {
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link ">· 나의 수강신청</a>
                                    }
                                    else
                                    {
                                        <a href="/LectureManageMent/List?type=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureManageMent/List?type=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if ("1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                        {
                            <li class="sub_title_v3">
                                <a href="/TeacherManageMent/List" class="link_title">교사관리</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>@(ViewBag.LectureType == 0 ? "개방형 강의" : "학교연합형 강의")</h4>
                </div>

                @using (Html.BeginForm("List", "LectureManageMent", new { lectureType = ViewBag.LectureType }, FormMethod.Post, new { @id = "searchForm" }))
                {
                    @Html.HiddenFor(x => x.Search.SearchType, new { @id = "hidden_search_type" });
                    <input type="hidden" id="type" name="type" value="@ViewBag.LectureType" />
                    <h5 class="sub_content_title sub_content_title_v2" style="position:relative">
                        강의목록
                        <a href="@(Url.Action(" LectureMyList", "LectureRequest" ))" class="m_aply">
                            파일내보내기
                        </a>
                        <a href="Modify?type=@ViewBag.LectureType&seq=0" class="m_aply">
                            강의등록
                        </a>
                        <div class="table_help">
                            @if (ViewBag.LectureType == 1)
                            {
                                @Html.DropDownListFor(x => x.Search.Year, (SelectList)ViewBag.Year, new { @class = "searchoption", @style = "margin-right:8px;" })
                                @Html.DropDownListFor(x => x.Search.Semester, (SelectList)ViewBag.Semester, new { @class = "searchoption", @style = "margin-right:8px;" })
                                <select class="searchoption" id="search_type" name="search_type">
                                    <option value="0">지원청</option>
                                    <option value="1">교과명</option>
                                    <option value="2">강의명</option>
                                    <option value="3">학교명</option>
                                    <option value="4">신청학교명</option>
                                </select>
                                @Html.TextBoxFor(x => x.Search.SearchKey, new { @class = "searchtext", placeholder = "검색어를 입력해주세요." })
                                <button onclick="fnSearch()" style="margin-right:8px;">검색</button>
                                <button name="btnInitSearch">전체</button>
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.Search.Year, (SelectList)ViewBag.Year, new { @class = "searchoption", @style = "margin-right:8px;" })
                                @Html.DropDownListFor(x => x.Search.Semester, (SelectList)ViewBag.Semester, new { @class = "searchoption", @style = "margin-right:8px;" })
                                <select class="searchoption" id="search_type" name="search_type">
                                    <option value="2" selected="selected">강의명</option>
                                    <option value="3">학교명</option>
                                </select>
                                @Html.TextBoxFor(x => x.Search.SearchKey, new { @class = "searchtext", placeholder = "검색어를 입력해주세요." })
                                <button onclick="fnSearch()" style="margin-right:8px;" name="btn_search">검색</button>
                                <button name="btnInitSearch">전체</button>
                            }
                        </div>
                    </h5>

                    <div class="table_div">
                        <table class="tg" style="table-layout:fixed">
                            <colgroup>
                                <col style="width:28px">
                                <col style="width:55px">
                                <col style="width:192px">
                                <col style="width:96px">
                                <col style="width:55px">
                                <col style="width:50px">
                                <col style="width:125px">
                                <col style="width:125px">
                                <col style="width:75px">
                                <col style="width:125px">
                                <col style="width:50px">
                                <col style="width:80px">
                            </colgroup>
                            <thead>
                                <tr>
                                    @*
                            <th><input type="checkbox" /></th>*@
                                    <th>No</th>
                                    <th>교과명</th>
                                    <th>강의명</th>
                                    <th>개설학교</th>
                                    @*
                            <th>신청가능학교</th>*@
                                    @*
                            <th>수업기간</th>*@
                                    <th>대상</th>
                                    <th>단위수</th>
                                    @*
                            <th>성별</th>*@
                                    <th>강의기간</th>
                                    <th>강의시간</th>
                                    <th>신청/정원</th>
                                    <th>접수기간</th>
                                    <th>상태</th>
                                    <th>수정/삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.List)
                                {
                                    <tr>
                                        @*
                                <td><input type="checkbox" style="height:22px; width:44px;" /></td>*@
                                        <td>
                                            @item.RowIdx
                                        </td>
                                        <td title="@item.CssName">
                                            @item.CssName
                                        </td>
                                        <td title="@item.LectureName">
                                            <a href="detail?type=@item.LectureType&seq=@item.LectureSeq" style="font-weight:bold; text-decoration:underline;">@item.LectureName</a>
                                        </td>
                                        <td title="@item.CreateSchName">@item.CreateSchName</td>
                                        @*
                                <td></td>
                                <td></td>*@
                                        <td title="@item.TargetGradeStr">@item.TargetGradeStr</td>
                                        <td title="@item.MaxTime">@item.MaxTime</td>

                                        @*<td>
                                    @item.TargetGenderStr
                                </td>*@
                                        <td title="@string.Format("{0:MM.dd(ddd)}", item.OperationStartDate)~@string.Format("{0:MM.dd(ddd)}", item.OperationEndDate)">
                                            @string.Format("{0:MM.dd(ddd)}", item.OperationStartDate)~@string.Format("{0:MM.dd(ddd)}", item.OperationEndDate)
                                        </td>
                                        <td title="@item.LectureTime"><span>@((item.LectureTime ?? "").Replace(",",Environment.NewLine))</span></td>
                                        <td>
                                            @if (Dream.Web.AfterSchool.Controllers.AppIdentity.UserType == "1" || item.RegID == Dream.Web.AfterSchool.Controllers.AppIdentity.Email)
                                            {
                                                <a href="StudentList?seq=@item.LectureSeq" style="font-weight:bold; text-decoration:underline;">@item.RequestSum / @item.MaxSignUp</a>
                                            }
                                            else
                                            {
                                                <span style="font-weight:bold; text-decoration:underline;">@item.RequestSum / @item.MaxSignUp</span>
                                            }

                                        </td>
                                        <td title="@string.Format("{0:MM.dd(ddd)}", item.Reception) ~ @string.Format("{0:MM.dd(ddd)}", item.ReceptionClosed)">
                                            @string.Format("{0:MM.dd(ddd)}", item.Reception) ~
                                            @string.Format("{0:MM.dd(ddd)}", item.ReceptionClosed)
                                        </td>
                                        <td>
                                            @if (item.State.ToString() == "0")
                                            {
                                                <span style="height:10px;width:30px; background-color:red; padding:5px; color:white;">@item.StateName</span>
                                            }
                                            else
                                            {
                                                <span style="height:10px;width:30px;background-color:blue; padding:5px; color:white;">@item.StateName</span>
                                            }
                                        </td>

                                        <td>
                                            @if (Dream.Web.AfterSchool.Controllers.AppIdentity.UserType == "1" || item.RegID == Dream.Web.AfterSchool.Controllers.AppIdentity.Email)
                                            {
                                                <div class="btns">
                                                    <a class="btn modify" href="Modify?seq=@item.LectureSeq&type=@item.LectureType">
                                                        <img alt="수정" src="~/Resources/Images/btn_list_modify.gif" style="vertical-align:middle;">
                                                    </a>
                                                    <a class="btn delete" href="#" seq="@item.LectureSeq">
                                                        <img alt="삭제" src="~/Resources/Images/btn_list_delete.gif" style="vertical-align:middle;">
                                                    </a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                                @*
                        <tr>
                            <td colspan="7">
                                데이터가 없습니다.
                            </td>
                        </tr>*@
                            </tbody>
                        </table>
                    </div>

                    <div class="bbs_text_type_paging">
                        <div id="pager">
                            @Html.Hidden("page", Model.PageIndex)
                            <div class="totalCount" style="margin-left:10px;">전체 <span>@Model.TotalCount</span> 건</div>
                            @Html.PagedListPager(new StaticPagedList<AfterSchool_Lecture>
                                (Model.List, Model.PageIndex, Model.PageSize, Model.TotalCount)
                                , page => Url.Action("List", "LectureManageMent", new { type = ViewBag.LectureType, search = Model.Search, page = page }))
                        </div>
                        <div class="table_help m_table_help">

                            @if (ViewBag.LectureType == 1)
                            {
                                @Html.DropDownListFor(x => x.Search.Year, (SelectList)ViewBag.Year, new { @class = "searchoption", @style = "margin-right:8px;" })
                                @Html.DropDownListFor(x => x.Search.Semester, (SelectList)ViewBag.Semester, new { @class = "searchoption", @style = "margin-right:8px;" })
                                <select class="searchoption" id="search_type" name="search_type">
                                    <option value="0">지원청</option>
                                    <option value="1">교과명</option>
                                    <option value="2">강의명</option>
                                    <option value="3">학교명</option>
                                    <option value="4">신청학교명</option>
                                </select>
                                @Html.TextBoxFor(x => x.Search.SearchKey, new { @class = "searchtext", placeholder = "검색어를 입력해주세요." })
                                <button onclick="fnSearch()" style="margin-right:8px; name="btn_search">검색</button>
                                <button name="btnInitSearch">전체</button>
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.Search.Year, (SelectList)ViewBag.Year, new { @class = "searchoption", @style = "margin-right:8px;" })
                                @Html.DropDownListFor(x => x.Search.Semester, (SelectList)ViewBag.Semester, new { @class = "searchoption", @style = "margin-right:8px;" })
                                <select class="searchoption" id="search_type" name="search_type">
                                    <option value="2" selected="selected">강의명</option>
                                    <option value="3">학교명</option>
                                </select>
                                @Html.TextBoxFor(x => x.Search.SearchKey, new { @class = "searchtext", placeholder = "검색어를 입력해주세요." })
                                <button onclick="fnSearch()"  style="margin-right:8px;">검색</button>
                                <button name="btnInitSearch">전체</button>
                            }
                        </div>
                        <a href="@(Url.Action(" LectureMyList", "LectureRequest" ))" class="aply btn_file">
                            파일내보내기
                        </a>
                        <a href="Modify?type=@ViewBag.LectureType&seq=0" class="aply">
                            강의등록
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="excel-modal" class="modal">
    <div class="modal-content" style="height:400px;width:800px; padding:0px !important;">
        <div style="background-color:#ba3741; width:800px; height:50px; ">
            <span style="margin-top:10px; margin-left:20px; line-height:50px; font-size:20px; font-weight:bold; color:white;">파일내보내기</span>
            <span class="close">&times;</span>
        </div>
        <iframe id="ifrm-excel" name="ifrmexcel" src="SendFile?type=@(ViewBag.LectureType)" style="width:100%;height:100%;"></iframe>
    </div>
</div>
<form action="@(Url.Action(" SendFile"))?type=@(ViewBag.LectureType)" method="post" target="ifrmexcel" id="excelForm">
    @Html.HiddenFor(x => x.Search.SearchType)
    @Html.HiddenFor(x => x.Search.Year)
    @Html.HiddenFor(x => x.Search.Semester)
    @Html.HiddenFor(x => x.Search.SearchKey)
</form>









