﻿@using Dream.Web.AfterSchool.Models
@model Dream.Web.AfterSchool.Core.Entities.AfterSchool_Lecture
@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = ViewBag.LectureSeq == 0 ? "강의 생성" : "강의 수정";
    ViewBag.Navigation = ViewBag.LectureType == 0 ? "0" : "1";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" type="text/css" href="~/Resources/Datetimepicker/jquery.datetimepicker.css" />
}
<style>
    .del {
        /*position: absolute;
        top: -7px;
        right: 7px;*/
        width: 17px;
        height: 17px;
        background: url(../Resources/Images/del.png) 0 0 no-repeat;
        /*text-indent: -999em;*/
        cursor: pointer;
        border: none;
    }

    .mm {
        color: white;
        background-color: #394F6B;
        border: 1px solid #394F6B !important;
        border-radius: 8px;
        margin: 4px 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    th {
        font-weight: bold !important;
    }
</style>

@section Javascript {
    <script type="text/javascript" src="~/Resources/Datetimepicker/build/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
    $(document).ready(function () {

        //var x = document.createElement("INPUT");
        //x.setAttribute("type", "file");

        $('.s_datetimepicker').datetimepicker({
            showMinute: true,
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm:ss',
            //minDateTime: min_date,
            //maxDateTime: max_date,
            //onSelect: function (dateText, inst) {
            //}
        });

        $('.e_datetimepicker').datetimepicker({
            showMinute: true,
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm:ss',
            //minDateTime: min_date,
            //maxDateTime: max_date,
            //onSelect: function (dateText, inst) {
            //}
        });

        $('.s_datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('.e_datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });


        //x.files[0].name = "test";fn_get_time_item

        //document.getElementById("myFile").files = x.files;


        fn_init();
        // Get the modal
        var modal_school = document.getElementById('school-modal');
        var modal_time = document.getElementById('time-modal');

        $(".modal-content").draggable();

        // Get the button that opens the modal
        var btn_school = $(".btn_school");
        var btn_time = $(".btn_lecture_time");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        $(".btn_school").click(function () {
            var type = $(this).attr("action");
            $("#ifrm-school").attr("src", "SchoolList?modal="+type);
            modal_school.style.display = "block";
            //var type = $(this).attr("action");
            //if (type == 'search') {
            //    $("#ifrm-school").contents().find("#btn_reg").html("등록");
            //}
            //else {
            //    $("#ifrm-school").contents().find("#btn_reg").html("선택");
            //}
            //fn_set_modal_init(this);
        });
        //$("#btn_add_school").onclick = function () {
        //    modal_school.style.display = "block";
        //}

        // When the user clicks on the button, open the modal
        $(".add_lecture_time").click(function () {
            $("#ifrm-time").attr("src", "SettingTime");
            modal_time.style.display = "block";
        });

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal_school.style.display = "none";
            modal_time.style.display = "none";
        }

        //// When the user clicks anywhere outside of the modal, close it
        //window.onclick = function (event) {
        //    if (event.target == modal_school) {
        //        modal_school.style.display = "none";
        //    }
        //    if (event.target == modal_time) {
        //        modal_time.style.display = "none";
        //    }
        //}

        $(".close").click(function () {
            fn_close_modal();
        });

        $(".del").click(function () {
            fn_remove_school_item(this);
        });

        $("#btn_save").click(function () {
            if (fn_valudation()) {
               $("#CreateForm").submit();
            }
            //fn_fileupload('3');
        });

        $("#CreateForm").ajaxForm({
            dataType: 'json',
            beforeSubmit: function () {
            },
            success: function (json) {
                if (json.ok) {
                    fn_fileupload(json.seq);
                    alert('강의를 등록하였습니다');
                    location.href ="List?type=@ViewBag.LectureType&seq=" + json.seq;
                    return true
                }
                else {
                    return false;
                }
            },
            error: function () {
                return false;
            },
        });
        $(".school_year").click(function () {
            if ($(this).attr("checked") == 'checked') {
                $(this).attr("checked", false);
            }
            else {
                $(this).attr("checked", true);
            }
        });

       //파일
        $(".lecture_file").on("change", function () {
            var parent_obj = $(this).parent("td");
            $(parent_obj).children(".a_lecture_file_nm").text($(this)[0].files[0].name);
        });

        $(".a_lecture_file_nm").click(function () {
            var parent_obj = $(this).parent("td");
            var file_ctrl = $(parent_obj).children(".lecture_file");
            $(file_ctrl).click();
        });

        ////파일관련(평가계획서)
        //$("#myFile_E").on("change", function () {
        //    var input = document.getElementById('myFile_E');
        //    if (input) {
        //        $(".lecture_file_E").text(input.files[0].name);
        //    }
        //});
        //$(".lecture_file_E").click(function () {
        //    $("#myFile_E").click();
        //});

        ////파일관련(공지)
        //$("#myFile_I").on("change", function () {
        //    var input = document.getElementById('myFile_I');
        //    if (input) {
        //        $(".lecture_file_I").text(input.files[0].name);
        //    }
        //});
        //$(".lecture_file_I").click(function () {
        //    $("#myFile_I").click();
        //});
    });

    //fn_fileupload = function (seq, filetype) {
    fn_fileupload = function (seq) {
        var formData = new FormData();
        formData.append('___seq___', seq);
        $(".lecture_file").each(function () {
            if ($(this).val() === '') {
                //alert('파일없음');
            }
            else {
                //alert('파일있음');
                formData.append('files', $(this)[0].files[0]);
                formData.append('lecture_file_type', $(this).parent("td").attr("filetype"));
            }
        });

        //var fle = $(".letureFile").File;
        //if (fle.files.length <= 0) {
        //    alert('파일없음');
        //}
        //else {
        //    alert('파일있음');
        //    alert(fle.length);
        //}

            $.ajax({
                url: 'UploadFile',
                data: formData,
                type: 'POST',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                dataType: 'json',
                cache: false,
                success: function (result) {
                    //if (result.data == 'T') {
                    //    alert("성공");
                    //    location.reload();
                    //} else {
                    //    alert("실패");
                    //    location.reload();
                    //}
                }
            }).done(function (json) {
                //$("#btn_replace_submit", parent.document).click();
            });
        }

    fn_init = function () {
        if (@ViewBag.LectureSeq!= 0) {

            $("#btn_sel_school").html('@Model.CreateSchName');
            $("#school_code").val('@Model.CreateSchCode');

            $("#dteStart").datepicker('setDate', '@Model.OperationStartDate');
            $("#dteEnd").datepicker('setDate', '@Model.OperationEndDate');

            @*$("#dteOperationStartDate").datetimepicker('setDate', '@Model.Reception');
            $("#dteOperationEndDate").datetimepicker('setDate', '@Model.ReceptionClosed');*@

            $("#dteOperationStartDate").val('@Model.Reception');
            $("#dteOperationEndDate").val('@Model.ReceptionClosed');



            $('input:radio[name=radio_gender]:input[value=' + '@Model.TargetGender' + ']').attr("checked", true);
            $('input:radio[name=radio_state]:input[value=' + '@Model.State' + ']').attr("checked", true);
            $.each($(".school_year"), function (key, item) {
                if ('@Model.TargetGrade'.charAt(key) == '1') {
                    $(item).attr("checked", "checked");
                }

            });
            $("#CssCode").val('@Model.CssCode').attr("selected", "selected");
            var select_name = $("#CssCode").children("option:selected").text();
            $("#CssCode").siblings("label").text(select_name);

            $("#Year").val('@Model.Year').attr("selected", "selected");
            var select_name = $("#Year").children("option:selected").text();
            $("#Year").siblings("label").text(select_name);

            $("#Semester").val('@Model.Semester').attr("selected", "selected");
            var select_name = $("#Semester").children("option:selected").text();
            $("#Semester").siblings("label").text(select_name);
        }
        else {

            var year = new Date().getFullYear();
            //alert(year);
            $("#Year").val(year).attr("selected", "selected");
            var select_name = $("#Year").children("option:selected").text();
            $("#Year").siblings("label").text(select_name);
        }
    }

        fn_close_modal = function () {
            $(".modal").css("display", "none");
        };

        fn_add_time_item = function (arr_times) {

            $.each($("#ul-time-items").children("li"), function (key, item) {
                $(item).remove();
                //alert('ttttt');
            });

            var item_html = "<li>"
                + "<div class=\"input_box mm\" style=\"width:163px; height:38px; text-align:center;\">"
                + "<span style=\"line-height:38px;\" class=\"time\" val=\"$VALUE$\" >$TIME$</span>"
                + "</div>"
                //+ "<div style=\"float:left;margin-left:-18px; margin-top:-5px;\"><button title=\"삭제\" class=\"del\" type=\"button\"></button></div>"
                + "</li>"

            $.each(arr_times, function (key, item) {
                var time_item = item_html;
                var week = item.split('/')[0];
                var s_hour = item.split('/')[1];
                var s_minute = item.split('/')[2];
                var e_hour = item.split('/')[3];
                var e_minute = item.split('/')[4];

                var zero = "0";
                if (s_hour.length <= 1) { s_hour = (zero + s_hour) }
                if (s_minute.length <= 1) { s_minute = (zero + s_minute) }
                if (e_hour.length <= 1) { e_hour = (zero + e_hour) }
                if (e_minute.length <= 1) { e_minute = (zero + e_minute) }

                var time = week + " " + s_hour + ":" + s_minute + "~" + e_hour + ":" + e_minute;

                $("#ul-time-items").append(time_item.replace("$TIME$", time).replace("$VALUE$", item));
            });
        }

        fn_add_school_item = function (arr_school) {
            //alert('test');
            var item_html = "<li id=\"$ID$\">"
                + "<div class=\"input_box mm\" style= \"min-width:163px; max-width:240px;  float: left; \"><span style=\"padding:10px;align-items:center; line-height:38px;\" code=\"$CODE$\" class=\"target_school\">$NAME$</span></div>"
                + "<div style=\"float:left;margin-left:-18px; margin-top:-5px;\"><button title=\"삭제\" class=\"del\" type=\"button\"></button></div>"
                + "</li>";

            $.each(arr_school, function (key, item) {
                var school_item = item_html;

                var cnt = $("#li_" + item.code).length
                if (cnt > 0) {
                    alert('이미' + item.name + '는추가되었습니다');
                }
                else {
                    $("#ul-school-items").append(school_item.replace("$CODE$", item.code)
                        .replace("$NAME$", item.name)
                        .replace("$ID$", "li_" + item.code));
                }
                //alert(item.name);
            });
            $(".del").click(function () {
                fn_remove_school_item(this);
            });
            fn_init_school();
        }

        fn_remove_school_item = function (obj) {
            var item = $(obj).parent("div").parent("li");
            $(item).remove();
            fn_init_school();

        }

        fn_get_time_item = function () {
            var arr_time = new Array();
            var time = $(".time");
            $.each(time, function (key, item) {
                //alert($(item).attr("val"));
                arr_time.push($(item).attr("val"));
            });

            return arr_time;
        }

        //fn_set_modal_init = function (obj) {
        //    var type = $(obj).attr("action");

        //}

        fn_set_crate_school = function (school_name, school_code) {
            $("#btn_sel_school").html(school_name);
            $("#school_code").val(school_code);
            fn_close_modal();
        }

        fn_valudation = function () {
            //교과선택
            if ($("#CssCode").val().length <= 0) {
                alert('교과를 선택하세요');
                return;
            }
            //강의명
            if ($("#LectureName").val().length <= 0) {
                alert('강의명을 입력하세요');
                return;
            }

            //단위수
            if ($("#MaxTime").val().length <= 0 || $("#MaxTime").val() <= 0) {
                alert('단위수를 확인하세요');
                return;
            }

            //개설학교
            $("#txt_create_schcode").val($("#school_code").val());
            //alert($("#txt_create_schcode").val());
            if ($("#txt_create_schcode").val().length <= 0) {
                alert('개설학교를 선택해주세요');
                return;
            }

            //신청정원
            if ($("#MaxSignUp").val().length <= 0) {
                alert('신청정원 선택해주세요');
                return
            }
            //수업기간
            if ($("#dteStart").val().length <= 0) {
                alert('수업기간을 확인하세요');
                return;
            }
            if ($("#dteEnd").val().length <= 0) {
                alert('수업기간을 확인하세요');
                return;
            }

            //수업기간 확인
            var s = $("#dteStart").datepicker('getDate');
            var d = $("#dteEnd").datepicker('getDate');
            //alert(s);
            //alert(d);
            if (s> d) {
                alert('수업시작일자와 종료일자를 확인하세요');
                return;
            }


            //접수기간
            if ($("#dteOperationStartDate").val().length <= 0) {
                alert('접수기간을 확인하세요');
                return;
            }

            if ($("#dteOperationEndDate").val().length <= 0) {
                alert('접수기간을 확인하세요');
                return;
            }
            s = $("#dteOperationStartDate").val();
            d = $("#dteOperationEndDate").val();
            if (moment(s) > moment(d)) {
                 alert('접수 시작일자와 종료일자를 확인하세요');
                 return;
            }

            $("#txt_operation_start_date").val($("#dteStart").val());
            $("#txt_operation_end_date").val($("#dteEnd").val());
            $("#txt_reception").val($("#dteOperationStartDate").val());
            $("#txt_reception_closed").val($("#dteOperationEndDate").val());


            var txt_school_year = ''
            //대상학년
            $.each($(".school_year"), function (key, item) {
                if ($(item).is(":checked")) {
                    txt_school_year += '1';
                }
                else {
                    txt_school_year += '0';
                }
            });
            $("#txt_target_grade").val(txt_school_year);
            if (txt_school_year == '000') {
                alert('대상학년을 선택하세요');
                return;
            }

            //대상성별
            var txt_school_gender = ''
            $.each($(".gender"), function (key, item) {
                if ($(item).is(":checked")) {
                    txt_school_gender = $(item).val();
                }
            });
            //$("#txt_target_gender").val(txt_school_gender);
            //if (txt_school_gender.length <= 0) {
            //    alert('대상성별을 선택하세요');
            //    return;
            //}

            //상태
            var txt_school_state = ''
            $.each($(".state"), function (key, item) {
                if ($(item).is(":checked")) {
                    txt_school_state += $(item).val();
                }
            });
            $("#txt_state").val(txt_school_state);
            if (txt_school_state.length <= 0) {
                alert('상태를 선택하세요');
                return;
            }

            //수업시간
            var txt_time = '';
            $.each($(".time"), function (key, item) {
                txt_time += ($(item).text() + ";")
            });

            if (txt_time.len <= 0) {
                alert('수업시간을 선택하세요');
                return;
            }
            $("#txt_lecturetime").val(txt_time);

            //강의장소
            if ($("#Place").val().length <= 0) {
                alert('강의장소를 입력하세요');
                return;
            }

            //과목선택
            if ($("#NssName").val().length <= 0) {
                alert('관련과목을 입력하세요');
                return;
            }


            //담당교사
            if ($("#TeacherName").val().length <= 0) {
                alert('담당교사를 입력하세요');
                return;
            }


            $("#txt_lecture_type").val('@ViewBag.LectureType');
            if (@ViewBag.LectureType==1) {
                //신청가능학교
                var txt_target_school = '';
                $.each($(".target_school"), function (key, item) {
                    txt_target_school += ($(item).attr("code") + ";")
                });
                $("#txt_target_sch_codes").val(txt_target_school);
                if (txt_target_school.length <= 0) {
                    alert('신청가능학교를 선택하세요');
                    return;
                }
            }
            return true;
        }


        fn_init_time = function () {
            var school_cnt = $(".target_school").length;
            if (school_cnt > 0) {
                $("#btn_search_school").css("display", "none");
            }
            else {
                $("#btn_search_school").css("display", "");
            }
        }

        fn_init_school = function () {
            var school_cnt =  $(".target_school").length;
            if (school_cnt > 0) {
                $("#btn_search_school").css("display", "none");
            }
            else {
                $("#btn_search_school").css("display", "");
            }
        }
        //// 파일 등록
        //function uploadFile() {
        //    // 등록할 파일 리스트
        //    var uploadFileList = Object.keys(fileList);

        //    // 파일이 있는지 체크
        //    if (uploadFileList.length == 0) {
        //        // 파일등록 경고창
        //        alert("파일이 없습니다.");
        //        return;
        //    }

        //    // 용량을 500MB를 넘을 경우 업로드 불가
        //    if (totalFileSize > maxUploadSize) {
        //        // 파일 사이즈 초과 경고창
        //        alert("총 용량 초과\n총 업로드 가능 용량 : " + maxUploadSize + " MB");
        //        return;
        //    }

        //    if (confirm("등록 하시겠습니까?")) {
        //        // 등록할 파일 리스트를 formData로 데이터 입력
        //        var form = $('#uploadForm');
        //        var formData = new FormData(form);
        //        for (var i = 0; i < uploadFileList.length; i++) {
        //            formData.append('files', fileList[uploadFileList[i]]);
        //        }

        //        $.ajax({
        //            url: "업로드 경로",
        //            data: formData,
        //            type: 'POST',
        //            enctype: 'multipart/form-data',
        //            processData: false,
        //            contentType: false,
        //            dataType: 'json',
        //            cache: false,
        //            success: function (result) {
        //                if (result.data.length > 0) {
        //                    alert("성공");
        //                    location.reload();
        //                } else {
        //                    alert("실패");
        //                    location.reload();
        //                }
        //            }
        //        });
        //    }
        //}
    </script>
}


<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=" : "/LectureManageMent/List?type=" + ViewBag.LectureType)">@(ViewBag.LectureType == 0 ? " 개방형 강의신청" : "학교연합형 강의신청")</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의정보</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                                    {
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link ">· 나의 수강신청</a>
                                    }
                                    else
                                    {
                                        <a href="/LectureManageMent/List?type=0" class="link @(ViewBag.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureManageMent/List?type=1" class="link @(ViewBag.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if ("1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                        {
                            <li class="sub_title_v3">
                                <a href="/TeacherManageMent/List" class="link_title">교사관리</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>강의 등록 / 수정</h4>
                </div>
                @using (Html.BeginForm("InsertAftterSchoolLecture", "LectureManageMent", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.TargetSchCodes, new { @id = "txt_target_sch_codes" });
                    @Html.HiddenFor(x => x.LectureTime, new { @id = "txt_lecturetime" });
                    @Html.HiddenFor(x => x.CreateSchCode, new { @id = "txt_create_schcode" });
                    @Html.HiddenFor(x => x.LectureSeq, new { @id = "txt_lecture_seq" });

                    @Html.HiddenFor(x => x.TargetGrade, new { @id = "txt_target_grade" });
                    @Html.HiddenFor(x => x.TargetGender, new { @id = "txt_target_gender" });
                    @Html.HiddenFor(x => x.State, new { @id = "txt_state" });
                    @Html.HiddenFor(x => x.LectureType, new { @id = "txt_lecture_type" });
                    @Html.HiddenFor(x => x.OperationStartDate, new { @id = "txt_operation_start_date" });
                    @Html.HiddenFor(x => x.OperationEndDate, new { @id = "txt_operation_end_date" });
                    @Html.HiddenFor(x => x.Reception, new { @id = "txt_reception" });
                    @Html.HiddenFor(x => x.ReceptionClosed, new { @id = "txt_reception_closed" });
                    <div class="sub_content">
                        <div>
                            <table style="undefined;table-layout: fixed;" class="tg tg_v2">
                                <colgroup>
                                    <col style="width: 250px">
                                    <col style="width: 710px">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>학년 / 학기</td>
                                        <td>
                                            <div class="row">
                                                @Html.DropDownListFor(x => x.Year, (SelectList)ViewBag.Year, new { @class = "searchoption", @style = "margin-right:8px;" })
                                                @Html.DropDownListFor(x => x.Semester, (SelectList)ViewBag.Semester, new { @class = "searchoption" })
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>강의명</td>
                                        <td>
                                            @Html.TextBoxFor(x => x.LectureName, new { @class = "input_title", @style = "ime-mode:active;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>관련교과</td>
                                        <td>
                                            @Html.DropDownListFor(x => x.CssCode, (SelectList)ViewBag.CssCode, new { @class = "searchoption", @style = "width:168px" })
                                            @Html.TextBoxFor(x => x.NssName, new { @class = "input_title", @style = "width:168px;", @placeholder = "과명명을입력하세요" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>개설학교</td>
                                        <td style="height:35px;">
                                            @*@Html.TextBoxFor(x => x.CreateSchName, new { @id = "school_name", @class = "input_title", @style = "width:90%;" })*@
                                            <span><a id="btn_sel_school" class="btn_school" action="sel" style="font-weight:bold; text-decoration:underline;">개설학교를 선택해주세요</a></span>
                                            @Html.HiddenFor(x => x.CreateSchName, new { @id = "school_code", @class = "input_title" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>강의장소</td>
                                        <td>
                                            @Html.TextBoxFor(x => x.Place, new { @class = "input_title" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>지도교사</td>
                                        <td>
                                            @Html.TextBoxFor(x => x.TeacherName, new { @class = "input_title" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>단위수</td>
                                        <td> @Html.TextBoxFor(x => x.MaxTime, new { @type = "number", @class = "input_title", @style = "width:168px; border:1px solid rgb(189, 187, 187);", @min = "1", @max = "5" })</td>

                                    </tr>
                                    <tr>
                                        <td>신청정원</td>
                                        <td> @Html.TextBoxFor(x => x.MaxSignUp, new { @type = "number", @class = "input_title", @style = "width:168px; border:1px solid rgb(189, 187, 187);", @min = "1" })</td>
                                    </tr>
                                    @if (ViewBag.LectureType == 1)
                                    {
                                        <tr>
                                            <td>신청가능학교</td>
                                            <td style="padding:8px 15px;">
                                                <div style="float:left; width:95%;">

                                                    <ul id="ul-school-items">
                                                        @if (Model.AfterSchoolLectureSchool != null)
                                                        {

                                                            foreach (var item in Model.AfterSchoolLectureSchool)
                                                            {
                                                                <li id="li_@item.SchoolCode">

                                                                    <div class="input_box mm" style="width:163px;float:left;"><span class="target_school" style="padding:10px;align-items:center; line-height:38px;" code="@item.SchoolCode">@item.SchoolName</span></div>
                                                                    <div style="float:left;margin-left:-18px; margin-top:-5px;"><button title="삭제" class="del btn-del-school-item" type="button"></button></div>
                                                                </li>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <div style="height:20px;float:left;">
                                                                    <span>
                                                                        <a id="btn_search_school" class="btn_school" action="search" style="font-weight:bold; text-decoration:underline; line-height:35px;">	신청가능학교룰 선택해주세요</a>
                                                                    </span>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>

                                                </div>
                                                <div style="float:right;">
                                                    <button type="button" title="추가" class="imgbtn_add btn_school" id="btn_add_school" action="search"></button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>강의기간</td>
                                        <td>
                                            <div class="row" style="width:100%;">
                                                <div class="input_box date">
                                                    <input type="text" id="dteStart" class="s_datepicker input_title" placeholder="시작일" value="" autocomplete="off" style="width:168px;">
                                                    <img src="~/Resources/images/calendar.png" class="jDatepickerImg" style="vertical-align:middle;" />
                                                </div>

                                                <div class="input_box date">
                                                    <input type="text" id="dteEnd" class="e_datepicker input_title" placeholder="종료일" value="" autocomplete="off" style="width:168px;" />
                                                    <img src="~/Resources/images/calendar.png" class="jDatepickerImg" style="vertical-align:middle;" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>강의시간</td>
                                        <td>
                                            <div class="row items">
                                                <div style="float:left; width:95%;">
                                                    <ul id="ul-time-items">
                                                        @if (Model.AfterSchoolLectureTimes != null)
                                                        {
                                                            foreach (var item in Model.AfterSchoolLectureTimes)
                                                            {
                                                                <li>
                                                                    <div class="input_box mm" style="min-width:163px; max-width:240px;  height:38px; text-align:center;">
                                                                        <span style="line-height:38px;" val="@item.LectureTimeCode" class="time">@item.LectureTime</span>
                                                                    </div>
                                                                    @*<div style="float:left;margin-left:-18px; margin-top:-5px;"><button title="삭제" class="del btn-del-lecturetime-item" type="button"></button></div>*@
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <div>
                                                                    <a id="btn_lecture_time" class="add_lecture_time" action="sel" style="font-weight:bold; text-decoration:underline; line-height:35px;">수업시간을 선택해주세요</a>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div style="float:right;">
                                                    <button type="button" title="추가" class="add_lecture_time imgbtn_add" id="btn_add_time"></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>대상학년</td>
                                        <td>
                                            <input id="rdo-school-year-1" class="checkbox-custom school_year" name="radio_school_yea1" type="radio" value="1">
                                            <label for="rdo-school-year-1" class="checkbox-custom-label">1학년</label>
                                            <input id="rdo-school-year-2" class="checkbox-custom school_year" name="radio_school_year2" type="radio" value="2">
                                            <label for="rdo-school-year-2" class="checkbox-custom-label">2학년</label>
                                            <input id="rdo-school-year-3" class="checkbox-custom school_year" name="radio_school_year3" type="radio" value="3">
                                            <label for="rdo-school-year-3" class="checkbox-custom-label">3학년</label>
                                        </td>

                                        @*
                                            <td>>대상성별</td>
                                            <td>
                                                <input id="rdo-gender-0" class="radio-custom gender" name="radio_gender" type="radio" value="0" checked="checked">
                                                <label for="rdo-gender-0" class="radio-custom-label">전체</label>
                                                <input id="rdo-gender-1" class="radio-custom gender" name="radio_gender" type="radio" value="1">
                                                <label for="rdo-gender-1" class="radio-custom-label">남자</label>
                                                <input id="rdo-gender-2" class="radio-custom gender" name="radio_gender" type="radio" value="2">
                                                <label for="rdo-gender-2" class="radio-custom-label">여자</label>
                                            </td>*@
                                    </tr>

                                    <tr>
                                        <td>접수기간</td>
                                        <td>
                                            <div class="row" style="width:100%;">
                                                <div class="input_box date">
                                                    <input type="text" id="dteOperationStartDate" class="s_datetimepicker input_title" placeholder="시작일" value="" autocomplete="off" style="width:220px;">
                                                    <img src="~/Resources/images/calendar.png" class="jDatepickerImg" style="vertical-align:middle;" />
                                                </div>

                                                <div class="input_box date">
                                                    <input type="text" id="dteOperationEndDate" class="e_datetimepicker input_title" value="" placeholder="종료일" autocomplete="off" style="        width: 220px;" />
                                                    <img src="~/Resources/images/calendar.png" class="jDatepickerImg" style="vertical-align:middle;" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>강의계획서</td>
                                        <td style="height:35px;" filetype="L">
                                            <input name="fle_lecture_file_l" type="file" class="lecture_file" id="fle_lecture_file_l" style="display:none;">
                                            <input type="button" value="확인" onclick="fn_fileupload();" style="display:none;" />
                                            @if (Model.AfterSchoolLectureFiles != null && Model.AfterSchoolLectureFiles.Exists(x => x.FileType.ToString() == "L"))
                                            {
                                                var item = Model.AfterSchoolLectureFiles.Find(x => x.FileType == "L");
                                                <a style="text-decoration:underline; font-weight:bold;" class="a_lecture_file_nm">@item.FileName</a>
                                            }
                                            else
                                            {
                                                <a style="text-decoration:underline; font-weight:bold;" class="a_lecture_file_nm">파일없음</a>
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>평가계획서</td>
                                        <td style="height:35px;" filetype="E">
                                            <input name="fle_lecture_file_e" type="file" class="lecture_file" id="fle_lecture_file_e" style="display:none;">
                                            <input type="button" value="확인" onclick="fn_fileupload();" style="display:none;" />
                                            @if (Model.AfterSchoolLectureFiles != null && Model.AfterSchoolLectureFiles.Exists(x => x.FileType.ToString() == "E"))
                                            {
                                                var item = Model.AfterSchoolLectureFiles.Find(x => x.FileType == "E");
                                                <a style="text-decoration:underline; font-weight:bold;" class="a_lecture_file_nm">@item.FileName</a>

                                            }
                                            else
                                            {
                                                <a style="text-decoration:underline; font-weight:bold;" class="a_lecture_file_nm">파일없음</a>
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>공지사항</td>
                                        <td style="height:35px;" filetype="I">
                                            <input name="fle_lecture_file_i" type="file" class="lecture_file" id="fle_lecture_file_i" style="display:none;">
                                            <input type="button" value="확인" onclick="fn_fileupload();" style="display:none;" />
                                            @if (Model.AfterSchoolLectureFiles != null && Model.AfterSchoolLectureFiles.Exists(x => x.FileType.ToString() == "I"))
                                            {
                                                var item = Model.AfterSchoolLectureFiles.Find(x => x.FileType == "I");
                                                <a style="text-decoration:underline; font-weight:bold;" class="a_lecture_file_nm">@item.FileName</a>
                                            }
                                            else
                                            {
                                                <a style="text-decoration:underline; font-weight:bold;" class="a_lecture_file_nm">파일없음</a>
                                            }

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>알림란</td>
                                        <td style="height:35px;">
                                            @Html.TextBoxFor(x => x.InfoMessage, new { @class = "input_title", @style = "ime-mode:active;" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>상태</td>
                                        <td>
                                            <input id="rdo-state-1" class="radio-custom state" name="radio_state" type="radio" value="1">
                                            <label for="rdo-state-1" class="radio-custom-label">접수</label>
                                            <input id="rdo-state-0" class="radio-custom state" name="radio_state" type="radio" value="0">
                                            <label for="rdo-state-0" class="radio-custom-label">마감</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn_box no-print">
                            <a href="List?type=@ViewBag.LectureType" class="left_btn" id="btn_cancel">목록으로</a>
                            <a href="#" class="right_btn" id="btn_save" active="search">등록</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div style="display:none;"><button type="submit" id="btn_submit">submit</button></div>


<div id="school-modal" class="modal" style="overflow-y:auto;">
    <!-- Modal content -->
    <div class="modal-content" style="height:620px;width:100%; padding:0px !important; max-width:600px;">
        <div style="background-color:#0c4a96; width:100%; height:50px; ">
            <span style="margin-top:10px; margin-left:20px; line-height:50px; font-size:20px; font-weight:bold; color:white;">학교선택</span>
            <span class="close">&times;</span>
        </div>
        <iframe id="ifrm-school" src="SchoolList" style="width:100%;height:calc(100% - 50px);"></iframe>
    </div>
</div>


<div id="time-modal" class="modal" style="overflow-y:auto;">

    <div class="modal-content" style="height:500px;padding:0px !important;max-width:590px; ">
        <div style="background-color:#0c4a96; height:50px; ">
            <span style="margin-top:10px; margin-left:20px; line-height:50px; font-size:20px; font-weight:bold; color:white;">수업시간</span>
            <span class="close">&times;</span>
        </div>
        <iframe id="ifrm-time" src="" style="width:100%;height:calc(100% - 50px);"></iframe>
    </div>
</div>