﻿@using Dream.Web.AfterSchool.Core.Entities;
@using PagedList
@using PagedList.Mvc
@model ViewModel<SchoolInfos, AfterShoolLectureSearch>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/_Layout_P.cshtml";
}

<style>
    th {
        height: 40px !important;
    }

    td {
        height: 40px !important;
    }

    .pagination-container {
        margin: 20px 0px;
    }
</style>
<script>
    var arr_school = new Array();
    $(document).ready(function () {
        fn_init();
        $("#btn_cancel").click(function () {
            //alert("취소");
            parent.fn_close_modal();
        });

        $("#chk-all").change(function () {
            if ($(this).is(":checked")) {
                $(".sch_code").attr("checked", true);
            }
            else {
                $(".sch_code").attr("checked", false);
            }
        })

        $("#btn_reg").click(function () {

            //times.push("A");
            //times.push("B");
            //times.push("C");
            //times.push("D");

            var school_codes = $(".sch_code");
            arr_school = [];
            $.each(school_codes, function (key, item) {
                if ($(item).is(":checked") == true) {
                    var shcool = new Object();
                    shcool.code = $(item).val();
                    shcool.name = $(item).parent("td").parent("tr").find(".sch_name").html();
                    arr_school.push(shcool);
                    //alert(shcool.name);
                }
            });

            parent.fn_add_school_item(arr_school);
            parent.fn_close_modal();
        });

        $("#btn_search").click(function () {
            $("#page").val("1");
            $("#searchForm").submit();
        });

        $("#Search_RegionCode").change(function () {
            $("#btn_search").click();
        })
    });

    fn_set_schoolname = function (obj) {
        var school_name = $(obj).html();
        var school_code = $(obj).parent("td").parent("tr").find(".sch_code").val();

        parent.fn_set_crate_school(school_name, school_code);
    }
    fn_init = function (){
    if ('@ViewBag.ModalType' == 'search') {
        $("#btn_reg").html("등록");
        $(".search").css("display", "");
        $(".sel").css("display", "none");
    }
    else {
        $("#btn_reg").html("선택");
        $(".search").css("display", "none");
        $(".sel").css("display", "");
    }


    }
    test = function () {
        alert('tttt')
    }    
</script>

<div class="container">
    <div class="sub_section">
        <div class="popupinner">
            <div class="right_content" style="float:initial; width:100%;">
                <div class="sub_content">
                    @using (Html.BeginForm("SchoolList", "LectureManageMent", FormMethod.Get, new { modal = ViewBag.ModalType, id = "searchForm" }))
                    {
                        <input type="hidden" id="modal" name="modal" value="@ViewBag.ModalType" />

                        <div class="table_help m_table_help" style="top:10px;">
                            @Html.DropDownListFor(x => x.Search.RegionCode, (SelectList)ViewBag.School, new { @class = "searchoption" })
                            @Html.TextBoxFor(x => x.Search.SchoolName, new { placeholder = "학교명을 입력하세요", @class = "input_title" })
                            <button type="button" id="btn_search">검색</button>
                        </div>

                        <div class="table_div">
                            <table class="tg" >
                                <colgroup>
                                    <col style="width: 10%;" class="search">
                                    <col style="width: 45%;" class="sel">
                                    <col style="width: 45%;" class="sel">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="search"><input type="checkbox" id="chk-all" style="height:22px; width:44px;" /></th>
                                        <th>지원청</th>
                                        <th>학교명</th>
                                    </tr>
                                </thead>
                                @if (Model.List.Count <= 0)
                                {
                                    <tbody>
                                        <tr style="height:300px;">
                                            @if (ViewBag.ModalType == "search")
                                            {
                                                <td colspan="3">

                                                    내용없음
                                                </td>
                                            }
                                            else
                                            {
                                                <td colspan="2">

                                                    내용없음
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                }
                                else
                                {
                                    <tbody>
                                        @foreach (var item in Model.List)
                                        {
                                            <tr>
                                                <td class="search"><input class="sch_code" value="@item.SchCode" type="checkbox" style="height:22px; width:44px;" /></td>
                                                <td><span>@item.OfficeOfEducationName</span></td>
                                                <td>
                                                    <span class="sch_name search">@item.SchName</span>
                                                    <span class="sch_name sel" onclick="fn_set_schoolname(this);" style="text-decoration:underline !important; cursor:pointer;">@item.SchName</span>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                }
                            </table>
                        </div>

                        <div class="bbs_text_type_paging" style="margin-bottom:10px;">
                            <div id="pager">
                                @Html.Hidden("page", Model.PageIndex)
                                <div class="totalCount" style="margin-left:10px; margin-bottom:10px;">전체 <span>@Model.TotalCount</span> 건</div>
                                @Html.PagedListPager(new StaticPagedList<SchoolInfos>(Model.List, Model.PageIndex, Model.PageSize, Model.TotalCount)
                                                                             , page => Url.Action("SchoolList", "LectureManageMent", new { Model.Search.RegionCode, Model.Search.SchoolName, page = page, modal = ViewBag.ModalType }))
                            </div>
                        </div>
                        <div class="btn_box no-print">
                            <a href="#" class="right_btn" id="btn_reg" active="search" style="margin:0px 16px;">등록</a>
                            <a href="#" class="right_btn_white" id="btn_cancel">취소</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

    