﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/_Layout_P.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $(".excel").click(function () {
            var type = ''
            var detail = $(this).attr("detail");
            var key = '';
            $.each($(".type"), function (key, item) {
                if ($(item).is(":checked")) {
                    type = $(item).val();
                }
            });
            if (detail=="1") {
                key = $("#slt_lecture option:selected").val();
            }
            else if (detail == "2") {
                key = $("#slt_target option:selected").val();
            }
            else if (detail == "3") {
                key = $("#slt_create option:selected").val();
            }
            if (type == '') {
                alert('출력형태를 확인하세요');
                return;
            }
            window.open("StatDown?type=" + type + "&detail=" + detail + "&key=" + key);            
        });

        $("#slt_csscode").change(function () {

            var css_code = $("#slt_csscode option:selected").val();
            $("#slt_lecture").val($("#slt_lecture option:first").val()).trigger("change");
            //debugger;
            $.each($(".lecutreitem"), function (key, item) {
                if (css_code != $(this).attr("css_code")) {
                    $(this).css("display", "none");
                }
                else {
                    $(this).css("display", "");
                }
                if (css_code == "") {
                    $(this).css("display", "");
                }
            });
           
        });
    });
    fn_down_excel = function () {
        $("#frmExcel").submit();
    }
</script>

@using (Html.BeginForm("StatDown", "LectureManageMent", FormMethod.Post, new { @id = "frmExcel", @name = "frmExcel", @class = "form-inline" }))
{
}
<div class="container" id="content" style="width:800px !important;">
    <!--컨텐츠부분 시작-->
    <div class="contents course_manage">
        <div class="common_list">
            <div class="list_w">
                <fieldset>
                    <div class="common_form">
                        @*<p class="txt_required">
                                <img class="ico_required" alt="필수" src="~/images/ico_required.png">표시가
                                있는 항목은 반드시 입력해야 합니다.
                            </p>*@
                        <table class="form_tbl">
                            <colgroup>
                                <col style="width: 20%;">
                                <col style="width: 40%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>출력형태</th>
                                    <td>
                                        <div class="row">
                                            <input id="rdo-type-0" class="radio-custom type" name="radio_type" type="radio" value="1">
                                            <label for="rdo-type-0" class="radio-custom-label">신청통계</label>
                                            <input id="rdo-type-1" class="radio-custom type" name="radio_type" type="radio" value="2">
                                            <label for="rdo-type-1" class="radio-custom-label">신청학생</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="top">
                                    <th>과목별</th>
                                    <td>
                                        <div class="row" style="height:35px;">
                                            <div class="c_selectbox_normal">
                                                <label for="">교과</label>
                                                @Html.DropDownList("00", (SelectList)ViewBag.CssCode, new { @class = "select wd1", @style = "width:168px" ,@id="slt_csscode" })
                                            </div>
                                            <div class="c_selectbox_normal">
                                                <label for="">강의명</label>
                                                <select class="select wd1" name="00" style="width:315px" id="slt_lecture">
                                                    <option value="">전체</option>
                                                    @foreach (var item in ViewBag.LectureItem)
            {
                                        <option class="lecutreitem" value="@item.LectureSeq" css_code="@item.CssCode">@item.LectureName</option>
}
                                                </select>

                                            </div>
                                            <div class="list_info">
                                                <div class="btns">
                                                    <a class="btn purple btn_file excel" href="#" detail="1">다운</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th>학교별</th>
                                    <td>
                                        <div class="row" style="height:35px;">
                                            <div class="c_selectbox_normal">
                                                <label for="">학교선택</label>
                                                <select class="select wd1" name="00" style="width:490px" id="slt_target">
                                                    <option value="">전체</option>
                                                    @foreach (var item in ViewBag.SchoolItem)
            {
                                        <option value="@item.SchCode">@item.SchName</option>
}
                                                </select>
                                            </div>
                                            <div class="list_info">
                                                <div class="btns">
                                                    <a class="btn purple btn_file excel" href="#" detail="2">다운</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th>수업실시학교</th>
                                    <td>
                                        <div class="row" style="height:35px;">
                                            <div class="c_selectbox_normal">
                                                <label for="">학교선택</label>
                                                <label for="">학교선택</label>
                                                <select class="select wd1" name="00" style="width:490px" id="slt_create">
                                                    <option value="">전체</option>
                                                    @foreach (var item in ViewBag.CreateSchoolItem)
                                                    {
                                                        <option value="@item.SchCode">@item.SchName</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="list_info">
                                                <div class="btns">
                                                    <a class="btn purple btn_file excel" href="#" detail="3">다운</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        <div class="btn_a right" style="display:none;">
                            <a class="btn middle-btn white" href="" style="display:none;">취소</a>
                            <button class="btn middle-btn blue last" type="button" id="btn_down_stat" onclick="fn_down_excel();">엑셀출력</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <!--컨텐츠부분 종료-->
    </div>
    <!-- container -->
</div>