﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/_Layout_P.cshtml";
}
<style>
    span.time {
        line-height: 38px;
        margin-left: 5px;
        font-size: 10px;
        font-weight: bold;
    }
</style>
<script>
    var times = new Array();
    var arr_times = new Array();
    var addtimes = new Array();
    var item_html = "<tr val=\"$VAL$\">"
        + "<td>$WEEK$</td>"
        + "<td><span>$S_HOUR$시$S_MINUTE$분</span></td>"
        + "<td><span>$E_HOUR$시시$E_MINUTE$분</span></td>"
        + "<td> <button class=\"btn small-btn red bnt_time_delete\" type=\"button\">삭제</button></td>"
    "</tr>";
    $(document).ready(function () {

        arr_times = parent.fn_get_time_item();
        
        $.each(arr_times, function (key, item) {            
            var week = item.split('/')[0];
            var s_hour = item.split('/')[1];
            var s_minute = item.split('/')[2];
            var e_hour = item.split('/')[3];
            var e_minute = item.split('/')[4];

            var curtime = caltime(week, parseInt(s_hour), parseInt(s_minute), parseInt(e_hour), parseInt(e_minute));
            curtime.val = item;
            addtimes.push(curtime);


            var zero = "0";
            if (s_hour.length <= 1) { s_hour = (zero + s_hour) }
            if (s_minute.length <= 1) { s_minute = (zero + s_minute) }
            if (e_hour.length <= 1) { e_hour = (zero + e_hour) }
            if (e_minute.length <= 1) { e_minute = (zero + e_minute) }

            var time = week + " " + s_hour + ":" + s_minute + "~" + e_hour + ":" + e_minute;
            var time_val = week + "/" + s_hour + "/" + s_minute + "/" + e_hour + "/" + e_minute;
            //times.push(time_val)

            var html = item_html.replace("$WEEK$", week)
                .replace("$S_HOUR$", s_hour)
                .replace("$S_MINUTE$", s_minute)
                .replace("$E_HOUR$", e_hour)
                .replace("$E_MINUTE$", e_minute)
                .replace("$VAL$", time_val)

            $("#time-items").append(html);


            $(".bnt_time_delete").click(function () {
                fn_delete_time_item(this);
            });

        });

        $("#btn_time_add").click(function () {
            var week = $("#slt_week option:selected").val();
            var s_hour = $("#s_hour").val();;
            var s_minute = $("#s_minute").val();;
            var e_hour = $("#e_hour").val();;
            var e_minute = $("#e_minute").val();;
            if (parseInt(s_hour + s_minute) > parseInt(e_hour + e_minute)) {
                alert('수업시작시간과 종료시간을 확인하세요');
                return;
            }
            //alert(week);
            //alert(s_hour);
            //alert(s_minute);
            //alert(e_hour);
            //alert(e_minute);


            var curtime = caltime(week, parseInt(s_hour), parseInt(s_minute), parseInt(e_hour), parseInt(e_minute));

            if (!timecheck(curtime)) {
                alert("타 수업시간의 시작시간과 종료시간을 확인하세요");
                return;
            }

            

            var zero = "0";
            if (s_hour.length <= 1) { s_hour = (zero + s_hour) }
            if (s_minute.length <= 1) { s_minute = (zero + s_minute) }
            if (e_hour.length <= 1) { e_hour = (zero + e_hour) }
            if (e_minute.length <= 1) { e_minute = (zero + e_minute) }

            var time = week + " " + s_hour + ":" + s_minute + "~" + e_hour + ":" + e_minute
            var time_val = week + "/" + s_hour + "/" + s_minute + "/" + e_hour + "/" + e_minute;
            //times.push(time_val)

            //var item_html = "<li>"
            //    + "<div style=\"float:left;\">"
            //    + "<div style=\"float:left; font-weight:bold;\">$WEEK$요일 $S_HOUR$시:$S_MINUTE$분 ~ $E_HOUR$시:$E_MINUTE$분</div>"
            //    + "<div class=\"bnt_time_delete\" style=\"float:left; width:20px;height:20px;background-color:red; line-height:20px;text-align:center; font-weight:bold; color:#ffffff;\">&times;</div>"
            //    + "</div>"
            //    + "</li>"

            curtime.val = time_val;
            addtimes.push(curtime);


            var html = item_html.replace("$WEEK$", week)
                .replace("$S_HOUR$", s_hour)
                .replace("$S_MINUTE$", s_minute)
                .replace("$E_HOUR$", e_hour)
                .replace("$E_MINUTE$", e_minute)
                .replace("$VAL$", time_val)

            $("#time-items").append(html);


            $(".bnt_time_delete").click(function () {
                fn_delete_time_item(this);
            });

        });


        $("#btn_cancel").click(function () {
            //alert("취소");
            parent.fn_close_modal();
        });

        $("#btn_reg").click(function () {
            
            //times.push("A");
            //times.push("B");
            //times.push("C");
            //times.push("D");

            var itemss = $("#time-items").children("tr");
            $.each(itemss, function (key, item) {
                times.push($(item).attr("val"));
            });

            parent.fn_add_time_item(times);
            parent.fn_close_modal();
        });


        $(".bnt_time_delete").click(function () {
            fn_delete_time_item(this);
        });

        fn_delete_time_item = function (obj) {            
            //var arr_item = times.filter(function (item) {
            //    return (item = $(obj).parent("td").parent("tr").attr("val"));
            //});

            //for (var i = times.length - 1; i >= 0; i--) {
            //    if (times[i] === arr_item) {
            //        times.splice(i, 1);
            //        alert(times[i] + "또이또이" + arr_item);
            //    }
            //}
            
            var item = $(obj).parent("td").parent("tr");
            $.each(addtimes, function (idx, obj) {
                if (obj.val == item.attr("val")) {
                    addtimes.splice(idx, 1);
                }
            });

            $(item).remove();
        }

        addtimes.sort(function (a, b) {
            return a.stime < b.stime ? -1 : a.stime > b.stime ? 1 : 0;
        });
    });

    var timecheck = function (curtime) {
        
        var rtn = true;
        $.each(addtimes, function (idx, item) {
            if (item.stime <= curtime.stime && item.etime > curtime.stime) {
                rtn = false;
                return false;
            }
            else if (item.stime < curtime.etime && item.etime >= curtime.etime) {
                rtn = false;
                return false;
            }
            else if (item.stime >= curtime.stime && item.stime < curtime.etime) {
                rtn = false;
                return false;
            }
            else if (item.etime > curtime.stime && item.etime <= curtime.etime) {
                rtn = false;
                return false;
            }
        });
        return rtn;
    }

    var caltime = function (week, s_hour, s_minute, e_hour, e_minute) {
        var rtnData = {
            stime: 0,
            etime: 0
        }
        switch (week) {
            case "월": rtnData.stime = rtnData.etime = 1 * 60 * 24; break;
            case "화": rtnData.stime = rtnData.etime = 2 * 60 * 24; break;
            case "수": rtnData.stime = rtnData.etime = 3 * 60 * 24; break;
            case "목": rtnData.stime = rtnData.etime = 4 * 60 * 24; break;
            case "금": rtnData.stime = rtnData.etime = 5 * 60 * 24; break;
            case "토": rtnData.stime = rtnData.etime = 6 * 60 * 24; break;
            case "일": rtnData.stime = rtnData.etime = 7 * 60 * 24; break;
        }

        rtnData.stime += s_hour * 60 + s_minute;
        rtnData.etime += e_hour * 60 + e_minute;

        return rtnData;
    }
    
</script>

<div class="container">
    <div class="sub_section">
        <div class="popupinner">
            <div class="right_content" style="float:initial; width:100%;">
                <div class="sub_content">
                    <div class="table_help m_table_help" style="top:10px;width:90%;overflow-x:auto;">
                        <div style="min-width:530px;display:flex;">
                            <div style="width:80px;height:38px;" class="input_box">
                                <select name="week" id="slt_week" style="width:100%;">
                                    <option value="월" selected="selected">월요일</option>
                                    <option value="화">화요일</option>
                                    <option value="수">수요일</option>
                                    <option value="목">목요일</option>
                                    <option value="금">금요일</option>
                                    <option value="토">토요일</option>
                                    <option value="일">일요일</option>
                                </select>
                            </div>
                            <div style="width:60px;height:38px;margin:0px 8px;" class="input_box">
                                <input type="number" value="9" class="number" id="s_hour" min="1" max="24" style="width:100%; margin: 0px;" />
                            </div>
                            <div style="width:2%;height:38px; font-size:20px; font-weight:bold;">
                                <span class="time">:</span>
                            </div>
                            <div style="width:60px;height:38px;margin:0px 8px;" class="input_box">
                                <input type="number" value="0" class="number" id="s_minute" min="0" max="59" style="width:100%; margin: 0px;" />
                            </div>
                            @*<div style="width:3%;height:38px;">
            <span class="time">분</span>
        </div>*@
                            <div style="width:5%;height:38px;">
                                <span class="time" style="font-weight:bold; font-size:20px;">~</span>
                            </div>
                            <div style="width:60px;height:38px;margin:0px 8px;" class="input_box">
                                <input type="number" value="10" class="number" id="e_hour" min="1" max="24" style="width:100%; margin: 0px;" />
                            </div>
                            <div style="width:2%;height:38px;">
                                <span class="time">:</span>
                            </div>
                            <div style="width:60px;height:38px;margin:0px 8px;" class="input_box">
                                <input type="number" value="0" class="number" id="e_minute" min="0" max="59" style="width:100%; margin: 0px;" />
                            </div>
                            @*<div style="width:3%;height:38px;">
            <span class="time">분</span>
        </div>*@
                            <div style="width:80px;float:right;">
                                <button class="middle-btn red" type="button" id="btn_time_add" style="width:80px;float:right;">추가</button>
                            </div>
                        </div>
                    </div>
                    <div class="table_div">
                        <table class="tg">
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 35%;">
                                <col style="width: 35%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>요일</th>
                                    <th>시작시간</th>
                                    <th>종료시간</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>
                            <tbody id="time-items">

                                @*<tr>
                        <td>월</td>
                        <td><span>12시33분</span></td>
                        <td><span>04시시50분</span></td>
                        <td> <button class="btn small-btn red" type="button">삭제</button></td>
                    </tr>

                    <tr>
                        <td>월</td>
                        <td><span>12시33분</span></td>
                        <td><span>04시시50분</span></td>
                        <td> <button class="btn small-btn red" type="button">삭제</button></td>
                    </tr>
                    <tr>
                        <td>월</td>
                        <td><span>12시33분</span></td>
                        <td><span>04시시50분</span></td>
                        <td> <button class="btn small-btn red" type="button">삭제</button></td>
                    </tr>*@

                            </tbody>
                        </table>
                    </div>
                    <div class="btn_box no-print">
                        <a href="#" class="right_btn" id="btn_reg" active="search" style="margin:0px 16px;">등록</a>
                        <a href="#" class="right_btn_white" id="btn_cancel" >취소</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>