﻿@using Dream.Web.AfterSchool.Core.Entities;
@model ViewModel<AfterSchool_Lecture_Request, AfterSchool_Lecture>
@{
    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = "신청 학생 리스트";
    ViewBag.Navigation = "LECTUREMANAGE";
    ViewBag.MidNavigation = "LECTURE";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    .search_box ul li span {
        font-weight: bold;
    }
</style>
<script>
    $(document).ready(function () {
        $(".slt_state").change(function () {
            var seq = $(this).attr("seq");
            var id = $("#tr_" + seq).attr("id");
            var state = $("#slt_state_" + seq + " option:selected").val();

            fn_update_state(seq,state);
        });
    });
    fn_update_state = function (seq, state) {
		$.ajax({
			type: "POST",
			contentType: "application/json; charset=UTF-8",
			dataType: "json",
			data: JSON.stringify({
                'seq': seq
                , 'state':state
			}),
			url: '@Url.Action("SetLectureRequestState", "LectureManageMent")',
			success: function (msg) {
				if (msg.jsonMsg == "S") {
					alert("수정하였습니다");

				}
				else {
                    alert("정상처리되지 않았습니다");
				}
			},
			error: function (xhr, msg) { alert(msg); }
		});
		$.ajaxSetup({ async: false });
	}
</script>

<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=" : "/LectureManageMent/List?type=" + Model.Search.LectureType)">@(Model.Search.LectureType == 0 ? " 개방형 강의신청" : "학교연합형 강의신청")</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의정보</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                                    {
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link @(Model.Search.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link @(Model.Search.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link ">· 나의 수강신청</a>
                                    }
                                    else
                                    {
                                        <a href="/LectureManageMent/List?type=0" class="link @(Model.Search.LectureType == 0 ? "active" : "")">· 개방형 강의</a>
                                        <a href="/LectureManageMent/List?type=1" class="link @(Model.Search.LectureType != 0 ? "active" : "")">· 학교연합형 강의</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if ("1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                        {
                            <li class="sub_title_v3">
                                <a href="/TeacherManageMent/List" class="link_title">교사관리</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>강의 신청현황</h4>
                </div>
                
                <div class="sub_content">
                    <div class="text_box">
                        <p style="font-size:20px; font-weight:bold;">
                            @Model.Search.Year 학년도  @Model.Search.Semester.ToString().Replace("0", "전체") 학기 / @Model.Search.LectureName
                            <hr style="border-width:1px;border-color:rgb(51,51,51); margin-block-start:0.5em; margin-block-end:0.5em;border-style:inset;" />
                        </p>
                        <p><span>• 수업 기간 :</span> @Model.Search.OperationStartDate ~ @Model.Search.OperationStartDate    <span style="display:none;">• 수업 시간  : 수17:00~19:50.토14:00~17:50</span></p>
                        @if (Model.Search.LectureType == 1)
                        {
                            <p><span>• 수업학교 :</span> @Model.Search.TargetSchNames</p>
                        }

                        <p><span>• 대상  : </span> @Model.Search.TargetGradeStr </p>
                        <p><span>• 접수 기간 :</span> @Model.Search.Reception ~ @Model.Search.ReceptionClosed  <span>• 강의계획서 : </span> <a href="Download?seq=@Model.Search.LectureSeq" style="text-decoration:underline;">@Model.Search.FileName</a></p>
                    </div>
                    <div class="btn_box no-print" style="margin-bottom:30px;">
                        <a href="StudentListDown?seq=@Model.Search.LectureSeq" class="right_btn_indigo">파일내보내기</a>
                    </div>
                    <div style="overflow-x:auto;">
                        <table style="display:table;table-layout: fixed;" class="tg">
                            <colgroup>

                                <col style="width: 96px;">
                                <col style="width: 96px;">
                                <col style="width: 96px;">
                                <col style="width: 96px;">
                                <col style="width: 96px;">
                                <col style="width: 96px;">
                                <col style="width: 288px;">
                                <col style="width: 96px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>학교</th>
                                    <th>학년</th>
                                    <th>반</th>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>연락처</th>
                                    <th>지원동기</th>
                                    <th>상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.List)
                                {
                                    <tr id="tr_@item.RequestSeq">
                                        <td>@item.SchoolName</td>
                                        <td>@item.Grade</td>
                                        <td>@item.Class</td>
                                        <td>@item.StudentId</td>
                                        <td>@item.Uname</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Motive</td>

                                        <td>
                                            @if (item.State == 1)
                                            {
                                                <select id="slt_state_@item.RequestSeq" class="slt_state" style="border:1px solid #ccc;padding:4px;" seq="@item.RequestSeq">
                                                    <option selected="" value="0">대기</option>
                                                    <option value="1" selected="selected">수강</option>

                                                </select>
                                            }
                                            else
                                            {
                                                <select id="slt_state_@item.RequestSeq" class="slt_state" style="border:1px solid #ccc;padding:4px;" seq="@item.RequestSeq">
                                                    <option value="1" selected="">수강</option>
                                                    <option selected="selected" value="0">대기</option>
                                                </select>
                                            }
                                        </td>
                                    </tr>
                                }
                                @if (Model.List.Count() <= 0)
                                {
                                    <tr>

                                        <td colspan="8">신청인원 없음</td>
                                    </tr>

                                }
                                @*<tr>
                        <td colspan="7">
                            데이터가 없습니다.
                        </td>
                    </tr>*@
                            </tbody>
                        </table>
                    </div>
                    <div class="btn_box no-print">
                        <a href="List?type=@Model.Search.LectureType" class="left_btn">목록으로</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










