﻿@using PagedList
@using PagedList.Mvc
@using Dream.Web.AfterSchool.Core.Entities;
@model ViewModel<member, member>

@{
    /**/

    ViewBag.Title = "학교연합교육과정";
    ViewBag.Description = "교사관리";
    ViewBag.Navigation = "MANAGE";
    ViewBag.MidNavigation = "LECTURETEACHER";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    .contents .common_list .list_tbl td .btns :first-child.btn {
        border-right-style: none !important;
    }

    .btn_confirm {
        border: 1px solid #ba3741;
        border-image: none;
        width: 105px;
        height: 32px;
        text-align: center;
        color: #ba3741;
        line-height: 32px;
        letter-spacing: -1px;
        margin-right: 4px;
        float: left;
        display: block;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".midx").css("display", "none");
        $("select[name=slt_search_type]").change(function (e) {
            $("input[name=uname]").val('');
            $("input[name=uname]").val('');
            //이름
            if (e.target.value == '1') {
                $(".email").css("display", "none");
                $(".uname").css("display", "");
            }
            //아이디
            else {
                $(".email").css("display", "");
                $(".uname").css("display", "none");
            }

            $("select[name=slt_search_type]").val(e.target.value);
        });

        $(".slt_state").change(function () {
            var midx = $(this).attr("midx");
            var id = $("#tr_" + midx).attr("id");
            var isused = $("#slt_isused_" + midx + " option:selected").val();
            var role = $("#slt_role_" + midx + " option:selected").val();

            fn_update_state(midx, isused, role);
        });

        $("button[name=btnInitSearch]").click(function () {
            $("#txt_email").val('');
            $("#txt_uname").val('');

            $("#searchForm").submit();
        });

        $("button[name=btn_search]").click(function () {
            $("#searchForm").submit();
        });

        $(".search_text").keypress(function () {
            if (window.event.keyCode == 13) {
                $("#searchForm").submit();
            }
        });

        $("input.uname").on("keyup", function (e) {
            $("input.uname").val(e.target.value);
        });

        $("input.email").on("keyup", function (e) {
            $("input.email").val(e.target.value);
        });
    });

    fn_update_state = function (midx, isused, role) {
		$.ajax({
			type: "POST",
			contentType: "application/json; charset=UTF-8",
			dataType: "json",
			data: JSON.stringify({
                'midx': midx
                , 'isused': isused
                , 'role': role
			}),
			url: '@Url.Action("SetAfterLectureTecher", "TeacherManageMent")',
			success: function (msg) {
				if (msg.jsonMsg == "S") {
					alert("수정하였습니다");

				}
				else {
                    alert("정상처리되지 않았습니다");
				}
			},
			error: function (xhr, msg) { alert(msg); }
		});
		$.ajaxSetup({ async: false });
	}

</script>

<div class="container">
    <div class="sub_title">
        <div class="inner">
            <div class="title_box">
                <p>학교연합교육과정</p>
                <span>
                    학교연합교육과정 수강신청 시스템은 교사와 학생이 편리하게 수강신청/관리를 하실 수 있는 프로그램 입니다.
                </span>
            </div>
        </div>
    </div>
    <div class="third_menu_wrap">
        <div class="inner">
            <div class="third_menu_box">
                <ul>
                    <li class="home">
                        <a href="https://jdream.theschools.co.kr">
                            <img src="/resources/images/2020/home.png" alt="홈으로" width="16">
                        </a>
                    </li>
                    <li class="second_menu">
                        <a href="@(("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType)) ? "/LectureRequest/LectureList?page=1&lectureType=0" : "/LectureManageMent/List?type=0")">학교연합교육과정</a>
                    </li>
                    <li class="third_menu">
                        <a href="/TeacherManageMent/List">교사관리</a>
                    </li>
                    <li class="print_share">
                        <a href="#" class="print">
                            <img src="/resources/images/2020/print.png" alt="프린트" width="20">
                        </a>
                        <a href="#" class="share">
                            <img src="/resources/images/2020/share.png" alt="공유" width="20">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub_section">
        <div class="inner">
            <div class="left_content">
                <div class="accordion-box">
                    <ul class="list" style="overflow:hidden">
                        <li class="title_v3">
                            <span>학교연합교육과정</span>
                        </li>

                        <li class="sub_title_v3">
                            <p class="title_v2 active">
                                <span class="fl">강의정보</span>
                                <em>+</em>
                            </p>
                            <div class="con_v2" style="display:block">
                                <div class="nav_v2">
                                    @if ("STUDENT".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                                    {
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=0" class="link ">· 개방형 강의</a>
                                        <a href="/LectureRequest/LectureList?page=1&lectureType=1" class="link ">· 학교연합형 강의</a>
                                        <a href="/LectureRequest/LectureMyList?page=1&lectureType=1" class="link ">· 나의 수강신청</a>
                                    }
                                    else
                                    {
                                        <a href="/LectureManageMent/List?type=0" class="link ">· 개방형 강의</a>
                                        <a href="/LectureManageMent/List?type=1" class="link ">· 학교연합형 강의</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @if ("1".Equals(Dream.Web.AfterSchool.Controllers.AppIdentity.UserType))
                        {
                            <li class="sub_title_v3">
                                <a href="/TeacherManageMent/List" class="link_title active">교사관리</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="sub_head">
                    <h4>@(ViewBag.LectureType == 0 ? "개방형 강의" : "학교연합형 강의")</h4>
                </div>

                @using (Html.BeginForm("List", "TeacherManageMent", FormMethod.Get, new { type = 1, @id = "searchForm" }))
                {
                    <h5 class="sub_content_title sub_content_title_v2" style="position:relative">
                        교사목록
                        <div class="table_help">
                            <select name="slt_search_type">
                                <option selected="selected" value="1">이름</option>
                                <option value="0">아이디</option>
                            </select>
                            
                            @Html.TextBoxFor(x => x.Search.email, new { @class = "searchtext email", @style = "display:none;", placeholder = "아이디를 입력해주세요.", @id = "txt_email" })
                            @Html.TextBoxFor(x => x.Search.uname, new { @class = "searchtext uname", placeholder = "이름을 입력해주세요.", @id = "txt_uname" })

                            <button name="btn_search" style="margin-right:8px;">검색</button>
                            <button name="btnInitSearch">전체</button>
                        </div>
                    </h5>

                    <div class="table_div">
                        <table class="tg" style="table-layout:fixed">
                            <colgroup>
                                <col class="midx" style="width:48px;">
                                <col style="width: 96px;">
                                <col style="width: 192px;">
                                <col style="width: 192px;">
                                <col style="width: 192px;">
                                <col style="width: 96px;">
                                <col style="width: 192px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="midx"><input type="checkbox" /></th>

                                    <th>이름</th>
                                    <th>학교명</th>
                                    <th>아이디</th>


                                    <th>휴대푠</th>
                                    <th>사용</th>
                                    <th>권한</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.List)
                                {
                                    <tr id="tr_@item.midx">
                                        <td class="midx"><input type="checkbox" /></td>
                                        <td>@item.TeacherName</td>
                                        <td>@item.SchoolName</td>
                                        <td>@item.LoginId</td>
                                        <td>@item.HP</td>
                                        <td>
                                            @*@item.IsUsed*@
                                            @if (item.IsUsed == 1)
                                            {
                                                <select id="slt_isused_@item.midx" class="slt_state" midx="@item.midx" style="border:1px solid #ccc;padding:4px;">
                                                    <option selected="" value="0">대기</option>
                                                    <option value="1" selected="selected">사용</option>

                                                </select>
                                            }
                                            else
                                            {
                                                <select id="slt_isused_@item.midx" class="slt_state" midx="@item.midx" style="border:1px solid #ccc;padding:4px;">
                                                    <option value="1" selected="">사용</option>
                                                    <option selected="selected" value="0">대기</option>
                                                </select>
                                            }
                                        </td>
                                        <td>
                                            <select id="slt_role_@item.midx" class="slt_state" midx="@item.midx" style="border:1px solid #ccc;padding:4px;">

                                                @if (item.Role == 0 || item.Role == 2)
                                                {
                                                    <option selected="" value="1">전체관리자</option>
                                                    <option selected="selected" value="2">일반선생님</option>
                                                }
                                                else
                                                {
                                                    <option selected="" value="2">일반선생님</option>
                                                    <option selected="selected" value="1">전체관리자</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                }
                                @*
                        <tr>
                            <td colspan="7">
                                데이터가 없습니다.
                            </td>
                        </tr>*@
                            </tbody>
                        </table>
                    </div>

                    <div class="bbs_text_type_paging">
                        <div id="pager">
                            @Html.Hidden("page", Model.PageIndex)
                            <div class="totalCount" style="margin-left:10px;">전체 <span>@Model.TotalCount</span> 건</div>
                            @Html.PagedListPager(new StaticPagedList<member>
                                (Model.List, Model.PageIndex, Model.PageSize, Model.TotalCount)
                                , page => Url.Action("List", "TeacherManageMent", new { Model.Search.uname, Model.Search.email, page = page }))
                        </div>
                        <div class="table_help m_table_help">
                            <select name="slt_search_type">
                                <option selected="selected" value="1">이름</option>
                                <option value="0">아이디</option>
                            </select>
                            @Html.TextBoxFor(x => x.Search.email, new { @class = "searchtext email", @style = "display:none;", placeholder = "아이디를 입력해주세요.", @id = "txt_email" })
                            @Html.TextBoxFor(x => x.Search.uname, new { @class = "searchtext uname", placeholder = "이름을 입력해주세요.", @id = "txt_uname" })

                            <button name="btn_search" style="margin-right:8px;">검색</button>
                            <button name="btnInitSearch">전체</button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>










