﻿@model Dream.Web.AfterSchool.Core.Entities.member
@{
    ViewBag.Title = "Modify";
    ViewBag.MidNavigation = "LECTURETEACHER";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    th {
        font-weight: bold !important;
    }
</style>
<div class="wrapper">
    <div class="container" id="content">
        <!--컨텐츠부분 시작-->
        <div class="contents course_manage">
            <div class="cont_head">
                <h3 class="title">강의등록</h3>
            </div>
            <fieldset>
                <div class="common_form">
                    <p class="txt_required">
                            <img class="ico_required" alt="필수" src="~/Resources/Images/ico_required.png">표시가
                            있는 항목은 반드시 입력해야 합니다
                        </p>
                    <table class="form_tbl">
                        <colgroup>
                            <col style="width: 30%;">
                            <col style="width: *%;">
                        </colgroup>
                        <tbody>
                            <tr class="top">
                                <th>학교명</th>
                                <td> @Html.TextBoxFor(x => x.SchoolName, new { @class = "text wd1", @style = "width:90%;" })</td>
                            </tr>

                            <tr>
                                <th>아이디</th>
                                <td> @Html.TextBoxFor(x => x.LoginId, new { @class = "text wd1", @style = "width:90%;" })</td>

                            </tr>

                            <tr>
                                <th>비밀번호</th>
                                <td> @Html.TextBoxFor(x => x.Password, new { @class = "text wd1", @style = "width:90%;" })</td>

                            </tr>
                            <tr class="top">
                                <th>이름</th>
                                <td> @Html.TextBoxFor(x => x.TeacherName, new { @class = "text wd1", @style = "width:90%;" })</td>
                            </tr>
                            <tr class="top">
                                <th>휴대전화</th>
                                <td>
                                    @Html.TextBoxFor(x => x.telcom, new { @class = "text wd1", @style = "width:25%;" })
                                    @Html.TextBoxFor(x => x.phone1, new { @class = "text wd1", @style = "width:25%;" })
                                    @Html.TextBoxFor(x => x.phone2, new { @class = "text wd1", @style = "width:25%;" })
                                </td>

                            </tr>
                            <tr>
                                <th>권한</th>
                                <td>
                                    <input id="rdo-state-1" class="checkbox-custom" name="radio_state" type="radio" value="1">
                                    <label for="rdo-state-1" class="checkbox-custom-label">학교관리자</label>
                                    <input id="rdo-state-0" class="checkbox-custom" name="radio_state" type="radio" value="0">
                                    <label for="rdo-state-0" class="checkbox-custom-label">일반교사</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn_a right">
                        <a class="btn white" href="List">목록보기</a>
                        <button class="btn blue last" type="button" id="btnAdd">수정하기</button>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
    <!--컨텐츠부분 종료-->
</div>
<!-- container -->
</div>
<!-- wrapper -->
