body.gray_body {
    background: rgb(248, 248, 248);
}

body.blue_body {
    background: #ebf5fc;
}

.mobile {
    display: none;
}

.side_w {
    width: 219px;
    float: left;
}

    .side_w .school {
        width: 219px;
        height: 73px;
        text-align: center;
        vertical-align: middle;
        border-bottom-color: #aaa;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: table-cell;
        display: none;
        background: #fff;
        font-size: 18px;
        color: #333;
    }

        .side_w .school img {
            vertical-align: middle;
        }

    .side_w .user_info {
        background: #78B5D1;
        padding: 12px;
        border-bottom-color: #78B5D1;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        position: relative;
        -ms-zoom: 1;
    }

        .side_w .user_info::after {
            clear: both;
            display: block;
            content: "";
        }

        .side_w .user_info .photo {
            width: 48px;
            height: 48px;
            float: left;
        }

            .side_w .user_info .photo img {
                border-radius: 50em;
                width: 48px;
                height: 48px;
                display: block;
            }

        .side_w .user_info .info {
            padding-left: 60px;
        }

            .side_w .user_info .info .name {
                color: rgb(255, 255, 255);
                font-size: 16px;
                margin-bottom: 10px;
            }

        .side_w .user_info .btns .btn {
            background: rgb(255, 255, 255);
            border: 1px solid #888;
            border-image: none;
            width: 64px;
            height: 22px;
            text-align: center;
            color: #666;
            line-height: 22px;
            float: right;
            display: block;
        }

        .side_w .user_info .btns :first-child.btn {
            float: left;
        }

        .side_w .user_info .btn_new {
            background: url("../images/btn_user_info_new.png") no-repeat;
            top: 15px;
            width: 16px;
            height: 18px;
            right: 13px;
            position: absolute;
        }

            .side_w .user_info .btn_new .cnt {
                background: rgb(232, 101, 25);
                border-radius: 50em;
                border: 1px solid rgb(164, 72, 21);
                border-image: none;
                left: -9px;
                top: -9px;
                width: 17px;
                height: 17px;
                text-align: center;
                color: rgb(255, 255, 255);
                line-height: 17px;
                font-size: 11px;
                font-weight: bold;
                display: block;
                position: absolute;
            }

    .side_w .gnb > ul > li > a {
        background: url("../images/bg_gnb_close.png") no-repeat right 20px center rgb(244, 244, 244);
        height: 59px;
        line-height: 59px;
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
    }

        .side_w .gnb > ul > li > a span {
            color: rgb(102, 102, 102);
            padding-left: 62px;
            font-size: 16px;
            display: block;
        }

    .side_w .gnb > ul > li.base > a span {
        background: url("../images/bg_gnb_base_off.png") no-repeat 18px;
    }

    .side_w .gnb > ul > li.courses > a span {
        background: url("../images/bg_gnb_courses_off.png") no-repeat 19px;
    }

    .side_w .gnb > ul > li.survey > a span {
        background: url("../images/bg_gnb_survey_off.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li.notice > a span {
        background: url("../images/bg_gnb_notice_off.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li.curr > a {
        background: url("../images/bg_gnb_open.png") no-repeat right 20px center rgb(62, 143, 182);
    }

        .side_w .gnb > ul > li.curr > a span {
            color: #fff;
        }

    .side_w .gnb > ul > li.curr.base > a span {
        background: url("../images/bg_gnb_base_on.png") no-repeat 18px;
    }

    .side_w .gnb > ul > li.curr.courses > a span {
        background: url("../images/bg_gnb_courses_on.png") no-repeat 19px;
    }

    .side_w .gnb > ul > li.curr.survey > a span {
        background: url("../images/bg_gnb_survey_on.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li.curr.notice > a span {
        background: url("../images/bg_gnb_notice_on.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li.attend > a span {
        background: url("../images/bg_gnb_attend_off.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li.request > a span {
        background: url("../images/bg_gnb_request_off.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li.curr.attend > a span {
        background: url("../images/bg_gnb_attend_on.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li.curr.request > a span {
        background: url("../images/bg_gnb_request_on.png") no-repeat 20px;
    }

    .side_w .gnb > ul > li > ul {
        display: none;
    }

    .side_w .gnb > ul > li.curr > ul {
        display: block;
    }

    .side_w .gnb > ul > li > ul > li > a {
        background: url("../images/bg_gnb_depth_arrow.png") no-repeat right 20px center;
        padding: 0px 20px;
        height: 50px;
        color: rgb(136, 136, 136);
        line-height: 50px;
        font-size: 14px;
        border-bottom-color: rgb(218, 218, 218);
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        display: block;
    }

    .side_w .gnb > ul > li > ul > li.on > a {
        color: #3E8FB6;
    }

    .side_w .gnb > ul > li > ul > li.in_depth > a {
        border-bottom-color: currentColor;
        border-bottom-width: 0px;
        border-bottom-style: none;
    }

    .side_w .gnb .depth {
        padding-bottom: 10px;
        border-bottom-color: rgb(218, 218, 218);
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }

        .side_w .gnb .depth li {
            padding-left: 25px;
        }

            .side_w .gnb .depth li a {
                height: 25px;
                color: rgb(136, 136, 136);
                line-height: 25px;
                display: block;
            }

            .side_w .gnb .depth li.on a {
                color: #3E8FB6;
            }

    .side_w .footer {
        padding: 20px;
        margin-top: 20px;
    }

        .side_w .footer strong {
            margin-bottom: 10px;
            display: block;
        }

.wrapper {
    width: 100%;
    -ms-zoom: 1;
}

    .wrapper::after {
        clear: both;
        display: block;
        content: "";
    }

.container {
    width: 100%;
    float: left;
    /*width:1030px;*/
}

.head {
    width: 100%;
    height: 73px;
    position: relative;
    background: #f5eff0;
}

    .head .project {
        float: left;
        margin: 25px 0 0 15px;
        color: #3E8FB6;
        font-size: 28px;
        font-weight: normal;
        display: inline-block;
    }

    .head .school {
        float: left;
        margin: 33px 0 0 10px;
        color: #282828;
        font-size: 16px;
        font-weight: normal;
        display: inline-block;
    }

    .head .btn_common_fnc {
        background: url("../images/btn_common_fnc.png") no-repeat;
        top: 12px;
        width: 45px;
        height: 45px;
        right: 20px;
        display: block;
        position: absolute;
    }

.container .page_head {
    background: #3E8FB6;
    padding: 0px 28px 0px 22px;
    height: 74px;
    border-bottom-color: #3E8FB6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -ms-zoom: 1;
}

    .container .page_head::after {
        clear: both;
        display: block;
        content: "";
    }

    .container .page_head .page_info {
        padding: 0px 0px 0px 5px;
        margin-top: 15px;
        float: left;
        height: 45px;
    }

        .container .page_head .page_info .p_title {
            color: rgb(255, 255, 255);
            font-size: 30px;
            font-weight: normal;
            margin: 10px 0 0 0;
        }

        .container .page_head .page_info .info {
            color: rgb(172, 216, 255);
            font-size: 11px;
        }

    .container .page_head .btn_help {
        background: url("../images/ico_page_head_help.png") no-repeat top;
        color: rgb(255, 255, 255);
        padding-top: 38px;
        margin-top: 12px;
        float: right;
        display: block;
    }

.container .contents {
    padding: 20px;
}

.contents .cont_head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-color: rgb(191, 191, 191);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -ms-zoom: 1;
}

    .contents .cont_head::after {
        clear: both;
        display: block;
        content: "";
    }

    .contents .cont_head .title {
        color: rgb(76, 76, 76);
        font-size: 18px;
        font-weight: normal;
        float: left;
    }

.contents .page_tab ul {
    border-bottom-color: #3E8FB6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -ms-zoom: 1;
}

    .contents .page_tab ul::after {
        clear: both;
        display: block;
        content: "";
    }

    .contents .page_tab ul li {
        background: rgb(245, 245, 245);
        border-width: 1px 1px 0px;
        border-style: solid solid none;
        border-color: rgb(195, 195, 195) rgb(195, 195, 195) currentColor;
        border-image: none;
        width: 164px;
        float: left;
    }

        .contents .page_tab ul li a {
            width: 100%;
            height: 48px;
            text-align: center;
            color: rgb(102, 102, 102);
            line-height: 48px;
            font-size: 14px;
            display: block;
        }

        .contents .page_tab ul li.curr {
            background: rgb(255, 255, 255);
            border-width: 1px 1px 0px;
            border-style: solid solid none;
            border-color: #3E8FB6 #3E8FB6 currentColor;
            border-image: none;
        }

            .contents .page_tab ul li.curr a {
                top: 1px;
                color: #3E8FB6;
                border-bottom-color: rgb(255, 255, 255);
                border-bottom-width: 1px;
                border-bottom-style: solid;
                position: relative;
            }

.login_wrapper {
    width: 880px;
    margin: 0 auto;
    display: block;
}

.login_w {
    background: #fff;
    width: 100%;
    margin: 105px 0 0 0;
    overflow: auto;
    font-family: NanumGothic;
    border-top: 1px solid #1c4378;
}

    .login_w .loginleft {
        width: 375px;
        float: left;
    }

        .login_w .loginleft .lefttop {
            width: 100%;
            background: #2160b5;
        }

            .login_w .loginleft .lefttop:after {
                clear: both;
                display: block;
                content: "";
            }

            .login_w .loginleft .lefttop h2 {
                display: inline-block;
                letter-spacing: -0.2px;
                margin: 70px 0 0 50px;
                width: 230px;
                font-family: NanumGothic;
                color: #fff;
                font-size: 30px;
                font-weight: normal;
                line-height: 42px;
            }

            .login_w .loginleft .lefttop h3 {
                display: inline-block;
                letter-spacing: -0.2px;
                margin: 8px 0 65px 50px;
                font-family: NanumGothic;
                color: #fff;
                font-size: 14px;
                width: 255px;
                font-weight: normal;
                line-height: 22px;
            }

        .login_w .loginleft .leftbottom {
            height: 250px;
            background: url("../images/loginkeyboard.jpg")left bottom;
        }

    .login_w .loginright {
        float: left;
        width: 500px;
    }

        .login_w .loginright .loginwrap {
            width: 300px;
            margin: 0 auto;
        }

        .login_w .loginright .schoolwrap {
            display: inline-block;
            width: 100%;
        }

            .login_w .loginright .schoolwrap .typetitle {
                width: 86px;
                height: 80px;
                margin: 30px auto 0;
            }

            .login_w .loginright .schoolwrap .school {
                width: 100%;
                text-align: center;
                display: inline-block;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
            }

                .login_w .loginright .schoolwrap .school > span {
                    margin: 0 auto;
                    display: inline-block;
                    padding: 15px 0;
                    font-size: 20px;
                }

        .login_w .loginright .type {
            overflow: auto;
            margin: 15px 0 0 0;
        }

            .login_w .loginright .type .title {
                float: left;
                position: relative;
                font-size: 14px;
                margin: 15px 20px 0 0;
            }

            .login_w .loginright .type .choice {
                float: left;
                position: relative;
                -ms-zoom: 1;
            }

                .login_w .loginright .type .choice::after {
                    clear: both;
                    display: block;
                    content: "";
                }

                .login_w .loginright .type .choice input[type='radio'] {
                    left: -9999px;
                    top: 0px;
                    position: absolute;
                }

                .login_w .loginright .type .choice label {
                    background: rgb(255, 255, 255);
                    border: 1px solid rgb(159, 159, 159);
                    border-image: none;
                    width: 100px;
                    height: 43px;
                    text-align: center;
                    color: rgb(136, 136, 136);
                    line-height: 43px;
                    font-size: 14px;
                    font-weight: normal;
                    margin-right: 10px;
                    float: left;
                    display: block;
                }

                .login_w .loginright .type .choice input[type='radio']:checked + label {
                    border: 1px solid rgb(28, 89, 164);
                    border-image: none;
                    color: rgb(28, 89, 164);
                }

        .login_w .loginright .input_w {
            padding: 16px 0px 18px;
            border-top-color: rgb(255, 255, 255);
            border-top-width: 1px;
            border-top-style: solid;
            display: none;
            -ms-zoom: 1;
        }

            .login_w .loginright .input_w::after {
                clear: both;
                display: block;
                content: "";
            }

        .login_w .loginright .teacher.input_w {
            display: block;
        }

        .login_w .loginright .input_w .choice_a {
            -ms-zoom: 1;
        }

            .login_w .loginright .input_w .choice_a::after {
                clear: both;
                display: block;
                content: "";
            }

            .login_w .loginright .input_w .choice_a .c_selectbox_normal {
                margin: 0 0 15px 0;
                border: 1px solid rgb(159, 159, 159);
                border-image: none;
                width: 80px;
                margin-right: 5px;
                float: left;
            }

        .login_w .loginright .type .c_selectbox_normal {
            margin: 15px 0 0 0;
            border: 1px solid rgb(159, 159, 159);
            border-image: none;
            width: 80px;
            margin-right: 5px;
            float: left;
        }

        .login_w .loginright .input_w .input_a {
            float: left;
        }

            .login_w .loginright .input_w .input_a .row {
                width: 100%;
                -ms-zoom: 1;
            }

                .login_w .loginright .input_w .input_a .row::after {
                    clear: both;
                    display: block;
                    content: "";
                }

            .login_w .loginright .input_w .input_a :first-child.row {
                margin-bottom: 5px;
            }

            .login_w .loginright .input_w .input_a .title {
                width: 86px;
                height: 45px;
                line-height: 45px;
                float: left;
            }

                .login_w .loginright .input_w .input_a .title img {
                    vertical-align: middle;
                }

            .login_w .loginright .input_w .input_a .input_box {
                background: rgb(255, 255, 255);
                border: 1px solid rgb(159, 159, 159);
                border-image: none;
                width: 298px;
                height: 43px;
                float: right;
            }

                .login_w .loginright .input_w .input_a .input_box input[type='text'] {
                    padding: 0px 18px;
                    border-radius: 15px;
                    border: 0px currentColor;
                    border-image: none;
                    width: calc(100% - 36px);
                    height: 43px;
                    color: rgb(80, 80, 80);
                    line-height: 43px;
                    font-size: 14px;
                }

                .login_w .loginright .input_w .input_a .input_box input[type='password'] {
                    padding: 0px 18px;
                    border-radius: 15px;
                    border: 0px currentColor;
                    border-image: none;
                    width: calc(100% - 36px);
                    height: 43px;
                    color: rgb(80, 80, 80);
                    line-height: 43px;
                    font-size: 14px;
                }

        .login_w .loginright .input_w .btn_login {
            margin: 12px 0 0 0;
            background: rgb(28, 89, 164);
            border: 1px solid rgb(14, 56, 108);
            border-image: none;
            width: 100%;
            height: 60px;
            text-align: center;
            color: rgb(255, 255, 255);
            line-height: 20px;
            font-size: 18px;
        }

        .login_w .loginright .etc {
            padding-left: 0px;
            -ms-zoom: 1;
        }

            .login_w .loginright .etc::after {
                clear: both;
                display: block;
                content: "";
            }

        .login_w .loginright .check {
            padding: 0px 0;
            float: left;
            position: relative;
            -ms-zoom: 1;
        }

        .login_w .loginright .etc .check::after {
            clear: both;
            display: block;
            content: "";
        }

        .login_w .loginright .etc .check input[type='checkbox'] {
            left: -9999px;
            top: 0px;
            position: absolute;
        }

        .login_w .loginright .etc .check label {
            background: url("../images/bg_checkbox_off.png") no-repeat left;
            height: 23px;
            color: rgb(92, 92, 92);
            line-height: 23px;
            padding-left: 32px;
            font-weight: normal;
            margin-right: 15px;
            float: left;
            display: block;
        }

        .login_w .loginright .etc .check input[type='checkbox']:checked + label {
            background: url("../images/bg_checkbox_on.png") no-repeat left;
        }

        .login_w .loginright .etc .link {
            margin: 4px 0 0 0;
            width: 125px;
            text-align: center;
            float: right;
        }

            .login_w .loginright .etc .link a {
                margin: 0px 3px;
                color: rgb(28, 89, 164);
                text-decoration: underline;
                display: inline-block;
            }

.loginbottom {
    overflow: auto;
    width: 860px;
    margin: 0 auto;
    position: relative;
}

    .loginbottom .info > p {
        float: left;
        padding: 17px 0px 14px;
        display: block;
    }

    .loginbottom .copyright {
        margin: 9px 0 0 8px;
    }

    .loginbottom .ie {
        background: url("../images/ico_ie02.gif") no-repeat left;
        top: 20px;
        height: 18px;
        right: 0px;
        color: rgb(21, 107, 160);
        line-height: 18px;
        padding-left: 22px;
        position: absolute;
    }

    .loginbottom .ie {
        background: url("../images/chrome.png") no-repeat left;
        top: 20px;
        height: 18px;
        right: 0px;
        color: rgb(21, 107, 160);
        line-height: 18px;
        padding-left: 22px;
        position: absolute;
    }

.contents .common_list .search_box {
    background: rgb(245, 245, 245);
    padding: 5px;
    border: 1px solid rgb(182, 182, 182);
    border-image: none;
    margin-bottom: 20px;
    -ms-zoom: 1;
    width:100%;
}

    .contents .common_list .search_box::after {
        clear: both;
        display: block;
        content: "";
    }

    .contents .common_list .search_box .group {
        float: left;
        -ms-zoom: 1;
    }

        .contents .common_list .search_box .group::after {
            clear: both;
            display: block;
            content: "";
        }

    .contents .common_list .search_box .c_selectbox_normal {
        width: 158px;
        margin-right: 5px;
        float: left;
    }

    .contents .common_list .search_box .input_box {
        background: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
        width: 416px;
        height: 48px;
        float: left;
    }

        .contents .common_list .search_box .input_box input[type='text'] {
            padding: 0px 10px;
            border: 0px currentColor;
            border-image: none;
            width: calc(100% - 20px);
            height: 48px;
            color: rgb(102, 102, 102);
            line-height: 48px;
            font-size: 14px;
        }

    .contents .common_list .search_box button {
        width: 110px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 50px;
        font-size: 14px;
        margin-left: 5px;
        float: left;
        display: block;
    }

    .contents .common_list .search_box .btn_search {
        background: rgb(88, 88, 88);
        border-image: none;
    }

    .contents .common_list .search_box .btn_all {
        background: #3E8FB6;
        border-image: none;
    }

        .contents .common_list .search_box .btn_all img {
            margin-right: 8px;
        }

    .contents .common_list .search_box .btn_type {
        background: rgb(88, 88, 88);
        border-image: none;
    }

    .contents .common_list .search_box .txt {
        width: 16px;
        height: 50px;
        text-align: center;
        color: rgb(102, 102, 102);
        line-height: 50px;
        font-size: 14px;
        float: left;
        display: block;
    }

.contents .common_list .multi.search_box .row {
    -ms-zoom: 1;
}

    .contents .common_list .multi.search_box .row::after {
        clear: both;
        display: block;
        content: "";
    }

.contents .common_list .multi.search_box :first-child.row {
    margin-bottom: 6px;
}

.contents .common_list .multi.search_box .row .info {
    background: url("../images/bg_whitegray_pattern.gif");
    border: 1px solid rgb(204, 204, 204);
    border-image: none;
    width: 861px;
    height: 48px;
    -ms-zoom: 1;
}

    .contents .common_list .multi.search_box .row .info::after {
        clear: both;
        display: block;
        content: "";
    }

    .contents .common_list .multi.search_box .row .info li {
        background: url("../images/bullet_gray_dot.png") no-repeat left;
        height: 48px;
        color: rgb(102, 102, 102);
        line-height: 48px;
        padding-left: 16px;
        font-size: 14px;
        margin-left: 16px;
        float: left;
    }

        .contents .common_list .multi.search_box .row .info li.mark {
            background: url("../images/bullet_red_dot.png") no-repeat left;
            color: rgb(0, 0, 0);
        }

.contents .common_list .multi.search_box .first {
    width: 208px;
}

.contents .common_list .multi.search_box .second {
    width: 118px;
}

.contents .common_list .multi.search_box .third {
    width: 118px;
}

.contents .common_list .multi.search_box .input_box {
    width: 281px;
}

.contents .common_list .list_info {
    margin-bottom: 20px;
    -ms-zoom: 1;
}

    .contents .common_list .list_info::after {
        clear: both;
        display: block;
        content: "";
    }

    .contents .common_list .list_info .cnt {
        height: 36px;
        color: rgb(56, 56, 57);
        line-height: 36px;
        font-size: 14px;
        float: left;
    }

        .contents .common_list .list_info .cnt em {
            color: #3E8FB6;
            font-size: 14px;
            font-style: normal;
        }

    .contents .common_list .list_info .btns {
        float: right;
    }

        .contents .common_list .list_info .btns .btn {
            padding: 0px 18px;
            height: 32px;
            color: #3E8FB6;
            line-height: 32px;
            display: inline-block;
        }

        .contents .common_list .list_info .btns .output_file.btn {
            margin-right: 3px;
        }

        .contents .common_list .list_info .btns .course_copy.btn {
            margin-right: 3px;
        }

        .contents .common_list .list_info .btns .course_modify.btn {
            margin-right: 3px;
        }

        .contents .common_list .list_info .btns .pay_confirm.btn {
            margin-right: 3px;
        }

        .contents .common_list .list_info .btns .blue.btn {
            background: #f9efef;
            border: 1px solid #3E8FB6;
            border-image: none;
        }

        .contents .common_list .list_info .btns .green.btn {
            background: #3E8FB6;
            border: 1px solid #3E8FB6;
            border-image: none;
            color: #fff;
        }

        .contents .common_list .list_info .btns .yellow.btn {
            background: #f9efef;
            border: 1px solid #3E8FB6;
            border-image: none;
        }

        .contents .common_list .list_info .btns .purple.btn {
            background: #fff;
            border: 1px solid #3E8FB6;
            border-image: none;
        }

.contents .common_list .list_tbl {
    width: 990px;
    table-layout: fixed;
}

    .contents .common_list .list_tbl th {
        background: rgb(247, 247, 247);
        border-width: 1px;
        border-style: solid;
        border-color: #3E8FB6 rgb(195, 195, 195) rgb(195, 195, 195);
        border-image: none;
        height: 50px;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: normal;
        vertical-align: middle;
    }

        .contents .common_list .list_tbl th .row {
            margin-top: 8px;
        }

        .contents .common_list .list_tbl th input {
            background: rgb(255, 255, 255);
            padding: 0px 8px;
            border: 1px solid rgb(204, 204, 204);
            border-image: none;
            width: 44px;
            height: 22px;
            color: rgb(102, 102, 102);
            line-height: 22px;
            font-size: 11px;
        }

        .contents .common_list .list_tbl th .btn_set {
            background: rgb(184, 12, 17);
            border: 1px solid rgb(142, 14, 18);
            border-image: none;
            width: 34px;
            height: 24px;
            text-align: center;
            color: rgb(255, 255, 255);
            line-height: 24px;
            font-size: 11px;
            vertical-align: middle;
            display: inline-block;
        }

    .contents .common_list .list_tbl td {
        height: 50px;
        text-align: center;
        color: rgb(102, 102, 102);
        font-size: 13px;
        vertical-align: middle;
        border-bottom-color: rgb(195, 195, 195);
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

.contents .common_list .line.list_tbl th {
    margin: 0px auto;
}

.contents .common_list .list_tbl td .c_selectbox_gray {
    margin: 0px auto;
}

.contents .common_list .list_tbl td .btns {
    -ms-zoom: 1;
}

    .contents .common_list .list_tbl td .btns::after {
        clear: both;
        display: block;
        content: "";
    }

    .contents .common_list .list_tbl td .btns .btn {
        padding: 0px 8px;
        height: 27px;
        display: inline-block;
    }

    .contents .common_list .list_tbl td .btns :first-child.btn {
        border-right-color: rgb(195, 195, 195);
        border-right-width: 1px;
        border-right-style: dashed;
    }

    .contents .common_list .list_tbl td .btns .btn img {
        top: 1px;
        vertical-align: middle;
        position: relative;
    }

.contents .common_list .list_tbl td .btn_a .btn {
    padding: 0px 23px;
    height: 30px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    display: inline-block;
}

.contents .common_list .list_tbl td .btn_a .darkgray.btn {
    background: rgb(88, 88, 88);
    border: 1px solid rgb(59, 59, 59);
    border-image: none;
}

.contents .common_list .list_tbl td .btn_a .red.btn {
    background: rgb(184, 12, 17);
    border: 1px solid rgb(142, 14, 18);
    border-image: none;
}

.contents .common_list .list_tbl td .btn_a .blue.btn {
    background: rgb(28, 89, 164);
    border: 1px solid rgb(14, 56, 108);
    border-image: none;
}

.contents .common_list .list_tbl td.txt_blue {
    color: rgb(38, 94, 160);
}

.contents .common_list .list_tbl td.txt_red {
    color: rgb(209, 0, 0);
}

.contents .common_list .list_tbl .checkbox {
    margin: 0px auto;
    width: 23px;
    height: 23px;
    position: relative;
}

    .contents .common_list .list_tbl .checkbox input[type='checkbox'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .contents .common_list .list_tbl .checkbox label {
        background: url("../images/bg_checkbox_square_off.gif") no-repeat;
        width: 23px;
        height: 23px;
        display: block;
    }

    .contents .common_list .list_tbl .checkbox input[type='checkbox']:checked + label {
        background: url("../images/bg_checkbox_square_on.gif") no-repeat;
    }

.contents .common_list .line.list_tbl td {
    border: 1px solid rgb(195, 195, 195);
    border-image: none;
}

.contents .common_list .list_footer {
    margin-top: 20px;
    -ms-zoom: 1;
}

    .contents .common_list .list_footer::after {
        clear: both;
        display: block;
        content: "";
    }

    .contents .common_list .list_footer .confirm {
        float: left;
        -ms-zoom: 1;
    }

        .contents .common_list .list_footer .confirm::after {
            clear: both;
            display: block;
            content: "";
        }

        .contents .common_list .list_footer .confirm .c_selectbox_box {
            margin-right: 5px;
            float: left;
        }

        .contents .common_list .list_footer .confirm .btn_confirm {
            border: 1px solid #3E8FB6;
            border-image: none;
            width: 105px;
            height: 32px;
            text-align: center;
            color: #3E8FB6;
            line-height: 32px;
            letter-spacing: -1px;
            margin-right: 4px;
            float: left;
            display: block;
            cursor: pointer;
        }

        .contents .common_list .list_footer .confirm .btn_link {
            background: #3E8FB6;
            border: 1px solid #3E8FB6;
            border-image: none;
            width: 103px;
            height: 30px;
            text-align: center;
            color: rgb(255, 255, 255);
            line-height: 30px;
            letter-spacing: -1px;
            margin-right: 4px;
            float: left;
            display: block;
        }

    .contents .common_list .list_footer .page_nate {
        float: right;
    }

.page_nate {
    text-align: center;
}

    .page_nate a {
        background: rgb(255, 255, 255);
        margin: 0px;
        padding: 0px;
        border: 1px solid rgb(222, 222, 222);
        border-image: none;
        width: 30px;
        height: 30px;
        color: rgb(129, 129, 129);
        line-height: 30px;
        font-size: 12px;
        display: inline-block;
    }

        .page_nate a.curr {
            color: rgb(0, 125, 188);
        }

        .page_nate a.btn_page {
            text-indent: -9999px;
        }

        .page_nate a.first {
            background: url("../images/btn_first_page_nate.gif") no-repeat center;
        }

        .page_nate a.prev {
            background: url("../images/btn_prev_page_nate.gif") no-repeat center;
        }

        .page_nate a.next {
            background: url("../images/btn_next_page_nate.gif") no-repeat center;
        }

        .page_nate a.last {
            background: url("../images/btn_last_page_nate.gif") no-repeat center;
        }

.mg.common_form {
    margin-top: 15px;
}

.common_form .txt_required {
    margin: 25px 0px;
    color: rgb(51, 51, 51);
    padding-left: 6px;
    font-size: 13px;
}

.common_form .short_mg.txt_required {
    margin: 0px 0px 20px;
    color: rgb(51, 51, 51);
    padding-left: 6px;
    font-size: 13px;
}

.common_form .txt_required .ico_required {
    margin-right: 10px;
}

.common_form .txt_summary {
    margin: 25px 0px;
    color: rgb(34, 34, 34);
    padding-left: 6px;
    font-size: 13px;
}

.common_form .tbl_summary {
    margin: 5px 0px 25px;
    color: rgb(34, 34, 34);
    font-size: 13px;
}

.common_form .form_tbl {
    width: 100%;
}

    .common_form .form_tbl th {
        padding: 10px 6px;
        border: 1px solid rgb(195, 195, 195);
        border-image: none;
        font-weight: normal;
        vertical-align: middle;
    }

    .common_form .form_tbl td {
        padding: 10px 6px;
        border: 1px solid rgb(195, 195, 195);
        border-image: none;
        font-weight: normal;
        vertical-align: middle;
    }

    .common_form .form_tbl .top th {
        border-top-color: #3E8FB6;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .common_form .form_tbl .top td {
        border-top-color: #3E8FB6;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .common_form .form_tbl th {
        background: rgb(247, 247, 247);
        padding: 10px 6px 10px 12px;
        text-align: left;
        color: rgb(34, 34, 34);
        font-size: 14px;
    }

        .common_form .form_tbl th.blue {
            color: #3E8FB6;
        }

        .common_form .form_tbl th .ico_required {
            margin-left: 8px;
        }

    .common_form .form_tbl td .txt {
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        font-size: 14px;
    }

    .common_form .form_tbl td .label_txt {
        width: 80px;
        height: 40px;
        color: rgb(34, 34, 34);
        line-height: 40px;
        font-size: 14px;
        margin-right: 20px;
        float: left;
    }

        .common_form .form_tbl td .label_txt img {
            top: -1px;
            margin-left: 5px;
            vertical-align: middle;
            position: relative;
        }

    .common_form .form_tbl td .summary_txt {
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        font-size: 14px;
        float: left;
    }

    .common_form .form_tbl td .row {
        position: relative;
        -ms-zoom: 1;
    }

        .common_form .form_tbl td .row::after {
            clear: both;
            display: block;
            content: "";
        }

    .common_form .form_tbl td .multi.row {
        margin-top: 6px;
    }

    .common_form .form_tbl td .row .r_title {
        width: 82px;
        height: 38px;
        color: rgb(34, 34, 34);
        line-height: 38px;
        font-size: 14px;
        font-weight: normal;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .r_txt {
        height: 38px;
        color: rgb(34, 34, 34);
        line-height: 38px;
        font-size: 16px;
        float: left;
    }

    .common_form .form_tbl td .row .txt {
        height: 38px;
        color: rgb(102, 102, 102);
        line-height: 38px;
        font-size: 13px;
        margin-right: 8px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .input_box {
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
        height: 38px;
        margin-right: 6px;
        float: left;
    }

        .common_form .form_tbl td .row .input_box input[type='text'] {
            padding: 0px 8px;
            border: 0px currentColor;
            border-image: none;
            width: calc(100% - 16px);
            height: 38px;
            color: rgb(102, 102, 102);
            line-height: 38px;
            font-size: 13px;
        }

        .common_form .form_tbl td .row .input_box input[type='password'] {
            padding: 0px 8px;
            border: 0px currentColor;
            border-image: none;
            width: calc(100% - 16px);
            height: 38px;
            color: rgb(102, 102, 102);
            line-height: 38px;
            font-size: 13px;
        }

    .common_form .form_tbl td .row .date.input_box input[type='text'] {
        width: calc(100% - 16px - 36px);
    }

    .common_form .form_tbl td .row .input_box input[type='number'] {
        padding: 0px 8px;
        border: 0px currentColor;
        border-image: none;
        width: calc(100% - 16px);
        height: 38px;
        color: rgb(102, 102, 102);
        line-height: 38px;
        font-size: 13px;
    }

    .common_form .form_tbl td .row .date.input_box img {
        top: -1px;
        vertical-align: middle;
        position: relative;
    }

    .common_form .form_tbl td .row .txt_caution {
        height: 40px;
        color: rgb(209, 0, 0);
        line-height: 40px;
        font-size: 13px;
        float: left;
    }

    .common_form .form_tbl td .row .two.txt_caution {
        line-height: 20px;
    }

    .common_form .form_tbl td .row .txt_guide {
        height: auto;
        color: rgb(102, 102, 102);
        line-height: 18px;
        padding-top: 10px;
        clear: both;
    }

        .common_form .form_tbl td .row .txt_guide .mark {
            color: rgb(28, 89, 164);
        }

    .common_form .form_tbl td .row .btn_check {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 80px;
        height: 40px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 40px;
        font-size: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .c_selectbox_normal {
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
        height: 38px;
        margin-right: 6px;
        float: left;
    }

        .common_form .form_tbl td .row .c_selectbox_normal label {
            top: 13px;
        }

        .common_form .form_tbl td .row .c_selectbox_normal select {
            height: 38px;
            line-height: 38px;
            min-height: 38px;
        }

    .common_form .form_tbl td .row .btn_item_add {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 80px;
        height: 40px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 38px;
        font-size: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .items {
        margin-bottom: 15px;
        -ms-zoom: 1;
    }

        .common_form .form_tbl td .row .items::after {
            clear: both;
            display: block;
            content: "";
        }

        .common_form .form_tbl td .row .items li {
            padding: 0px 5px;
            height: 23px;
            color: rgb(102, 102, 102);
            line-height: 23px;
            font-size: 14px;
            margin-right: 14px;
            float: left;
            -ms-zoom: 1;
        }

            .common_form .form_tbl td .row .items li::after {
                clear: both;
                display: block;
                content: "";
            }

            .common_form .form_tbl td .row .items li .btn_item_delete {
                background: url("../images/btn_item_delete.gif") no-repeat;
                top: -1px;
                width: 23px;
                height: 23px;
                margin-left: 12px;
                vertical-align: middle;
                display: inline-block;
                position: relative;
            }

    .common_form .form_tbl td .check.row .c_selectbox_normal label {
        background: none;
        margin: 0px;
        padding: 0px;
        height: auto;
        color: rgb(102, 102, 102);
        line-height: inherit;
        font-size: 14px;
        float: none;
    }

    .common_form .form_tbl td .choice.row input[type='radio'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .common_form .form_tbl td .choice.row label {
        background: url("../images/bg_radio_off.png") no-repeat left;
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        padding-left: 25px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .choice.row input[type='radio']:checked + label {
        background: url("../images/bg_radio_on.png") no-repeat left;
    }

    .common_form .form_tbl td .check.row input[type='checkbox'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .common_form .form_tbl td .check.row label {
        background: url("../images/bg_checkbox_square_off.gif") no-repeat left;
        height: 40px;
        color: rgb(102, 102, 102);
        line-height: 40px;
        padding-left: 32px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 13px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .check.row input[type='checkbox']:checked + label {
        background: url("../images/bg_checkbox_square_on.gif") no-repeat left;
    }

    .common_form .form_tbl td .file.row input[type='file'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .common_form .form_tbl td .file.row .btn_file {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 80px;
        height: 38px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 38px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 6px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .btn_fnc {
        background: rgb(115, 115, 115);
        border: 1px solid rgb(70, 70, 70);
        border-image: none;
        width: 25%;
        height: 40px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 40px;
        font-size: 13px;
        font-weight: normal;
        margin-right: 6px;
        float: left;
        display: block;
    }

    .common_form .form_tbl td .row .btn_delete {
        background: url("../images/btn_form_row_delete.gif") no-repeat;
        width: 33px;
        height: 40px;
        display: block;
    }

    .common_form .form_tbl td .row .btn_add {
        background: url("../images/btn_form_row_add.gif") no-repeat;
        width: 33px;
        height: 40px;
        display: block;
    }

    .common_form .form_tbl td .summary_list li {
        margin: 7px 0px;
        color: rgb(102, 102, 102);
        line-height: 14px;
        font-size: 13px;
    }

        .common_form .form_tbl td .summary_list li .mark {
            color: rgb(209, 0, 0);
            font-size: 13px;
        }

    .common_form .form_tbl td .textarea_box {
        border: 1px solid rgb(204, 204, 204);
        border-image: none;
    }

        .common_form .form_tbl td .textarea_box textarea {
            padding: 10px;
            border: 0px currentColor;
            border-image: none;
            width: calc(100% - 20px);
            height: 190px;
            font-size: 13px;
            resize: none;
        }

.common_form .right.btn_a {
    text-align: right;
    margin-top: 10px;
}

.common_form .btn_a button {
    top: -1px;
    position: relative;
}

.common_form .btn_a .btn {
    width: 183px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 16px;
    margin-left: 8px;
    display: inline-block;
    box-sizing: border-box;
}

.common_form .btn_a .white.btn {
    border: 1px solid #3E8FB6;
    border-image: none;
    color: #3E8FB6;
}

.common_form .btn_a .blue.btn {
    background: #3E8FB6;
    border: 1px solid #3E8FB6;
    border-image: none;
    color: rgb(255, 255, 255);
}

.common_form .btn_a .green.btn {
    background: rgb(28, 153, 164);
    border: 1px solid rgb(16, 105, 121);
    border-image: none;
    color: rgb(255, 255, 255);
}

.cont_wait .summary {
    background: url("../images/bg_cont_wait.gif") no-repeat center 135px;
    padding: 326px 0px 0px;
    text-align: center;
}

    .cont_wait .summary .txt_big {
        color: rgb(51, 51, 51);
        font-size: 35px;
    }

    .cont_wait .summary .txt_small {
        color: rgb(112, 112, 112);
        font-size: 14px;
        margin-top: 18px;
    }

    .cont_wait .summary .btn_prev_page {
        border-radius: 15px;
        border: 1px solid rgb(28, 89, 164);
        border-image: none;
        width: 137px;
        height: 43px;
        text-align: center;
        color: rgb(28, 89, 164);
        line-height: 43px;
        font-size: 14px;
        margin-top: 30px;
        display: inline-block;
    }

.teacher_manage .common_list .list_tbl {
    width: 990px;
}

.teacher_manage .page_caution {
    background: url("../images/bg_lightgray_pattern.gif");
    border-width: 1px;
    border-style: solid;
    border-color: #3E8FB6 rgb(216, 216, 216) rgb(216, 216, 216);
    padding: 20px;
    border-image: none;
    margin-top: 30px;
}

    .teacher_manage .page_caution li {
        background: url("../images/bullet_blue_square.gif") no-repeat left;
        color: rgb(88, 88, 88);
        padding-left: 10px;
        margin-top: 12px;
    }

        .teacher_manage .page_caution li:first-child {
            margin-top: 0px;
        }

        .teacher_manage .page_caution li .mark {
            color: rgb(224, 32, 38);
        }

.student_manage .common_list .list_tbl {
    width:100%;
}

.student_manage .page_caution {
    background: url("../images/bg_lightgray_pattern.gif");
    border-width: 1px;
    border-style: solid;
    border-color: #3E8FB6 rgb(216, 216, 216) rgb(216, 216, 216);
    padding: 20px;
    border-image: none;
    margin-top: 30px;
}

    .student_manage .page_caution li {
        background: url("../images/bullet_blue_square.gif") no-repeat left;
        color: rgb(88, 88, 88);
        padding-left: 10px;
        margin-top: 12px;
    }

        .student_manage .page_caution li:first-child {
            margin-top: 0px;
        }

        .student_manage .page_caution li .mark {
            color: rgb(224, 32, 38);
        }

.course_manage.contents .common_list .multi.search_box .first {
    width: 158px;
}

.course_manage.contents .common_list .multi.search_box .second {
    width: 118px;
}

.course_manage.contents .common_list .multi.search_box .third {
    width: 88px;
}

.course_manage.contents .common_list .multi.search_box .fourth {
    width: 88px;
}

.course_manage.contents .common_list .multi.search_box .input_box {
    width: 266px;
}

.course_manage.contents .common_list .multi.search_box .row .info {
    width: 976px;
}

.course_manage.contents .common_list .course.multi.search_box .first {
    width: 208px;
}

.course_manage.contents .common_list .course.multi.search_box .third {
    width: 118px;
}

.course_manage.contents .common_list .course.multi.search_box .input_box {
    width: 281px;
}

.course_manage.contents .common_list .course.multi.search_box .row .info {
    width: 861px;
}

.course_manage.contents .common_list .multi.search_box .short.first {
    width: 88px;
}

.course_manage.contents .common_list .multi.search_box .long.second {
    width: 188px;
}

.course_manage .common_list .list_tbl {
    width: 100%;
}

.course_manage .page_caution {
    background: url("../images/bg_lightgray_pattern.gif");
    border-width: 1px;
    border-style: solid;
    border-color: #3E8FB6 rgb(216, 216, 216) rgb(216, 216, 216);
    padding: 20px;
    border-image: none;
    margin-top: 30px;
}

    .course_manage .page_caution li {
        background: url("../images/bullet_blue_square.gif") no-repeat left;
        color: rgb(88, 88, 88);
        padding-left: 10px;
        margin-top: 12px;
    }

        .course_manage .page_caution li:first-child {
            margin-top: 0px;
        }

        .course_manage .page_caution li .mark {
            color: rgb(224, 32, 38);
        }

.free_tuition_manage.contents .search_box .c_selectbox_normal {
    width: 115px;
}

.free_tuition_manage.contents .search_box .short.c_selectbox_normal {
    width: 80px;
}

.free_tuition_manage.contents .search_box .input_box {
    width: 205px;
}

.free_tuition_manage .common_list .list_tbl {
    width: 990px;
}

.free_tuition_manage .page_caution {
    background: url("../images/bg_lightgray_pattern.gif");
    border-width: 1px;
    border-style: solid;
    border-color: rgb(38, 94, 160) rgb(216, 216, 216) rgb(216, 216, 216);
    padding: 20px;
    border-image: none;
    margin-top: 30px;
}

    .free_tuition_manage .page_caution li {
        background: url("../images/bullet_blue_square.gif") no-repeat left;
        color: rgb(88, 88, 88);
        padding-left: 10px;
        margin-top: 12px;
    }

        .free_tuition_manage .page_caution li:first-child {
            margin-top: 0px;
        }

        .free_tuition_manage .page_caution li .mark {
            color: rgb(224, 32, 38);
        }

.free_tuition_manage .items .item {
    float: left;
}

    .free_tuition_manage .items .item .input_box {
        margin-right: 4px;
    }

    .free_tuition_manage .items .item .btn_delete {
        margin-right: 12px;
    }

.base_setting .mg_left {
    margin-left: 90px;
}

.base_setting .items .item {
    float: left;
}

    .base_setting .items .item .input_box {
        margin-right: 4px;
    }

    .base_setting .items .item .btn_delete {
        margin-right: 12px;
    }

.base_reset .page_caution {
    background: url("../images/bg_lightgray_pattern.gif");
    border-width: 1px;
    border-style: solid;
    border-color: rgb(38, 94, 160) rgb(216, 216, 216) rgb(216, 216, 216);
    padding: 20px;
    border-image: none;
    margin-top: 30px;
}

    .base_reset .page_caution li {
        background: url("../images/bullet_blue_square.gif") no-repeat left;
        color: rgb(88, 88, 88);
        padding-left: 10px;
        margin-top: 12px;
    }

        .base_reset .page_caution li:first-child {
            margin-top: 0px;
        }

        .base_reset .page_caution li .mark {
            color: rgb(224, 32, 38);
        }

.base_reset .btn_blue {
    border: 1px solid rgb(35, 87, 149);
    border-image: none;
    width: 106px;
    height: 40px;
    text-align: center;
    color: rgb(38, 94, 160);
    line-height: 40px;
    font-size: 13px;
    float: left;
    display: block;
}

    .base_reset .btn_blue .ico {
        top: -1px;
        margin-right: 5px;
        vertical-align: middle;
        position: relative;
    }

.base_reset .delete.btn_blue {
    margin-right: 5px;
}

.base_reset .backup.btn_blue {
    margin-right: 10px;
}

.base_reset .reset.btn_blue {
    margin-right: 10px;
}

.attended_manage .common_list .search_box :first-child.row .c_selectbox_normal {
    width: 24.2%;
}

.attended_manage .common_list .search_box .checkbox {
    margin: 0px 15px;
    height: 50px;
    float: left;
    position: relative;
}

    .attended_manage .common_list .search_box .checkbox input[type='checkbox'] {
        left: -9999px;
        top: 0px;
        position: absolute;
    }

    .attended_manage .common_list .search_box .checkbox label {
        background: url("../images/bg_checkbox_square_off.gif") no-repeat left;
        height: 50px;
        color: rgb(102, 102, 102);
        line-height: 50px;
        padding-left: 30px;
        font-size: 14px;
        font-weight: normal;
        display: block;
    }

    .attended_manage .common_list .search_box .checkbox input[type='checkbox']:checked + label {
        background: url("../images/bg_checkbox_square_on.gif") no-repeat left;
    }

.attended_manage .common_list .search_box .name.input_box {
    width: 583px;
}

.attended_manage .common_list .search_box .date.input_box {
    width: 160px;
}

    .attended_manage .common_list .search_box .date.input_box input[type='text'] {
        width: calc(100% - 20px - 38px);
    }

    .attended_manage .common_list .search_box .date.input_box img {
        top: -1px;
        vertical-align: middle;
        position: relative;
    }

.attended_manage .common_list .list_tbl {
    width: 990px;
}

.attended_manage .page_caution {
    background: url("../images/bg_lightgray_pattern.gif");
    border-width: 1px;
    border-style: solid;
    border-color: rgb(38, 94, 160) rgb(216, 216, 216) rgb(216, 216, 216);
    padding: 20px;
    border-image: none;
    margin-top: 30px;
}

    .attended_manage .page_caution li {
        background: url("../images/bullet_blue_square.gif") no-repeat left;
        color: rgb(88, 88, 88);
        padding-left: 10px;
        margin-top: 12px;
    }

        .attended_manage .page_caution li:first-child {
            margin-top: 0px;
        }

        .attended_manage .page_caution li .mark {
            color: rgb(224, 32, 38);
        }

.time_manage .common_list .list_tbl {
    width: 990px;
}

.time_manage .common_list .search_box .date.input_box {
    width: 161px;
}

    .time_manage .common_list .search_box .date.input_box input[type='text'] {
        width: calc(100% - 20px - 36px);
    }

    .time_manage .common_list .search_box .date.input_box img {
        top: -1px;
        vertical-align: middle;
        position: relative;
    }

.calculate_manage .common_list .list_tbl {
    width: 990px;
}

    .calculate_manage .common_list .list_tbl th {
        height: 30px;
    }

.calculate_manage .common_list .search_box .date.input_box {
    width: 161px;
}

    .calculate_manage .common_list .search_box .date.input_box input[type='text'] {
        width: calc(100% - 20px - 36px);
    }

    .calculate_manage .common_list .search_box .date.input_box img {
        top: -1px;
        vertical-align: middle;
        position: relative;
    }

@media all and (max-width:641px) {
    .pc {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .wrapper {
        width: 100%;
    }

    .dim {
        background: rgba(0, 0, 0, 0.8);
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 900;
    }

    .btn_sidebox_close {
        background: url("../images/btn_sidenav_close.png") no-repeat 0% 0% / 21px;
        top: 23px;
        width: 21px;
        height: 21px;
        right: -6%;
        position: fixed;
        z-index: 1150;
    }

    .side_w {
        background: rgb(255, 255, 255);
        left: -61%;
        top: 0px;
        width: 60%;
        height: 100%;
        border-right-color: rgb(221, 221, 221);
        border-right-width: 1px;
        border-right-style: solid;
        float: none;
        position: fixed;
        z-index: 1000;
    }

        .side_w .school {
            width: 100%;
            height: 56px;
        }

            .side_w .school img {
                width: 60%;
            }

        .side_w .gnb {
            height: calc(100% - 160px - 105px);
            overflow-y: auto;
        }

        .side_w .user_info .photo {
            display: none;
        }

        .side_w .user_info .info {
            padding-left: 0px;
        }

    .container {
        width: 100%;
        float: none;
    }

    .head {
        width: 100%;
        height: 56px;
        line-height: 56px;
    }

        .head .btn_side_view {
            background: url("../images/btn_side_view.png") no-repeat 0% 0% / 30px;
            left: 20px;
            top: 12px;
            width: 30px;
            height: 30px;
            text-indent: -9999px;
            display: block;
            position: absolute;
        }

        .head .project {
            background: none;
            font-size: 14px;
            margin: 0px 0 0 60px;
        }

        .head .school {
            display: none;
        }

        .head .btn_common_fnc {
            width: 30px;
            height: 30px;
            background-size: 30px;
        }

    .container .page_head {
        padding: 0px 22px;
        height: 62px;
    }

        .container .page_head .page_info {
            background: none;
            padding: 0px;
        }

            .container .page_head .page_info .p_title {
                font-size: 20px;
            }

        .container .page_head .btn_help {
            padding-top: 26px;
            font-size: 11px;
            background-size: 22px;
        }

    .contents .cont_head {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .contents .page_tab ul li {
        width: 40%;
    }

        .contents .page_tab ul li a {
            height: 35px;
            line-height: 35px;
        }

    .login_w {
        width: 100%;
        height: auto;
    }

    .login_wrapper {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .login_w {
        overflow: none;
        margin: 0;
    }

        .login_w .loginleft .leftbottom {
            display: none;
        }

        .login_w .loginleft {
            width: 100%;
        }

        .login_w .loginright {
            width: 100%;
        }

        .login_w .loginleft .lefttop h2 {
            width: 90%;
            padding-top: 20px;
            font-size: 24px;
            margin: 0 auto;
            display: block;
        }

        .login_w .loginleft .lefttop h3 {
            width: 90%;
            font-size: 14px;
            margin: 0 auto;
            display: block;
            padding: 0 0 20px;
        }

    .loginbottom {
        width: 90%;
        overflow: hidden;
    }

        .loginbottom .info {
            width: 100%;
            margin: 5px 0 0 0;
        }

        .loginbottom .ie {
            display: none;
        }

    .login_w .loginright .loginwrap {
        width: 80%;
    }

    .login_w .loginright .type {
        height: auto;
        border-bottom-color: rgb(212, 212, 212);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        -ms-zoom: 1;
    }

        .login_w .loginright .type .title {
            display: none;
        }

        .login_w .loginright .type .choice {
            padding: 10px 0px;
            float: none;
            position: relative;
            -ms-zoom: 1;
        }

            .login_w .loginright .type .choice::after {
                clear: both;
                display: block;
                content: "";
            }

            .login_w .loginright .type .choice input[type='radio'] {
                left: -9999px;
                top: 0px;
                position: absolute;
            }

            .login_w .loginright .type .choice label {
                border-radius: 0px;
                width: calc(49% - 2px);
                height: 41px;
                line-height: 41px;
                margin-right: 0px;
                margin-left: 2%;
                display: block;
            }

                .login_w .loginright .type .choice label:nth-child(2) {
                    margin-left: 0px;
                }

            .login_w .loginright .type .choice input[type='radio']:checked + label {
                border: 1px solid rgb(28, 89, 164);
                border-image: none;
                color: rgb(28, 89, 164);
            }

    .login_w .loginright .input_w .choice_a {
        padding: 0px 0px 6px;
    }

        .login_w .loginright .input_w .choice_a .c_selectbox_normal {
            border-radius: 0px;
        }

    .login_w .loginright .input_w {
        padding: 10px 0px;
        border-top-color: rgb(255, 255, 255);
        border-top-width: 1px;
        border-top-style: solid;
        -ms-zoom: 1;
    }

        .login_w .loginright .input_w::after {
            clear: both;
            display: block;
            content: "";
        }

        .login_w .loginright .input_w .input_a {
            float: none;
        }

            .login_w .loginright .input_w .input_a .row {
                width: 100%;
            }

            .login_w .loginright .input_w .input_a :first-child.row {
                margin-bottom: 5px;
            }

            .login_w .loginright .input_w .input_a .title {
                float: none;
                display: none;
            }

            .login_w .loginright .input_w .input_a .input_box {
                border-radius: 0px;
                border: 1px solid rgb(159, 159, 159);
                border-image: none;
                width: calc(100% - 2px);
                height: 43px;
                float: none;
            }

                .login_w .loginright .input_w .input_a .input_box input[type='text'] {
                    padding: 0px 10px;
                    border-radius: 0px;
                    width: calc(100% - 20px);
                }

                .login_w .loginright .input_w .input_a .input_box input[type='password'] {
                    padding: 0px 10px;
                    border-radius: 0px;
                    width: calc(100% - 20px);
                }

        .login_w .loginright .input_w .btn_login {
            border-radius: 0px;
            width: 100%;
            height: 42px;
            line-height: 42px;
            font-size: 14px;
            margin-top: 10px;
            float: none;
        }

    .login_w .loginright .etc {
        padding-bottom: 10px;
        padding-left: 0px;
    }

        .login_w .loginright .etc .check {
            float: none;
        }

            .login_w .loginright .etc .check label {
                background: url("../images/bg_checkbox_mlogin_off.png") no-repeat left / 23px;
                font-size: 13px;
                float: left;
                display: block;
            }

            .login_w .loginright .etc .check input[type='checkbox']:checked + label {
                background: url("../images/bg_checkbox_mlogin_on.png") no-repeat left / 23px;
            }

        .login_w .loginright .etc .link {
            float: none;
            display: none;
        }

    .contents .common_list .search_box {
        margin-bottom: 10px;
    }

        .contents .common_list .search_box .group {
            float: none;
        }

        .contents .common_list .search_box .back.group {
            margin-top: 5px;
        }

        .contents .common_list .search_box .group .c_selectbox_normal {
            width: 47.5%;
        }

        .contents .common_list .search_box .group .input_box {
            width: 50%;
        }

        .contents .common_list .search_box .group button {
            width: 22%;
            margin-left: 5px;
        }

            .contents .common_list .search_box .group button.btn_type {
                background: rgb(88, 88, 88);
                border-image: none;
                width: 96.5%;
                margin-top: 6px;
                display: block;
            }

    .contents .common_list .multi.search_box .row .info {
        padding: 8px 0px;
        width: 97.5%;
        height: auto;
    }

        .contents .common_list .multi.search_box .row .info li {
            height: 28px;
            line-height: 28px;
            padding-left: 12px;
            font-size: 13px;
            margin-left: 10px;
            float: none;
        }

    .contents .common_list .multi.search_box .first {
        width: 97.2%;
        margin-bottom: 4px;
    }

    .contents .common_list .multi.search_box .second {
        width: 47.5%;
    }

    .contents .common_list .multi.search_box .third {
        width: 47.5%;
    }

    .contents .common_list .list_info {
        margin-bottom: 10px;
    }

    .contents .common_list .list_w {
        width: 100%;
        -ms-overflow-x: auto;
    }

    .contents .common_list .list_footer {
        margin-top: 10px;
    }

        .contents .common_list .list_footer .confirm {
            width: 100%;
            float: none;
        }

            .contents .common_list .list_footer .confirm .btn_confirm {
                width: calc(100% - 160px - 10px);
            }

            .contents .common_list .list_footer .confirm .btn_link {
                width: 48%;
                margin-top: 6px;
            }

        .contents .common_list .list_footer .page_nate {
            width: 100%;
            margin-top: 10px;
            float: none;
        }

    .common_form .txt_required {
        margin: 12px 0px;
    }

    .common_form .txt_summary {
        margin: 12px 0px;
    }

    .common_form .form_tbl th {
        padding: 6px;
    }

    .common_form .form_tbl td {
        padding: 6px;
    }

        .common_form .form_tbl td .multi.row {
            margin-top: 0px;
        }

        .common_form .form_tbl td .row .txt_caution {
            height: auto;
            line-height: 18px;
            padding-top: 8px;
            clear: both;
            float: none;
        }

        .common_form .form_tbl td .four.row .first {
            width: 30%;
        }

        .common_form .form_tbl td .four.row .second {
            width: 30%;
        }

        .common_form .form_tbl td .four.row .third {
            width: 30%;
        }

        .common_form .form_tbl td .four.row .fourth {
            width: 60%;
        }

        .common_form .form_tbl td .row .btn_fnc {
            width: 47%;
            font-size: 11px;
        }

        .common_form .form_tbl td .label_txt {
            width: 100%;
            float: none;
        }

    .common_form .right.btn_a {
        text-align: center;
    }

    .common_form .btn_a .btn {
        margin: 0px 1%;
        width: 48%;
        height: 40px;
        line-height: 40px;
    }

    .common_form .btn_a .last.btn {
        margin-left: 0px;
    }

    .cont_wait .summary {
        background: url("../images/bg_cont_wait.gif") no-repeat center 35px;
        padding: 226px 0px 0px;
    }

        .cont_wait .summary .txt_big {
            font-size: 26px;
        }

        .cont_wait .summary .txt_small {
            font-size: 14px;
            margin-top: 18px;
        }

    .teacher_manage .page_caution {
        padding: 15px;
        margin-top: 15px;
    }

        .teacher_manage .page_caution li {
            background: url("../images/bullet_blue_square.gif") no-repeat left 8px;
            line-height: 16px;
        }

    .course_manage.contents .common_list .multi.search_box .first {
        width: 47.5%;
    }

    .course_manage.contents .common_list .multi.search_box .second {
        width: 47.5%;
    }

    .course_manage.contents .common_list .multi.search_box .third {
        width: 47.5%;
    }

    .course_manage.contents .common_list .multi.search_box .fourth {
        width: 47.5%;
    }

    .course_manage.contents .common_list .multi.search_box .input_box {
        width: 50%;
    }

    .course_manage.contents .common_list .multi.search_box .row .info {
        width: 97.5%;
    }

    .course_manage .page_caution {
        padding: 15px;
        margin-top: 15px;
    }

        .course_manage .page_caution li {
            background: url("../images/bullet_blue_square.gif") no-repeat left 8px;
            line-height: 16px;
        }

    .base_setting .mg_left {
        margin-left: 0px;
    }

    .base_setting .form_tbl td .summary_txt {
        height: auto;
        line-height: 18px;
    }

    .base_reset .btn_blue {
        margin: 0px;
        width: 100%;
        clear: both;
    }

    .base_reset .delete.btn_blue {
        margin: 5px 0px;
    }

    .base_reset .page_caution li {
        background: url("../images/bullet_blue_square.gif") no-repeat left 7px;
        line-height: 18px;
    }

    .attended_manage .common_list .multi.search_box :first-child.row {
        margin-bottom: 0px;
    }

    .attended_manage .common_list .search_box :first-child.row .c_selectbox_normal {
        width: 47.7%;
        margin-bottom: 5px;
    }

    .attended_manage .common_list .search_box .name.input_box {
        width: 98%;
        margin-bottom: 6px;
    }

    .attended_manage .common_list .search_box .date.input_box {
        width: 180px;
    }

    .attended_manage .common_list .search_box .btn_search {
        top: 3px;
        width: 98%;
        clear: both;
        margin-top: 6px;
        float: none;
        position: relative;
    }

    .time_manage .common_list .search_box .c_selectbox_normal {
        width: 47.5%;
        margin-bottom: 5px;
    }

    .time_manage .common_list .search_box .clear {
        clear: both;
    }

    .time_manage .common_list .search_box .date.input_box {
        width: 46.5%;
    }

    .time_manage .common_list .search_box .btn_search {
        top: 3px;
        width: 98%;
        clear: both;
        margin-top: 6px;
        float: none;
        position: relative;
    }

    .calculate_manage .common_list .search_box .c_selectbox_normal {
        width: 47.5%;
        margin-bottom: 5px;
    }

    .calculate_manage .common_list .search_box .clear {
        clear: both;
    }

    .calculate_manage .common_list .search_box .date.input_box {
        width: 46.5%;
    }

    .calculate_manage .common_list .search_box .btn_search {
        top: 3px;
        width: 98%;
        clear: both;
        margin-top: 6px;
        float: none;
        position: relative;
    }
}

#ui-datepicker-div {
    display: none;
}

.screen_out {
    left: -9999px;
    width: 1px;
    height: 1px;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0px;
    display: block;
    position: absolute;
}

.loading_img {
    padding: 10px 0px;
    text-align: center;
    opacity: 0.3;
}

.border_none {
    border: currentColor !important;
    border-image: none !important;
}

.bg_none {
    background: none !important;
}

.no_shadow {
    box-shadow: none !important;
}

.c_selectbox_box {
    background: url("../images/bg_selectbox_box.gif") no-repeat right rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    border-image: none;
    height: 30px;
    position: relative;
}

    .c_selectbox_box label {
        left: 12px;
        top: 9px;
        color: rgb(102, 102, 102);
        letter-spacing: -1px;
        font-size: 13px;
        font-weight: normal;
        position: absolute;
    }

    .c_selectbox_box select {
        padding: 0px 10px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        min-height: 30px;
        opacity: 0;
    }

.c_selectbox_normal {
    background: url("../images/bg_selectbox_normal.gif") no-repeat right rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    border-image: none;
    height: 48px;
    position: relative;
}

    .c_selectbox_normal label {
        left: 12px;
        top: 17px;
        color: rgb(102, 102, 102);
        letter-spacing: -1px;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
    }

    .c_selectbox_normal select {
        padding: 0px 10px;
        width: 100%;
        height: 48px;
        line-height: 48px;
        min-height: 48px;
        opacity: 0;
    }

.c_selectbox_gray {
    background: url("../images/bg_selectbox_gray_box.gif") no-repeat right;
    border: 1px solid #ccc;
    border-image: none;
    height: 30px;
    position: relative;
}

.red.c_selectbox_gray {
    background: url("../images/bg_selectbox_gray_box.gif") no-repeat right #f0dede;
}

.c_selectbox_gray label {
    left: 12px;
    top: 9px;
    color: #666;
    letter-spacing: -1px;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
}

.c_selectbox_gray select {
    padding: 0px 10px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    min-height: 30px;
    opacity: 0;
}

@media only screen and (max-width:900px) {
    .xdsoft_datetimepicker {
        left: 0 !important;
    }

    /*.list_footer .confirm button {
        margin-top: 3px;
    }*/
}




.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #bbb;
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    /*padding: 2px;*/
    margin-right: 3px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\221A";
    font-family: 'FontAwesome';
    /*background: rebeccapurple;*/
    color: #FF5722;
    border: 2px solid #ff6a00;
    font-size: 19px !important;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\221A";
    font-family: 'FontAwesome';
    color: #ff6a00;
    font-weight: bold;
    border: 2px solid #ff6a00;
    font-size: 10px;
    line-height:18px;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
}

.imgbtn_add {
    background: url("../images/btn_form_row_add.gif") no-repeat;
    width: 33px;
    height: 40px;
    display: block;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 200; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color:#fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right:20px;
    line-height:50px;

}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.p_title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: normal;
    padding:20px;

}

.input_box {
    border: 1px solid rgb(204, 204, 204);
    border-image: none;
    height: 38px;
    margin-right: 6px;
    float: left;
}
input[type='number'] {
    padding: 0px 8px;
    border: 0px currentColor;
    border-image: none;
    width: calc(100% - 16px);
    height: 38px;
    color: rgb(102, 102, 102);
    line-height: 38px;
    font-size: 13px;
}
input[type='text'] {
    padding: 0px 8px;
    border: 1px solid rgb(189, 187, 187);
    border-image: none;
    width: calc(100% - 16px);
    height: 38px;
    color: rgb(102, 102, 102);
    line-height: 38px;
    font-size: 13px;
}


select {
    height: 38px;
    line-height: 38px;
    min-height: 38px;
    width: calc(100% - 16px);
}

.blue.btn {
    background: rgb(28, 89, 164);
    border: 1px solid ;
    border-image: none;
}




/* page */
.pageTy1 .icon {
    width: 31px;
    height: 31px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background: url("../images/page.png") 0 0 no-repeat;
    text-indent: -9999px;
}

.pageTy1 {
    vertical-align: top;
    text-align: center;
    margin: 30px 0;
}

    .pageTy1 a {
        display: inline-block;
        width: 31px;
        height: 31px;
        line-height: 31px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: top;
        font-size: 15px;
        color: #666;
    }

    .pageTy1 .num {
        display: inline-block;
        margin: 0 15px;
        vertical-align: top;
    }

        .pageTy1 .num a {
            position: relative;
            margin: 0;
            width: 37px;
        }

            .pageTy1 .num a:before {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                display: inline-block;
                width: 1px;
                height: 11px;
                background-color: #c3c3c3;
            }

            .pageTy1 .num a:first-child:before {
                display: none;
            }

            .pageTy1 .num a:hover, .pageTy1 .num a:focus {
                color: #e86917;
            }

            .pageTy1 .num a.active {
                color: #e86917;
            }

    .pageTy1 .first .icon {
        background-position: 0 0;
    }

    .pageTy1 .prev .icon {
        background-position: -37px 0;
    }

    .pageTy1 .next .icon {
        background-position: -72px 0;
    }

    .pageTy1 .last .icon {
        background-position: -109px 0;
    }

    .pageTy1 a.first:hover .icon {
        background-position: 0 -34px;
    }

    .pageTy1 a.prev:hover .icon {
        background-position: -37px -34px;
    }

    .pageTy1 a.next:hover .icon {
        background-position: -72px -34px;
    }

    .pageTy1 a.last:hover .icon {
        background-position: -109px -34px;
    }

.totalCount {
    float: left;
    margin-top: 3px;
}

    .totalCount span {
        color: #a62929;
        font-weight: bold
    }

.pagination-container {
    vertical-align: top;
    text-align: center;
    margin: 30px 30px;
}
    /*.pagination-container .pagination {overflow:hidden;margin:0 auto;max-width:100%;width:570px;}*/
    .pagination-container .pagination {
        overflow: hidden;
        margin: 0 auto;
        max-width: 100%;
        width: auto;
        display: inline-block;
        text-align: initial;
    }

    .pagination-container .PagedList-skipToFirst a, .PagedList-skipToPrevious a, .PagedList-skipToNext a, .PagedList-skipToLast a {
        width: 31px;
        height: 31px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        background: url("../images/page.png") 0 0 no-repeat;
        text-indent: -9999px;
    }

    .pagination-container .PagedList-ellipses {
        display: none
    }

    .pagination-container li {
        display: inline-block;
        float: left;
    }

    .pagination-container a {
        position: relative;
        display: inline-block;
        width: 41px;
        height: 31px;
        line-height: 31px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: top;
        font-size: 15px;
        color: #666;
    }

        .pagination-container a:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            display: inline-block;
            width: 1px;
            height: 11px;
            background-color: #c3c3c3;
        }

    .pagination-container .PagedList-skipToPrevious + li a:before, .pagination-container .PagedList-ellipses + li a:before {
        display: none;
    }

    .pagination-container a:hover, .pagination-container a:focus {
        color: #e86917;
    }

    .pagination-container .active a {
        color: #e86917;
    }

    .pagination-container .PagedList-skipToPrevious {
        margin: 0 15px 0 3px;
    }

    .pagination-container .PagedList-skipToNext {
        margin: 0 3px 0 15px;
    }

    .pagination-container .PagedList-skipToFirst a {
        width: 31px;
        background-position: 0 0;
    }

    .pagination-container .PagedList-skipToPrevious a {
        width: 31px;
        background-position: -37px 0;
    }

    .pagination-container .PagedList-skipToNext a {
        width: 31px;
        background-position: -72px 0;
    }

    .pagination-container .PagedList-skipToLast a {
        width: 31px;
        background-position: -109px 0;
    }

    .pagination-container .PagedList-skipToFirst:hover a {
        background-position: 0 -34px;
    }

    .pagination-container .PagedList-skipToPrevious:hover a {
        background-position: -37px -34px;
    }

    .pagination-container .PagedList-skipToNext:hover a {
        background-position: -72px -34px;
    }

    .pagination-container .PagedList-skipToLast:hover a {
        background-position: -109px -34px;
    }

    .pagination-container .PagedList-skipToFirst a:before,
    .pagination-container .PagedList-skipToPrevious a:before,
    .pagination-container .PagedList-skipToNext a:before,
    .pagination-container .PagedList-skipToLast a:before {
        display: none;
    }