/* 탑 메뉴 */
.topheader {
    width: 100%;
    height: 73px;
    background-color: #fff;
    letter-spacing: -1px;
    font-family: NanumGothic, Dotum, Helvetica, sans-serif;
    border: 0px;
    position: fixed;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.topleft {
    position: absolute;
    left: 16px;
    top: 16px;
}

.topright {
    position: absolute;
    display: flex;
    right: 16px;
    top: 16px;
    width: auto;
}

    .topright > div {
        padding: 12px;
        line-height: 12px;
    }

.toprightmenu {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    text-decoration: none;
    color: #111;
}

    .toprightmenu :hover {
        text-decoration: none;
    }

    .toprightmenu.color {
        color: #3E8FB6 !important;
    }

.toptitle {
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

    .toptitle > span {
        font-size: 28px;
        font-weight: bold;
        line-height: 72px;
        font-family: NanumGothic, Dotum, Helvetica, sans-serif;
    }

    .toptitle.left {
        margin-left: auto;
    }

    .toptitle.right {
        margin-right: auto;
    }

    .toptitle.left > span {
        color: #3E8FB6;
    }

    .toptitle.right > span {
        color: #002060;
    }

.navarea {
    position: fixed;
    position: sticky;
    top: 73px;
    width: 100%;
    z-index: 999;
}

.topnav {
    background-color: #fff;
    letter-spacing: -1px;
    font-family: NanumGothic, Dotum, Helvetica, sans-serif;
    line-height: 12px;
    font-size: 12px;
}

    .topnav > div {
        display: flex;
        width: 100%;
        text-align: center;
        border-top: 1px solid #9a9a9a;
    }

        .topnav > div > ul {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0px;
            padding: 0px;
        }

.topmenu {
    background-color: #FFF;
}

    .topmenu div.menu > a {
        padding: 23px 13px;
        color: #111;
    }

    .topmenu.on div.bar {
        background-color: #3E8FB6;
    }

    .topmenu.on div.menu {
        color: #3E8FB6;
    }

        .topmenu.on div.menu > a {
            color: #3E8FB6;
        }

    .topmenu.on .submenu {
        display: flex;
    }

@media (max-width: 1150px) {
    .submenu.right {
        right: 0px;
    }
}

.topmenu a span {
    font-size: 16px;
    font-weight: 600;
    font-family: NanumGothic, Dotum, Helvetica, sans-serif;
}

.topmenu div.bar {
    height: 3px;
}

.topmenu div.menu {
    padding: 16px 8px;
    padding-top: 13px;
}

.topmenu > div > a {
    text-decoration: none;
}

    .topmenu > div > a:hover {
        text-decoration: none;
    }

.submenu {
    position: absolute;
    display: none;
    flex-direction: row;
    padding: 0px;
}

    .submenu > li {
        padding: 16px 8px;
        display: block;
    }

        .submenu > li > a {
            padding: 12px;
            font-size: 15px;
            font-weight: 400;
            color: #FFF;
            font-family: "helvetica neue";
            text-decoration: none;
        }

            .submenu > li > a:hover {
                text-decoration: none;
            }

        .submenu > li.on > a {
            color: yellow;
        }

        .submenu > li.select > a {
            color: yellow;
        }

.submenubg {
    height: 48px;
    background-color: #3E8FB6;
}

.toptitlebottom {
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../Images/gc_background.jpg);
    background-position: center;
    background-size: 100%;
    background-position-y: -500px;
    padding: 16px;
    line-height: 12px;
    font-size: 12px;
}

    .toptitlebottom > div {
        text-align: center;
        padding: 16px;
    }

        .toptitlebottom > div > h3 {
            font-size: 28px;
            color: #DAEDEF;
            font-family: "NanumSquere",dotum,Helvetica,sans-serif;
            line-height: 12px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-weight: 600;
        }

        .toptitlebottom > div > h4 {
            font-size: 20px;
            color: #fff;
            font-family: "NanumSquere",dotum,Helvetica,sans-serif;
            line-height: 12px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-weight: 600;
        }

footer {
    background-color: #35393e;
    text-align: center;
    padding: 0px;
}

    footer div {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 15px;
        padding-bottom: 0px;
        font-family: "Noto Sans KR";
        font-size: 14px;
        line-height: 22.4px;
        letter-spacing: 0.7px;
    }

    footer p {
        padding: 17px 0 16px 0;
        color: #999999;
        font-family: "Noto Sans KR";
        font-size: 12px;
        font-weight: lighter;
        line-height: 1.636em;
        letter-spacing: -0.15px;
    }

        footer p span {
            font-size: 11px;
        }



/* 메인 화면 */
.mainmenufourbg {
    background-color: #B0C3DE;
    position: absolute;
    width: 100%;
    height: 36px;
    z-index: -1
}

.mainmenufour {
    display: flex;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
}

    .mainmenufour div {
        padding: 16px;
    }

.mainmenuforitem {
    width: 200px;
    height: 200px;
    border: 1px solid #9a9a9a;
}

    .mainmenuforitem.white {
        color: #fff;
    }

.itemonwhite > div:first-child {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 80px;
    text-align: center;
    cursor: pointer;
}

.itemonwhite:hover > div:first-child {
    display: block;
}
