/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 200; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 50px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.imgbtn_add {
    background: url("../../images/btn_form_row_add.gif") no-repeat;
    width: 33px;
    height: 40px;
    display: block;
}

.popuphelp {
    border-radius: 16px;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.popuplayer {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.popupactive {
    display: block;
}

.popupinner {
    margin: 0 auto;
}

.popupclose {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}

    .popupclose:hover {
        opacity: 1;
    }

    .popupclose:before, .popupclose:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .popupclose:before {
        transform: rotate(45deg);
    }

    .popupclose:after {
        transform: rotate(-45deg);
    }