.tb_m_font {
    display: none;
}

.m_img {
    display: none;
}

.pc_img {
    display: block;
    margin: 0 auto;
}

.m_p {
    display: inline-block;
    vertical-align: middle;
}

.sub_title {
    height: 180px;
    background-image: url('../../images/2020/sub_title_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub_title .inner {
    position: relative;
    height: 180px;
}

.sub_title .inner::before {
    height: 250px;
    background-image: url('../../images/2020/sub_title_bg_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    width: 313px;
    right: 0;
    position: absolute;
    top: -47px;
}

.sub_title .inner .title_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sub_title .inner .title_box p {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.sub_title .inner .title_box span {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    display: block;
}

.third_menu_wrap {
    margin-bottom: 20px;
}

.third_menu_wrap .third_menu_box ul {
    border-bottom: 1px solid #ccc;
}

.third_menu_wrap .third_menu_box ul li {
    display: inline-block;
    line-height: 50px;
}

.third_menu_wrap .third_menu_box ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #333
}

.third_menu_wrap .third_menu_box ul li.home {
    background: #383d41;
    width: 50px;
    height: 50px;
}

.third_menu_wrap .third_menu_box ul li.home a {
    line-height: 49px;
    display: block;
    text-align: center;
}

.third_menu_wrap .third_menu_box ul li.home a img {
    vertical-align: middle;
}

.third_menu_wrap .third_menu_box ul li.second_menu {
    margin-left: 20px
}

.third_menu_wrap .third_menu_box ul li.print_share {
    float: right;
    display:none;
}

.third_menu_wrap .third_menu_box ul li.print_share img {
    vertical-align: middle;
}

.third_menu_wrap .third_menu_box ul li.print_share .share {
    margin-left: 25px;
}

.third_menu_wrap .third_menu_box ul .third_menu a {
    position: relative;
    margin-left: 40px;
}

.third_menu_wrap .third_menu_box ul li.third_menu a::before {
    position: absolute;
    content: '>';
    display: block;
    left: -27px;
}

.sub_section {
    overflow: hidden;
}

.sub_section .left_content {
    width: 280px;
    float: left;
}

.sub_section .left_content .accordion-box li p, .sub_section .left_content .accordion-box li.title_v3 span {
    padding: 0 30px;
}

.sub_section .left_content .accordion-box li .title_v2 {
    border-top: none;
    line-height: normal;
}

.sub_section .left_content .accordion-box li.title_v3 {
    width: 100%;
    height: 120px;
    display: table;
    background-image: url('../../images/2020/title_v3_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub_section .left_content .accordion-box li.sub_title_v3 {
    background: #f5f5f5;
    cursor: pointer;
}

.sub_section .left_content .accordion-box li.sub_title_v3:hover {}

.sub_section .left_content .accordion-box li.sub_title_v3 .title_v2 {
    color: #333;
    line-height: 50px;
    font-size: 23px;
    font-weight: 600;
    border: solid 1px #d6dce3;
    border-top: 0;
    overflow: hidden;
}

.sub_section .left_content .accordion-box li.sub_title_v3 .link_title {
    color: #333;
    line-height: 50px;
    font-size: 23px;
    font-weight: 600;
    border: solid 1px #d6dce3;
    border-top: 0;
    overflow: hidden;
    display: block;
    padding-left: 30px;
}

.sub_section .left_content .accordion-box li.sub_title_v3 .link_title.active {
    color: #fff;
    background: #375881;
    border-color: #375881
}

.sub_section .left_content .accordion-box li.sub_title_v3 .title_v2:hover {
    color: #fff;
    background: #375881;
    border-color: #375881
}

.sub_section .left_content .accordion-box li.sub_title_v3 .link_title:hover {
    color: #fff;
    background: #375881;
    border-color: #375881
}

.sub_section .left_content .accordion-box li.sub_title_v3 .title_v2.active {
    color: #fff;
    background: #375881;
    border-color: #375881
}

.sub_section .left_content .accordion-box li.sub_title_v3 .title_v2>em {
    font-style: normal;
    font-size: 30px;
}

.sub_section .left_content .accordion-box li.sub_title_v3 .title_v2.active>em {
    color: #fff;
    transform: rotate(45deg);
    transition: all 0.3s;
    display: inline-block;
}

.sub_section .left_content .accordion-box li.title_v3 span {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    display: table-cell;
    vertical-align: middle;
}

.sub_section .left_content .accordion-box li .con_v2 .nav_v2 {
    width: 100%;
    padding: 0 30px;
    border: solid 1px #d6dce3;
    border-top: none;
}

.sub_section .left_content .accordion-box li .con_v2 .nav_v2 .link {
    width: 100%;
    display: block;
    position: relative;
    font-size: 19px;
    font-weight: 600;
    color: #666;
}

.sub_section .left_content .accordion-box li .con_v2 .nav_v2 .link:hover {
    color: #0c4a96
}

.sub_section .left_content .accordion-box li .con_v2 .nav_v2 .link.active {
    color: #0c4a96
}

.sub_section .left_content .accordion-box {
    padding: 0;
}

.sub_section .left_content .con_v2 .link.active::before {
    display: none;
}

.sub_section .right_content {
    width: 960px;
    float: right;
}

.sub_section .right_content .sub_head {
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
    font-size: 24px;

}
.sub_section .right_content .sub_head h4 {
font-family: 'yg-jalnan';
}

.sub_section .right_content .sub_content_title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    background: url('../../images/2020/title_chk.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 26px;
    background-size: 16px;
    margin-top: 60px;
    margin-bottom: 40px;
    line-height: 1;
}

.sub_section .right_content .role p {
    font-size: 15px;
    color: #333;
    line-height: 26px;
}

.sub_section .right_content .map_box {
    width: 100%;
    overflow: hidden;
    display: table;
    margin-bottom: 80px;
}

.sub_section .right_content .map_box .map_left {
    position: relative;
}

.sub_section .right_content .map_box .map_left>img {
    min-width: 310px;
}

.sub_section .right_content .map_box .map_left .map-dot {
    width: 15px;
    height: 15px;
    background: #375881;
    border-radius: 100%;
    position: absolute;
    left: 151px;
    bottom: 184px;
}

.sub_section .right_content .map_box .map_left .map-dot2 {
    left: 224px;
    top: 162px;
}

.sub_section .right_content .map_box .map_left .map-dot3 {
    left: 458px;
    top: 182px;
}

.sub_section .right_content .map_box .map_left .map-dot4 {
    left: 520px;
    bottom: 170px;
}

.sub_section .right_content .map_box .map_left .map-dot.selected {
    width: 48px;
    height: 48px;
    background: rgba(55, 88, 129, 0.4)
}

.sub_section .right_content .map_box .map_left .map-dot1.selected {
    left: 134px;
    bottom: 168px;
}

.sub_section .right_content .map_box .map_left .map-dot2.selected {
    left: 207px;
    top: 144px;
}

.sub_section .right_content .map_box .map_left .map-dot3.selected {
    left: 441px;
    top: 166px;
}

.sub_section .right_content .map_box .map_left .map-dot4.selected {
    left: 503px;
    bottom: 154px;
}

.sub_section .right_content .map_box .map_left .map-dot.selected:after {
    width: 30px;
    height: 30px;
    background: #375881;
    border-radius: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    margin: auto;
    right: 0;
    top: 0;
}

.sub_section .right_content .map_box .map_left .map-dot .map_name {
    position: absolute;
    display: block;
    width: 70px;
    left: calc(50% - 35px);
    bottom: -25px;
    display: none;
    font-size: 15px;
    font-weight: 700;
    z-index: 10;
    font-family: 'yg-jalnan';
}

.sub_section .right_content .map_box .map_left .map-dot.selected .map_name {
    display: block;
}

.sub_section .right_content .map_box .map_left::after {}

.sub_section .right_content .map_box .map_right {
    display: table-cell;
    vertical-align: middle;
}

.sub_section .right_content .map_box .map_right .txt_box p {
    font-weight: 700;
    font-size: 17px;
    font-family: 'yg-jalnan';
}

.sub_section .right_content .map_box .map_right .txt_box.selected p {
    color: #375881;
    font-size: 18px;
}

.sub_section .right_content .map_box .map_right .txt_box span {
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 35px;
    display: inline-block;
}

.sub_section .right_content .text_box {
    background: #F1F0F0;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
    border: 8px solid #A3B7D4;
}

.sub_section .right_content .text_box p {
    font-size: 15px;
    color: #333;
    line-height: 24px;
    font-weight: 600;
}

.sub_section .right_content .text_box_v2 {
    margin-top: 40px;
    padding: 18px;
    overflow: hidden;
    position: relative;
}

.sub_section .right_content .text_box_v2 .right_btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #0c4a96;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.phone_box {
    width: 320px;
    height: 583px;
    background-image: url('../../images/2020/phone_bg.png');
    position: relative;
    float: left;
        background-repeat: no-repeat;
}

.phone_box .message_count {
    position: absolute;
    background: #f5f5f5;
    width: calc(100% - 27px);
    top: 60px;
    left: 1px;
    right: 0;
    margin: auto;
    padding: 10px;
}

.phone_box .message_count p {
    float: left;
    font-size: 13px;
    background-image: url('../../images/2020/message_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 28px;
}

.phone_box .message_count span {
    float: right;
    color: #f50808;
    font-size: 13px;
}

.phone_box .sms_byte {
    position: absolute;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: calc(100% - 27px);
    top: 395px;
    left: 1px;
    right: 0;
    margin: auto;
    padding: 10px;
}

.phone_box .sms_byte p {
    float: left;
    font-size: 13px;
}

.phone_box .sms_byte span {
    float: right;
    font-size: 13px;
}

.phone_box .sms_byte span em {
    font-style: normal;
    color: #f50808;
}

.phone_box .sms_btn {
    position: absolute;
    border-bottom: 1px solid #ccc;
    width: calc(100% - 27px);
    top: 432px;
    left: 1px;
    right: 0;
    margin: auto;
    background: #eff6fc;
    overflow: hidden;
}

.phone_box .sms_btn a {
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    padding: 10px;
}

.phone_box .sms_btn a:first-child {
    border-right: 1px solid #ccc;
}

.phone_box .sms_num {
    position: absolute;
    height: 50px;
    width: calc(100% - 27px);
    top: 472px;
    left: 1px;
    right: 0;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    background: #fff;
}

.phone_box .sms_num p {
    float: left;
    font-size: 13px;
    line-height: 30px;
}

.phone_box .sms_num input {
    float: right;
    border: 1px solid #ccc;
    padding: 4px 10px;
    width: 200px;
    height: 30px;
}

.message_box {
    overflow: hidden;
}

.message_ct {
    overflow: hidden;
}

.message_ct1 {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 960px;
}

.message_ct2 {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 960px;
}

.student_box {
    width: 280px;
    float: left;
    margin-left: 40px;
}

.student_sel {
    width: 100%;
    height: 472px;
    background-image: url('../../images/2020/student_sel.png');
    position: relative;
    float: left;
    overflow: auto;
}

.student_sel ul {
    padding: 10px 25px;
    padding-bottom: 25px;
}

.student_sel ul li {
    font-size: 15px;
    line-height: 49px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.student_btn {
    background: #394f6b;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    display: inline-block;
    margin-top: 11px;
    width: 100%;
}

.student_btn.del {
    background: #999;
    margin-top: 10px;
}

.message_chk {
    width: 280px;
    float: left;
    margin-left: 40px;
}

.message_chk_box {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.message_chk_box p {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
}

.message_chk_box input {
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

.message_chk_box label {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-left: 5px;
    margin-right: 25px;
}

.message_chk_btn {
    background: #394f6b;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.message_tp {
    margin-bottom: 40px;
}

.message_tp>span {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
}

.message_tp>select {
    font-size: 15px;
    width: 120px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-left: 20px;
}

.message_tp_list {
    overflow: hidden;
}

.message_tp_list>a>div {
    width: calc(100% - 50px);
    height: calc(220px - 50px);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.message_tp_list>a {
    display: block;
    width: 215px;
    height: 220px;
    float: left;
    margin-left: 33px;
    background-image: url('../../images/2020/message_tp.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.message_tp_list>a:first-child {
    margin-left: 0;
}

.message_tp_list>a>div>p {
    font-size: 15px;
    line-height: 24px;
    word-break:keep-all
}

.sub_section .right_content .down_link {
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: -10px;
}

.sub_section .right_content .down_link p {
    font-size: 16px;
    font-weight: 600;
    display: grid;
    float: left;
    line-height: 25px;
    letter-spacing: 8.5px;
}

.sub_section .right_content .down_link p span {
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    font-family: 'yg-jalnan';
    letter-spacing: normal;
}

.sub_section .right_content .down_link a {
    font-size: 16px;
    font-weight: 700;
    background-color: #394f6b;
    color: #fff;
    width: 224px;
    line-height: 30px;
    display: inline-block;
    border-radius: 10px 0 10px 0;
    background-image: url('../../images/2020/link.png');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 190px center;
    padding-left: 20px;
    float: left;
    margin-left: 21px;
}

.sub_section .right_content .down {
    overflow: hidden;
}

.sub_section .right_content .down .down_img {
    width: 293px;
    float: left;
}

.sub_section .right_content .down .down_img p {
    font-size: 15px;
    margin-top: 40px;
    line-height: 24px;
}

.sub_section .right_content .down .down_img span {
    font-weight: 700;
    color: #375881
}

.sub_section .right_content .down .down_img.center {
    margin: 0 40px;
}

.sub_section .right_content .down .down_img.center_v2 {
    margin-left: 40px;
    width: calc(100% - 333px)
}

.sub_section .right_content .m_aply {
    display: none;
}

.sub_section .right_content table.tg {
    width: 100%;
}

.sub_section .right_content table.tg td {
    text-align: center;
    font-size: 17px;
    line-height: 40px;
}

.sub_section .right_content table.tg tbody tr {
    border-top: 1px solid #ccc;
}

.sub_section .right_content table.tg tbody tr:last-child {
    border-bottom: 1px solid #ccc;
}

.sub_section .right_content table.tg tbody tr td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sub_section .right_content table.tg thead tr th {
    font-size: 18px;
    font-weight: 400;
    background: #f5f5f5;
    border-top: 1px solid #333;
    line-height: 40px;
}

.sub_section .right_content table.tg_v2 tbody tr:first-child {
    border-color: #333;
}

.sub_section .right_content table.tg_v2 tbody tr td:first-child {
    font-size: 14px;
    font-weight: 400;
    background: #f5f5f5;
    text-align: left;
    line-height: 40px;
    padding-left: 15px;
    min-width: 107px;
}

.sub_section .right_content table.tg_v2 tbody tr td {
    white-space: normal;
}

.sub_section .right_content table.tg_v2 tbody tr td #chk {
    vertical-align: -2px;
    margin-right: 3px;
}

.sub_section .right_content table.tg_v2 tbody tr td:first-child {
    font-size: 14px;
    font-weight: 400;
    background: #f5f5f5;
    text-align: left;
    line-height: 40px;
    padding-left: 15px;
}

.sub_section .right_content table.tg_v2 tbody tr td {
    text-align: left;
    padding: 0 15px;
    line-height: normal;
    vertical-align: middle;
}

.sub_section .right_content table.tg_v2 tbody tr td .date {
    padding-top: 10px;
}

.sub_section .right_content table.tg_v2 tbody tr td .time {
    padding-bottom: 10px;
    margin-top: 10px;
}

.sub_section .right_content table.tg_v2 tbody tr td select {
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    padding-left: 7px;
}

.sub_section .right_content table.tg_v2 tbody tr td #dteEnd {
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    padding-left: 10px;
    position: relative;
    background: url('../../images/2020/date.png');
    background-size: 14px;
    background-position: 170px center;
    background-repeat: no-repeat;
}

.sub_section .right_content table.tg_v2 tbody tr td .phone_span {
    vertical-align: middle;
}

.sub_section .right_content table.tg_v2 tbody tr td .phone {
    border: 1px solid #ccc;
    width: 80px;
    height: 30px;
    padding-left: 10px;
    margin: 10px 0;
}

.sub_section .right_content table.tg_v2 tbody tr td .phone1 {
    width: 60px;
}

.sub_section .right_content table.tg_v2 tbody tr td .qna {
    max-width: 400px;
    width: 100%;
    margin: 10px 0;
}

.sub_section .right_content table.tg_v2 tbody tr td .input_title {
    border: 1px solid #ccc;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    margin: 10px 0;
}

.sub_section .right_content .text_area {
    border: 1px solid #ccc;
    width: 100%;
    height: 20.7vw;
    padding-left: 10px;
    border-top: none;
    padding: 15px;
    min-height: 180px;
    resize: none;
}

.sub_section .right_content .text_area_v2 {
    position: absolute;
    width: calc(100% - 27px);
    top: 95px;
    left: 1px;
    right: 0;
    margin: auto;
    padding: 20px;
    border: none;
    height: 300px;
}

.sub_section .right_content .m_table_help {
    display: none;
}

.sub_section .right_content .table_help {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
}

.sub_section .right_content .table_help select {
    width: 90px;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    float: left;
}

.sub_section .right_content .table_help input {
    width: 220px;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    float: left;
    margin: 0 10px;
}

.sub_section .right_content .table_help button {
    width: 54px;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    float: left;
}

.sub_section .right_content .table_help input::placeholder {
    color: #ccc;
}

.bbs_text_type_paging {
    margin-bottom: 130px;
    position: relative;
    margin-top: 30px;
}

.bbs_text_type_paging ul {
    text-align: center;
}

.bbs_text_type_paging ul li {
    width: 30px;
    height: 30px;
    border: solid 1px #ccc;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    display: inline-block;
    margin: 0 3px;
}

.bbs_text_type_paging ul li a {
    font-weight: 500;
    display: block;
}

.bbs_text_type_paging ul li a span {
    display: inline-block;
    margin-left: -1px;
}

.bbs_text_type_paging ul li:hover {
    border-color: #777;
    background: #777;
}

.bbs_text_type_paging ul li:hover a {
    color: #fff;
}

.bbs_text_type_paging ul li.on {
    border-color: #555;
    background: #555;
}

.bbs_text_type_paging ul li.on a {
    color: #fff;
}

.bbs_text_type_paging .aply {
    width: 170px;
    line-height: 35px;
    background: #0c4a96;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 60px;
    left: 0;
    margin: auto;

    text-align: center;
}

.tb_txt {
    padding-left: 10px;
    color: #ea00ff;
    font-size: 12px;
    vertical-align: middle;
}

.btn_box {
    margin-bottom: 80px;
    margin-top: 30px;
    overflow: hidden;
}

.btn_box>a {
    width: 100px;
    line-height: 28px;
    text-align: center;
    border: solid 1px #ccc;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    display: block;
}

.btn_box>.left_btn {
    float: left;
}

.btn_box>.right_btn_white {
    float: right;
}

.btn_box>.right_btn {
    float: right;
    background: #0c4a96;
    color: #fff;
    border-color: #0c4a96;
}

.btn_box > .right_btn_red {
    float: right;
    background: #a62929;
    color: #fff;
    border-color: #a62929;
}

.btn_box > .right_btn_green {
    float: right;
    background: rgb(28, 153, 164);
    color: #fff;
    border-color: rgb(28, 153, 164);
}

.btn_box > .right_btn_indigo {
    float: right;
    background: #234466;
    color: #fff;
    border-color: #234466;
}

.btn_box > .right_btn_orange {
    float: right;
    background: #e29d20;
    color: #fff;
    border-color: #e29d20;
}

.tab_box {
    margin-top: 60px;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

ul.tabs li {
    background: none;
    color: #333;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #ccc;
    float: left;
    width: 25%;
    line-height: 48px;
    text-align: center;
}

ul.tabs li:first-child {
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

ul.tabs li:last-child {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

ul.tabs li.current {
    background: #0c4a96;
    color: #fff;
    border-color: #0c4a96;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

.m_message_ct2 {
    display: none;
}

/* 모바일 */
@media all and (max-width:1299px) {
    @media all and (max-width:899px) {
        .tb_m_font {
            display: block;
        }

        .tb_txt {
            padding-left: 0;
            display: block;
            line-height: 1.2;
            margin-top: 5px;
        }

        .sub_section .right_content table.tg_v2 tbody tr td .date {
            line-height: normal;
        }

        .sub_section .right_content table.tg_v2 tbody tr td .time {
            margin-top: 15px;
            line-height: normal;
        }
    }

    @media all and (max-width:988px) {
        .message_ct1, .message_ct2 {
            width: 640px;
        }

        .message_chk {
            width: 280px;
            margin-left: 0;
            margin-top: 60px;
        }
        .message_ct2 {
            display: none;
        }
        .m_message_ct2 {
            display: block;
            float: left;
            margin-top: 60px;
            margin-left: 40px;
            width: 320px;
        }
        .m_message_ct2 .message_tp_list>a>div {
            height: calc(160px - 30px);
                width: calc(100% - 30px);

        }
        .m_message_ct2 .message_tp_list>a>div>p{
            line-height: 18px;
            font-size: 14px;
        }
        .m_message_ct2 .message_tp_list>a {
            height: 160px;
            width: 155px;
            margin-left: 10px;
            margin-top: 10px;
        }
        .m_message_ct2 .message_tp_list>a:nth-child(1) {
            margin-top: 0;
        }
        .m_message_ct2 .message_tp_list>a:nth-child(2) {
            margin-top: 0;
        }
        .m_message_ct2 .message_tp_list>a:nth-child(2n-1) {
            margin-left: 0;
        }
    }

    @media all and (max-width:988px) {
        .sub_section .right_content .down .down_img.center, .sub_section .right_content .down .down_img.center_v2 {
            margin: 0 10px;
        }

        .sub_section .right_content .down {
            display: flex;
            justify-content: space-evenly;
        }

        .table_div {
            width: 100%;
            overflow-x: auto;
        }

        .sub_section .right_content table.tg.tg_v2 {
            display: block;
        }
    }

    @media all and (max-width:780px) {
        .m_img {
            display: block;
            margin: 0 auto;
            width: 50%
        }

        .pc_img {
            display: none;
        }

        .sub_section .right_content .sub_content_title {
            font-size: 16px;
        }

        .sub_section .right_content .down {
            display: block;
        }

        .sub_section .right_content .down .down_img {
            float: none;
            margin: 30px auto;
        }
        .sub_section .right_content .down .down_img:first-child {
            margin-top: 0;
        }

        .sub_section .right_content .down .down_img.center, .sub_section .right_content .down .down_img.center_v2 {
            margin: 30px auto;
            width: auto;
            text-align: center;
        }

        .bbs_text_type_paging ul li.m_list {
            display: none;
        }

        .sub_section .right_content .text_box p {
            font-size: 14px;
            letter-spacing: -1px;
        }

        .sub_section .right_content .text_box {
            padding: 15px;
        }
    }
    @media all and (max-width:670px) {
.message_ct1, .message_ct2 {
    width: auto;
}
.m_message_ct2 {
    float: none;
    margin: 0 auto;
    width: 320px;
}
.message_tp {
    text-align: center;
    margin-top: 40px;
}
.message_chk {
    float: none;
    overflow: hidden;
    margin: 0 auto;
    width: 280px;
}
.student_box {
    float: none;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 40px;
}
.phone_box {
    float: none;
    overflow: hidden;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    width: 280px;
    height: 512px;
    margin-bottom: 40px;

}
.phone_box .sms_byte {
    top: 335px;
    width: calc(100% - 23px);
}
.phone_box .sms_btn {
    width: calc(100% - 23px);
    top: 372px;
}
.phone_box .sms_btn a {
    font-size: 14px;
}
.sub_section .right_content .text_area_v2 {
    width: calc(100% - 23px);
    height: 247px;
    top: 88px;
    padding-top: 15px;
    padding-bottom: 15px;


}
.phone_box .sms_num {
    width: calc(100% - 23px);
    top:409px;
    text-align: center;
}
.phone_box .sms_num p {
    display: none;
}
.phone_box .sms_num input {
    float: none;
}
.phone_box .message_count {
    top:53px;
    width: calc(100% - 23px);
}
.sub_section .right_content .text_box_v2 .right_btn {
    width: 70px;
    height: 30px;
    line-height: 32px;
}
ul.tabs li {
    font-size: 14px;
    line-height: 35px;
}
        }
    @media all and (max-width:619px) {
        .sub_section .right_content .table_help {
            display: none;
        }

        .sub_section .right_content .m_table_help {
            float: none;
            display: block;
            top: 60px;
            width: 384px;
            left: 0;
            right: 0;
            margin: auto;
        }

        .sub_section .right_content .down .down_img p {
            font-size: 14px;
            margin-top: 20px;
            line-height: 18px;
        }

        .sub_section .right_content .map_box {
            display: block;
            margin-bottom: -35px;
        }

        .sub_section .right_content .map_box .map_left {
            width: 303px;
            margin: 0 auto;
        }

        .sub_section .right_content .map_box .map_right {
            display: block;
            margin-top: 40px;
        }

        .sub_section .right_content .map_box .map_right .txt_box p {
            font-size: 15px;
        }

        .sub_section .right_content .map_box .map_right .txt_box.selected p {
            font-size: 16px;
        }

        .sub_section .right_content .map_box .map_right .txt_box span {
            font-size: 13px;
        }

        .m_img {
            width: 100%
        }

        .aply {
            display: none;
        }

        .sub_section .right_content .m_aply {
            display: block;
            width: 70px;
            line-height: 30px;
            background: #0c4a96;
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            position: absolute;
            right: 0px;
            top: -5px;
            text-align: center;
        }
    }

    .sub_section .right_content .text_box p {
        font-weight: 400
    }

    .btn_box {
        margin-bottom: 30px;
    }

    .bbs_text_type_paging {
        margin-bottom: 90px;
    }

    .sub_section .left_content {
        display: none;
    }

    .sub_section .right_content {
        width: 100%;
    }

    .third_menu_wrap .third_menu_box ul li.print_share {
        display: none;
    }

    .sub_title, .sub_title .inner {
        height: 130px;
    }

    .sub_title .inner::before {
        bottom: 0;
        height: 70px;
        width: 155px;
        background-size: cover;
        top: 0px;
        right: 15px;
    }

    .sub_title .inner .title_box p {
        font-size: 15px;
    }

    .sub_title .inner .title_box span {
        font-size: 13px;
    }

    .sub_title .inner .title_box {
        padding: 0 15px;
    }

    .third_menu_wrap .third_menu_box ul li.home {
        width: 30px;
        height: 30px;
    }

    .third_menu_wrap .third_menu_box ul li.home a {
        line-height: 30px;
    }

    .third_menu_wrap .third_menu_box ul {
        padding: 8px 0;
    }

    .third_menu_wrap .third_menu_box ul li {
        line-height: 30px;
    }

    .third_menu_wrap .inner {
        padding: 0 15px !important
    }

    .sub_section .inner {
        overflow: hidden;
        padding: 40px 15px !important
    }

    .sub_section .right_content .sub_head {
        margin-top: 0;
        padding-bottom: 20px;
        font-size: 18px;
    }

    .third_menu_wrap {
        margin-bottom: 0
    }

    .sub_section .right_content .sub_content_title {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media all and (max-width:440px) {
    .sub_section .right_content table.tg_v2 tbody tr td .phone {
        width: calc(100% / 3 - 10px);
        padding: 0;
        text-align: center;
    }

    .m_p {
        display: none;
    }

    .sub_section .right_content table.tg_v2 tbody tr td:first-child {
        font-size: 13px;
    }
}

@media all and (max-width:437px) {
    .third_menu_wrap .third_menu_box ul li a {
        font-size: 13px;
    }

    .third_menu_wrap .third_menu_box ul .third_menu a {
        margin-left: 20px;
    }

    .third_menu_wrap .third_menu_box ul li.third_menu a::before {
        left: -15px;
    }

    .third_menu_wrap .third_menu_box ul li.second_menu {
        margin-left: 11px;
    }

    .sub_section .right_content .down_link a {
        margin-left: 0;
        margin-top: -10px;
    }

    .sub_section .right_content .down_link p {
        float: none;
    }
}

@media all and (max-width:415px) {
    .sub_section .right_content .m_table_help {
        width: 298px
    }

    .sub_section .right_content .table_help input {
        width: 154px;
    }

    .sub_section .right_content .table_help select {
        width: 70px;
    }
}

@media all and (max-width:385px) {
    .bbs_text_type_paging ul li.m_list_v2 {
        display: none;
    }
}


@media all and (max-width:350px) {
    .m_message_ct2 {
        width: 280px;
    }
    .m_message_ct2 .message_tp_list>a {
        width: 135px;
        height: 140px;
    }
    .m_message_ct2 .message_tp_list>a>div {
        height: calc(140px - 30px)
    }
}
@media all and (max-width:345px) {
    .bbs_text_type_paging ul li.m_list_v3 {
        display: none;
    }

    .sub_section .right_content .table_help input {
        width: 146px;
        font-size: 12px;
    }

    .sub_section .right_content .m_table_help {
        width: 290px
    }
    .third_menu_wrap .third_menu_box ul li a {
        font-size: 12px;
    }
}
