﻿
@model  Dream.Web.AfterSchool.MobileWeb.Models.UserInformationViewModel

@{
    ViewBag.Title = "UserInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var modify = function () {
        event.preventDefault();
        if ($("#username").val().trim() == "") {
            alert("이름을 입력해 주세요.");
            return;
        }

        if (!$("#agreeinfo").prop("checked")) {
            alert("개인정보 수집에 동의하지 않았습니다.");
            return;
        }

        var url = $("#userinfo")[0].action;

        $.ajax({
            url: url,
            data : $("#userinfo").serialize(),
            type: 'POST',
            beforeSend: function () {
                $.isLoading({
                    text: "불러오는 중..",
                    position: "overlay",
                    class: "fa fa-spinner fa-spin"
                });
            },
            complete: function () {
                $.isLoading("hide");
            }
        })
            .done(function (data) {
            if (data.ok) {
                alert(data.message);
                document.location.href = "@Url.Action("Index", "Home")";
            } else {
                alert(data.message);
            }
        })
        .error(function (msg) {
            if (error != null) {
                error(msg);
            }
            else {
                error("오류가 발생하였습니다.");
            }
        });

    }
</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            @using (Html.BeginForm("SetUserInformation", "Common", FormMethod.Post, new { id = "userinfo", @class = "form-horizontal form-label-left" }))
            {
                @Html.HiddenFor(x => x.member.midx)
                @*@Html.Hidden("IsSetPasswordView", (bool)ViewBag.IsSetPasswordView)*@
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">학교</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        @Html.DropDownListFor(x => x.member.sch_code, (new SelectList(Model.schoolInfos, "sch_code", "sch_name", Model.member.sch_code)), new { @class = "select wd1" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">학반</label>
                    @{
                        var gradelist = new List<string>(new string[] { "1학년", "2학년", "3학년" });
                        var classlist = new List<string>();
                        var nolist = new List<string>();
                        for (int i = 1; i < 51; i++)
                        {
                            if (i < 16)
                            {
                                classlist.Add(string.Format("{0}반", i));
                            }
                            nolist.Add(string.Format("{0}번", i));
                        }
                    }
                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding-right:0px;">
                        @Html.DropDownListFor(x => x.member.grade, new SelectList(gradelist.Select((x, idx) => new { Value = idx + 1, Text = x }), "Value", "Text", Model.member.grade))
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding:0px 5px;">
                        @Html.DropDownListFor(x => x.member.mclass, new SelectList(classlist.Select((x, idx) => new { Value = idx + 1, Text = x }), "Value", "Text", Model.member.mclass))
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">
                        @Html.DropDownListFor(x => x.member.no, new SelectList(nolist.Select((x, idx) => new { Value = idx + 1, Text = x }), "Value", "Text", Model.member.no))
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">이름</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        @Html.TextBoxFor(x => x.member.uname, new { @id = "username", @style = "ime-mode:active;" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">연락처</label>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding-right:0px;">
                        @{
                            var telcomlist = new List<string>(new string[] { "010", "011", "016", "017", "019" });
                        }
                        @Html.DropDownListFor(x => x.member.telcom, new SelectList(telcomlist.Select(x => new { Value = x, Text = x }), "Value", "Text", Model.member.telcom), new { @class = "select wd1" })
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding:0px 5px;">
                        @Html.TextBoxFor(x => x.member.phone1)
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">
                        @Html.TextBoxFor(x => x.member.phone2)
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">성별</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        @{
                            var genderlist = new List<string>(new string[] { "남자", "여자" });
                        }
                        @Html.DropDownListFor(x => x.member.Gender, new SelectList(genderlist.Select((x, idx) => new { Value = idx + 1, Text = x }), "Value", "Text", Model.member.Gender), new { @class = "select wd1" })
                    </div>
                </div>*@
                <div class="form-group row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="checkbox" class="control-label" id="agreeinfo" /><label for="agreeinfo">개인정보 수집에 동의 합니다.</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                        <button type="button" class="btn btn-success" onclick="modify()">수정</button>
                    </div>
                </div>

                }
                </div>
            </div>
</div>

